<!--File:User_ProfileChangeAudit List View-->
@using EMS.DataAccess.Data;
@using EMS.Framework.Utils
@{
    ViewBag.Title = "Admission: Profile Change Audit Report";
    Layout = "~/Areas/Admission/Views/Shared/_LayoutAdmission.cshtml";

    // Angular Properties
    var id = Request.QueryString["id"];//ViewContext.RouteData.Values["id"];
    var ProfileChangeAuditId = (string)id == null ? "0" : (string)id;

    //WebApi link for single row
    var getProfileChangeAuditByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ProfileChangeAuditApi", action = "GetProfileChangeAuditById", area = "Admission" });
    var getProfileChangeAuditDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ProfileChangeAuditApi", action = "GetProfileChangeAuditDataExtra", area = "Admission" });
    var saveProfileChangeAuditUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ProfileChangeAuditApi", action = "SaveProfileChangeAudit", area = "Admission" });
    var deleteProfileChangeAuditByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ProfileChangeAuditApi", action = "GetDeleteProfileChangeAuditById", area = "Admission" });

    //WebApi link for List
    var getPagedProfileChangeAuditUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ProfileChangeAuditApi", action = "GetPagedProfileChangeAudit", area = "Admission" });
    var getAllProfileChangeAuditUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ProfileChangeAuditApi", action = "GetAllProfileChangeAudit", area = "Admission" });
    var saveProfileChangeAuditListUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ProfileChangeAuditApi", action = "SaveProfileChangeAuditList", area = "Admission" });
    var getProfileChangeAuditListDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ProfileChangeAuditApi", action = "GetProfileChangeAuditListDataExtra", area = "Admission" });

    var editStudentByIdAcademicPageUrl = Url.Action("StudentAddEdit", "Student", new { area = "Academic" });

    //Angular Function Name
    var getNewProfileChangeAudit = "getNewProfileChangeAudit";
    var saveProfileChangeAudit = "saveProfileChangeAudit";
    var deleteProfileChangeAuditById = "deleteProfileChangeAuditById";
    var deleteProfileChangeAuditByObj = "deleteProfileChangeAuditByObj";
    //for list
    var searchProfileChangeAuditList = "searchProfileChangeAuditList";
    var getPagedProfileChangeAuditList = "getPagedProfileChangeAuditList";
    var getAllProfileChangeAuditList = "getAllProfileChangeAuditList";
    var saveProfileChangeAuditList = "saveProfileChangeAuditList";
    var getProfileChangeAuditListExtraData = "getProfileChangeAuditListExtraData";

    var refreshPage = "loadPage()";

}
@section ScriptSection
{
    <script src="~/Areas/Admission/Views/Report/ProfileChangeAuditReport.js"></script>
    <script src="~/assets/custom/lib/TableExport/tableExport.js?v=2"></script>
}

<div ng-controller="ProfileChangeAuditListCtrl"
     ng-init="Init(
      '@getPagedProfileChangeAuditUrl'
     ,'@deleteProfileChangeAuditByIdUrl'
     ,'@getProfileChangeAuditListDataExtraUrl'
     ,'@saveProfileChangeAuditListUrl'
     ,'@getProfileChangeAuditByIdUrl'
     ,'@getProfileChangeAuditDataExtraUrl'
     ,'@saveProfileChangeAuditUrl'
     )">
    <div ng-Hide="!HasError ||ErrorMsg==''" class="alert alert-danger fade in radius-bordered alert-shadowed">
        <button ng-click="HasError=false" class="close" data-dismiss1="alert">×</button>
        <i class="fa-fw fa fa-warning"></i>
        <strong>Attention Please!</strong> {{ErrorMsg}}
    </div>
    <div class="widget" ng-show="HasViewPermission">

        <div class="widget-header bordered-bottom bordered-sky ">
            <i class="widget-icon fa fa-list bold  "></i>
            <span class="widget-caption ">Manage Profile Change Audit </span>
            <div class="widget-buttons buttons-bordered no-padding-right">
                <span class="input-icon">
                    <input type="text" ng-model="UserName" class="form-control input-xs " id="glyphicon-search" placeholder="Search Student ID" style="">
                    <i class="glyphicon glyphicon-search blue"></i>
                </span>
            </div>
            <div  ng-show="SelectedField.Id == @((byte)User_ProfileChangeAudit.FieldEnum.DepartmentChange) 
                                || SelectedField == null" class="widget-buttons buttons-bordered no-padding-right">
                <span class="input-icon">
                    <input type="text" ng-model="NewUserName"class="form-control input-xs " id="glyphicon-search" placeholder="Search New Student ID" style="">
                    <i class="glyphicon glyphicon-search blue"></i>
                </span>
            </div>

            <div class="widget-buttons no-padding-left">
                <button ng-click="toggleAdvSearch = !toggleAdvSearch" class="btn btn-primary btn-xs"><i ng-hide="toggleAdvSearch" class="fa fa-plus"></i> <i ng-show="toggleAdvSearch" class="fa fa-minus"></i> Advance Search</button>
                <button ng-click="@(searchProfileChangeAuditList)()" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i> Refresh</button>
            </div>
        </div>
        <div class="widget-body no-padding">

            <div class="row text-center">
                <div class="col-md-12 table-form">
                    <div class="widget-buttons buttons-bordered no-padding-right">
                        <span class="widget-caption form-inline">
                            @*<span>Select Log Field</span>*@
                            <select ng-change="ProfileChangeAuditList = null" ng-model="SelectedField"
                                    ng-options="option as option.Name for option in FieldEnumList " ng-init="" class="form-control input-xs ">
                                <option value="" label="" class="">---Select Log Field---</option>
                            </select>
                        </span>
                    </div>
                    
                    <div class="widget-buttons buttons-bordered no-padding-right">
                        <span class="input-icon">
                            <input type="text" ng-model="OldValue" class="form-control input-xs " id="glyphicon-search" placeholder="Search Old Value" style="">
                            <i class="glyphicon glyphicon-search blue"></i>
                        </span>
                    </div>
                    <div class="widget-buttons buttons-bordered no-padding-right">
                        <span class="input-icon">
                            <input type="text" ng-model="NewValue" class="form-control input-xs " id="glyphicon-search" placeholder="Search New Value" style="">
                            <i class="glyphicon glyphicon-search blue"></i>
                        </span>
                    </div>
                </div>
                <div ng-show="toggleAdvSearch">
                    <div class="col-md-4 table-form">
                        <table class="form" width="100%" border="0" cellspacing="2" cellpadding="3">
                            <tbody>
                            <tr>
                                <td class="fieldlabel">Select Start Semester </td>
                                <td class="fieldarea">
                                    <select ng-model="SelectedStartSemesterId"
                                            ng-options="option.Id as option.Name for option in SemesterList " ng-init="" class="form-control input-xs ">
                                        <option value="" label="" class="">---Select Semester---</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="fieldlabel">Start Date: </td>
                                <td class="fieldarea">
                                    <input ng-model="StartDate" style="font-weight: normal;" type="text" class="form-control date-picker" />
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-4 table-form">
                        <table class="form" width="100%" border="0" cellspacing="2" cellpadding="3">
                            <tbody>
                            <tr>
                                <td class="fieldlabel">Select End Semester</td>
                                <td class="fieldarea">
                                    <select ng-model="SelectedEndSemesterId"
                                            ng-options="option.Id as option.Name for option in SemesterList " ng-init="" class="form-control input-xs ">
                                        <option value="" label="" class="">---Select Semester---</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="fieldlabel">End Date: </td>
                                <td class="fieldarea">
                                    <input ng-disabled="StartDate==null" ng-model="EndDate" style="font-weight: normal; width: 220px;" type="text" class="form-control date-picker" />
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="col-md-4 table-form">
                        <table class="form" width="100%" border="0" cellspacing="2" cellpadding="3">
                            <tbody>

                            <tr ng-show="SelectedField.Id == @((byte)User_ProfileChangeAudit.FieldEnum.DepartmentChange) 
                                || SelectedField == null">
                                    <td class="fieldlabel">Select Old Dept/Program</td>
                                    <td class="fieldarea">
                                        <select ng-model="oldPk"
                                                ng-options="option.Id as option.Name for option in ProgramList" class="form-control input-xs ">
                                            <option value="" label="" class="">---Select Old Program---</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr ng-show="SelectedField.Id == @((byte)User_ProfileChangeAudit.FieldEnum.DepartmentChange) || SelectedField== null">
                                    <td class="fieldlabel">Select New Dept/Program </td>
                                    <td class="fieldarea">
                                        <select ng-model="newPK"
                                                ng-options="option.Id as option.Name for option in ProgramList" class="form-control input-xs ">
                                            <option value="" label="" class="">---Select New Program---</option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="col-md-12 text-center" style="margin-bottom: 10px">
                    <button ng-click="@(searchProfileChangeAuditList)()" class="btn btn-md btn-primary"><i class="fa fa-search"></i>Search</button>
                </div><!--Col end-->

            </div>

            <div ng-show="ProfileChangeAuditList.length>0">
                <div class="text-center">
                    <h3>{{SelectedField.Name}} Report</h3> 
                </div>
                <div class="table-footer no-print">
                    @OptionControl()
                </div>
                <div class="dropdown form-group pull-right" style="margin: 10px">
                    <button class="btn btn-xs btn-danger dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-download"></i> Download List
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                        <li><a href="#" onclick="$('#StudentProfileChangeAuditList').tableExport({ fileName: 'StudentProfileChangeAuditList', type: 'xls', worksheetName: 'Worksheet', escape: 'false' });"><i class="fa fa-file-excel-o"></i> As Excel(.xls)</a></li>
                        <li><a href="#" onclick="$('#StudentProfileChangeAuditList').tableExport({ fileName: 'StudentProfileChangeAuditList', type: 'doc', escape: 'false' });"><i class="fa fa-file-word-o"></i> As Word(.doc)</a></li>
                        <li><a href="#" onclick="$('#StudentProfileChangeAuditList').tableExport({ fileName: 'StudentProfileChangeAuditList', type: 'csv', escape: 'false' });"><i class="fa fa-file-excel-o"></i> As CSV(.csv)</a></li>
                    </ul>
                </div>
                <table id="StudentProfileChangeAuditList" class="table table-striped table-bordered table-hover">
                    <thead class="bordered-blue">
                    <tr>
                        <th class="text-center" style="display: none">
                            <input type="checkbox" ng-click="selectAll($event)">
                        </th>
                        <th class="text-center">SN</th>
                        <th class="text-center">
                            <span ng-show="SelectedField.Id == @((byte)User_ProfileChangeAudit.FieldEnum.DepartmentChange)"> Old </span> Student ID
                        </th>
                        <th ng-show="SelectedField.Id == @((byte)User_ProfileChangeAudit.FieldEnum.DepartmentChange)" class="text-center">New Student ID</th>
                        <th class="text-center">Std Name</th>
                        @*<th class="text-center">Field</th>*@
                        <th class="text-center">Old {{SelectedField.Name.replace("Change","")}}</th>
                        <th class="text-center">New {{SelectedField.Name.replace("Change","")}}</th>
                        <th class="text-center">Changed By</th>
                        <th class="text-center">Changed From IP</th>
                        <th class="text-center" style="width: 80px">Changed At</th>
                        <th class="text-center">Change Semester</th>
                        <th class="text-center">Remark</th>
                        @if (HttpUtil.IsSupperAdmin())
                        {
                            <th class="text-center no-print">Action</th>
                        }
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="row in ProfileChangeAuditList">
                        <td class="text-center" style="display: none">
                            <input type="checkbox" ng-model="row.@User_ProfileChangeAudit.Property_IsSelected"/>
                        </td>
                        <td class="text-center">{{$index+1}}</td>
                        <td class="text-center">
                            <a target="_blank" href="@(editStudentByIdAcademicPageUrl)/?id={{row.UserId}}"> {{row.ClassRollNo}}</a>
                        </td>
                        <td ng-show="SelectedField.Id == @((byte)User_ProfileChangeAudit.FieldEnum.DepartmentChange)" class="text-center">
                            <a target="_blank" href="@(editStudentByIdAcademicPageUrl)/?id={{row.@User_ProfileChangeAudit.Property_NewUserId}}"> {{row.NewClassRollNo}}</a>
                        </td>
                        <td class="text-center">{{row.FullName}}</td>
                        <!--td class="">{{row.@User_ProfileChangeAudit.Property_UserId}}</td-->
                        <!--td class="">{{row.@User_ProfileChangeAudit.Property_FieldEnumId}}</td-->
                        @*<td class="">{{row.@User_ProfileChangeAudit.Property_Field}}</td>*@
                        <td class="">{{row.@User_ProfileChangeAudit.Property_OldValue}}</td>
                        <td class="">{{row.@User_ProfileChangeAudit.Property_NewValue}}</td>
                        <td class="">{{row.ChangedByUser}}</td>
                        <td class="">{{row.@User_ProfileChangeAudit.Property_ChangeByIpAddress}}</td>
                        <td class="">{{row.@User_ProfileChangeAudit.Property_CreateDate | date:'dd-MM-yyyy'}} </td>
                        <td class="text-center">
                            {{row.SemesterName}}
                        </td>
                        <td class="">{{row.@User_ProfileChangeAudit.Property_Remark}}</td>
                        @if (HttpUtil.IsSupperAdmin())
                        {
                            <td class="text-center no-print">
                                <button ng-click="@(deleteProfileChangeAuditById)(row)" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>

                            </td>
                        }
                    </tr>
                    </tbody>
                </table>
                <div class="table-footer no-print">
                    @OptionControl()
                </div>
            </div>
        </div>
    </div>
</div>

@helper  OptionControl()
{
    <div class="row no-print">
        <div class="col-sm-12">
            <div class="form-inline pull-left">
                <div class="form-group">
                    <label ng-hide="totalServerItems==0">Showing {{totalServerItems*(PageNo-1)+1}} to {{totalServerItems*PageNo}} of {{totalItems}} </label>
                    <label ng-show="totalServerItems==0" class="text-danger">No Data Found!</label>
                </div>
            </div>

            <div class="form-inline pull-right">
                <div class="form-group">
                    <label>Page Size</label>
                    <input ng-model="PageSize" ng-enter="changePageSize()" class="form-control input-opt" autocomplete="on" placeholder="Page Size" type="number" min="1">
                </div>
                <div class="form-group">
                    <label>Page No.</label>
                    <input ng-model="PageNo" ng-enter="changePageNo()" class="form-control input-opt" autocomplete="on" placeholder="Page No" type="number" min="1">
                    <label>of {{totalItems/PageSize| number:0}}</label>
                </div>
                <div class="form-group">
                    <button ng-click="prev()" ng-hide="totalItems == 0 || PageNo <= 1" class="btn btn-info btn-opt" type="button"><i class="fa fa-angle-double-left"></i>Previous&nbsp;</button>
                    <button ng-click="next()" ng-hide="totalItems == 0 || PageNo >= totalPage" class="btn btn-info btn-opt" type="button">&nbsp;Next&nbsp;<i class="fa fa-angle-double-right"></i></button>
                </div>
            </div>
        </div>
    </div>
}



