@using EMS.CoreLibrary.Helpers
@using EMS.Web.Jsons.Models
@model  EMS.Framework.Objects.MvcModelResult<EMS.Web.UI.Areas.HR.Controllers.ReportController.MonthlySalaryPrintJson>

@{
    ViewBag.Title = "Monthly Salary Print";

    Layout = "~/Areas/HR/Views/Shared/_LayoutHRReport.cshtml";
}

@section ReportHeaderSection
{
    @Html.Partial("~/Views/Shared/Report/_ReportHeader.cshtml")
}

@if (Model.HasError)
{
    <div class="alert alert-danger">
        <i class="fa-fw fa fa-warning"></i>
        <strong>Attention: </strong> <span>@Html.Raw(Model.ErrorHtml)</span>
    </div>
}
else
{
    var additionDetailList = Model.Data.MonthlyPayslipDetailsList.Where(x => x.IsAddition).ToList();
    var deductionDetailList = Model.Data.MonthlyPayslipDetailsList.Where(x => !x.IsAddition).ToList();

<div class="widget-body">
    <div class="row">
        <div class="col-md-12">
            <div class="form-title text-center">
                <b>
                    <span>@Model.Data.EmployeeName's</span> Payslip of @Model.Data.PayrollName
                </b>
            </div>
            <div class="col-md-6">
                <div class="form-title">
                    Additions
                </div>
                <table class="form" width="100%" border="0" cellspacing="2" cellpadding="3">
                    @foreach(var row in additionDetailList)
                    {
                        <tr>
                            <td colspan="2" style="font-weight: bold" class="fieldlabel">@row.Name</td>
                            <td colspan="2" style="font-weight: bold" class="fieldlabel">@row.Value</td>
                        </tr>
                    }
                    
                </table>
            </div>
            <div class="col-md-6">
                <div class="form-title">
                    Deductions
                </div>
                @if (deductionDetailList.Count > 0)
                {
                    <table class="form" width="100%" border="0" cellspacing="2" cellpadding="3">
                        @foreach (var row in deductionDetailList)
                        {
                            <tr>
                                <td colspan="2" style="font-weight: bold" class="fieldlabel">@row.Name</td>
                                <td colspan="2" style="font-weight: bold" class="fieldlabel">@row.Value</td>
                            </tr>
                        }
                    </table>
                }
                else
                {
                    <div>
                        <label style="color: red"> No Deduction Added for this Employee.</label>
                    </div>
                }
            </div>
        </div>
    </div>
    @if (@Model.Data.Remarks.IsValid())
    {
        <div class="col-md-12" style="margin: 0">
            <div class="form-title">
                Remarks
            </div>
            <label style="width: 100%" rows="3">@Model.Data.Remarks</label>
        </div>
    }

    <div class="col-md-12" style="margin: 0">
        <div class="form-title">
            Total Calculation
        </div>
        <div class="col-md-6">
            <h3>Gross Salary : @Model.DataBag.TotalAddition</h3>
        </div>
        <div class="col-md-6">
            <h3 style="color: red">Gross Deduction : @Model.DataBag.TotalDeduction</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-6">
            <h3>Net Total : @(Model.DataBag.TotalAddition - Model.DataBag.TotalDeduction)</h3>
        </div>
    </div>
    
    <table class="report-table">
        <tfoot class="no-bordered show-on-print">
        <tr style="height: 120px;">
            <td colspan="2" style="width: 33%; vertical-align: bottom; text-align: left; padding-bottom: 15px; border: none !important;">
                __________________________
                <br /> 
                Sr. Assistant Director<br />(Finance & Accounts)
            </td>
            <td colspan="2" style="vertical-align: bottom; text-align: center; padding-bottom: 37px; border: none !important; ">
                _______________
                <br /> 
                Treasurer<br />

            </td>
            <td colspan="2" style="width: 33%; vertical-align: bottom; text-align: center; padding-bottom: 37px; border: none !important;">
                ____________________
                <br /> 
                Vice-Chancellor<br />
            </td>
            <td colspan="2" style="width: 33%; vertical-align: bottom; text-align: center; padding-bottom: 37px; border: none !important;">
                _______________
                <br /> 
                Approved<br />
            </td>
        </tr>
        </tfoot>
    </table>
</div>
}



@section ReportFooterSection
{
    @Html.Partial("~/Views/Shared/Report/_ReportFooter.cshtml")
}

<style>
    /*td:first-child {
        padding-left: 5px !important;
    }*/

    .main-body {
        width: 7.27in;
        margin: 0 auto;
    }

    table, tr, td, th {
        border-collapse: collapse;
    }

    .report-container tbody tr {
        font-size: 13px !important;
    }

    .trans-name {
        vertical-align: top;
    }

        .trans-name div {
            margin-left: 15px;
            font-size: 11px;
            font-weight: normal;
        }

    .bg-gray {
        background-color: lightgray !important;
    }

    .text-bold {
        font-weight: bold;
    }

    table thead tr th {
        text-align: center;
    }

    .text-top {
        vertical-align: text-top;
    }

    .text-center {
        text-align: center !important;
    }

    .text-right {
        text-align: right !important;
    }

    table .no-border,
    table .no-border tr,
    table .no-border tr td {
        border: none;
    }

    .report-table > tbody > tr > td,
    .report-table > thead > tr > th {
        border: 1px solid black !important;
    }

    .report-table > thead > tr > th {
        padding: 0px !important;
    }
</style>
