@using EMS.DataAccess.Data
@using EMS.Framework.Settings

@{
    Layout = "~/Views/Shared/Area/_LayoutAdminCore.cshtml";
    ViewBag.Title = "Payable Due";

    var sid = Request.QueryString["sid"];
    var StudentUserName = (string)sid == null ? "" : (string)sid;


    var getSemesterPayableDueByStudentUserNameUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "PayableDueApi", action = "GetSemesterPayableDueByStudentUserName", area = "Academic" });


    string getSemesterPayableDueByStudentUserName = "getSemesterPayableDueByStudentUserName";


}
@section ScriptSection
{
    
    <script src="~/Views/PayableDue/Index.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109610136-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-109610136-4');
    </script>
}

<div ng-controller="PublicPayableDueCtrl"  class="widget result-publishing-panel"
     ng-init="Init(
        '@StudentUserName'
       ,'@getSemesterPayableDueByStudentUserNameUrl'
     )"
     >
    <div class="well with-header" style="padding-top: 0px !important; ">
        <div class="row result-box-size">
            <div class="col-md-12 widget-body  bordered-blue bordered-green no-padding padding-bottom-10" style="float: none; margin: 0 auto">
                <div>
                    <div style="text-align: center">

                        <div class="widget-header  bordered-blue bordered-top" style="text-align: center !important; padding: 10px;">
                            <a href="@SiteSettings.Instance.InstituteWebsite">
                                <img class="img-responsive" style="margin: 0 auto;" src="@SiteSettings.Instance.InstituteLogoColorFull" />
                            </a>
                            
                        </div>
                        <div class="exam-type text-center">
                            <span>Midterm Payable Due</span>
                        </div>
                        <div class="semester text-center">Summer 2020</div>
                        <hr style="margin-top: 5px;"/>
                        <h5 class="text-success"><b>Please Type Student ID:</b></h5>
                        <p style="text-align: center">
                            <div class="" style="width: 200px; margin: 0 auto;margin-bottom: 20px">

                                <input type="text" ng-model="StudentUserName" ng-Enter="@(getSemesterPayableDueByStudentUserName)()" class="form-control input-lg " placeholder="Type Student ID" style="">
                            </div>
                            <button ng-disabled="StudentUserName.length<5" ng-click="@(getSemesterPayableDueByStudentUserName)()"  class="btn btn-sky">Check Due</button>
                        </p>
                        
                        <div ng-show="HasError ||ErrorMsg!=''" class="alert alert-danger fade in radius-bordered alert-shadowed">
                            <button ng-click="HasError=false" class="close" data-dismiss1="alert">×</button>
                            <i class="fa-fw fa fa-warning"></i>
                            <strong>Sorry!</strong> {{ErrorMsg}}
                        </div>
                        
                        <div ng-show="Student!=null">
                            <div><span class="bold">Name:</span><span style="color: #d65050;"> {{Student.Name}} ({{Student.UserName}})</span></div>
                            <div><span class="bold">Department:</span> {{Student.Department}}</div>
                            <div><span class="bold">Program:</span> {{Student.Program}}</div>
                            <hr />
                            <div ng-show="Student.IsRegisteredStudent"
                                 class="exam-type text-center">
                                Total Due: {{Student.PayableDueAmount}} BDT
                            </div>
                            <div ng-hide="Student.IsRegisteredStudent"
                                 class="exam-type text-center">
                                You are not registered any course in this semester.
                            </div>
                        </div>
                        
                        
                        <hr />
                        <div>
                            <img style="width: 250px;" src="~/assets/img/paymentGateway/bkash.gif" alt="bKash_payment_Process.png">
                            <div>
                                <a target="_blank" href="~/assets/img/paymentGateway/EUB_bKash_Payment_Flow.png">
                                    <img class="img-thumbnail img-responsive" src="~/assets/img/paymentGateway/EUB_bKash_Payment_Flow.png"/>
                                </a>
                                @*<img class="img-responsive img-thumbnail" style="max-width: 350px;" src="~/assets/img/paymentGateway/EUB_bKashPaymentQR.jfif"/>*@
                            </div>
                            @*<div class="mobile-number">
                                01613006814
                            </div>*@
                            @*<button ng-click="bKashPaymentProcessModalShow()"
                                class="btn btn-sky" style="background-color: #e33771; color: white;">View Payment Process</button>*@

                        </div>
                        
                        <hr />
                        <div>
                            <table style="width: 100%;">
                                <tbody>
                                <tr>
                                    <td style="text-align: left; padding-left: 10px;">
                                        Developed By:
                                        <a target="_blank" href="@SiteSettings.CompanyWebsite" class="sky">
                                            <strong class="menu-text">@SiteSettings.PoweredBy</strong>
                                        </a>
                                    </td>
                                    <td style="text-align: right; padding-right: 10px;">
                                        @SiteSettings.Instance.InstituteCreditPrefix 
                                        <a target="_blank" href="@SiteSettings.Instance.InstituteItSupportLink" class="green">
                                            <strong class="menu-text">@SiteSettings.Instance.InstituteCredit</strong>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                       
                    </div>

                </div>

            </div>
        </div>
    </div>

    @*<div class="modal fade" id="bKashPaymentProcessModal" tabindex="-1" role="dialog" aria-labelledby="bKashPaymentProcessModal">
        <div class="modal-dialog modal-lg" role="document" style="width: 415px;">
            <div class="modal-content">
                <div class="modal-body">
                    <div>
                        <img class="img-thumbnail img-responsive" src="~/assets/img/paymentGateway/EUB_bKash_Payment_Flow.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>*@
    

</div>


<style>
    .result-box-size {
        width: 70%; 
        margin: 0 auto;
    }
    .result-publishing-panel input {
        height: 25px !important;
        font-size: 12px;
    }

    .exam-type {
        font-size: 30px;
        font-weight: bold;
        color: #d65050;
    }
    .semester {
        font-size: 20px;
    }
    .mobile-number {
        margin-top: 15px;
        font-size: 40px;
        font-weight: bold;
    }

    @@media (max-width: 700px) {
        .result-box-size {
            width: 100%; 
            margin: 0 auto;
        }
    }
</style>
