
<!--File:HR_EmpLeaveAllocationSettingsDetails Add/Edit View-->
@using EMS.DataAccess.Data;
@{
    ViewBag.Title = "HR: Add/Edit Emp Leave Allocation Settings Details";
    Layout = "~/Areas/HR/Views/Shared/_LayoutHR.cshtml";
    // Angular Properties
    var id = Request.QueryString["id"];//ViewContext.RouteData.Values["id"];
    var EmpLeaveAllocationSettingsDetailsId = (string) id == null?"0":(string)id;
    
    //HR_EmpLeaveAllocationSettingsDetails WebApi Single Row link   
    var getEmpLeaveAllocationSettingsDetailsByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "EmpLeaveAllocationSettingsDetailsApi", action = "GetEmpLeaveAllocationSettingsDetailsById", area = "HR" });
    var getEmpLeaveAllocationSettingsDetailsDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "EmpLeaveAllocationSettingsDetailsApi", action = "GetEmpLeaveAllocationSettingsDetailsDataExtra", area = "HR" });
    var saveEmpLeaveAllocationSettingsDetailsUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "EmpLeaveAllocationSettingsDetailsApi", action = "SaveEmpLeaveAllocationSettingsDetails", area = "HR" });
    var deleteEmpLeaveAllocationSettingsDetailsByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "EmpLeaveAllocationSettingsDetailsApi", action = "GetDeleteEmpLeaveAllocationSettingsDetailsById", area = "HR" });

    //HR_EmpLeaveAllocationSettingsDetails WebApi List link 
    var getPagedEmpLeaveAllocationSettingsDetailsUrl = Url.HttpRouteUrl("DefaultApi", new {controller = "EmpLeaveAllocationSettingsDetailsApi", action = "GetPagedEmpLeaveAllocationSettingsDetails", area = "HR"});
    var getAllEmpLeaveAllocationSettingsDetailsUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "EmpLeaveAllocationSettingsDetailsApi", action = "GetAllEmpLeaveAllocationSettingsDetails", area = "HR" });
    var saveEmpLeaveAllocationSettingsDetailsListUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "EmpLeaveAllocationSettingsDetailsApi", action = "SaveEmpLeaveAllocationSettingsDetailsList", area = "HR" });
    var getEmpLeaveAllocationSettingsDetailsListDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "EmpLeaveAllocationSettingsDetailsApi", action = "GetEmpLeaveAllocationSettingsDetailsListDataExtra", area = "HR" });

    var editEmpLeaveAllocationSettingsDetailsByIdPageUrl = Url.Action("EmpLeaveAllocationSettingsDetailsAddEdit", "EmpLeaveAllocationSettingsDetails", new { area = "HR" });
    var listEmpLeaveAllocationSettingsDetailsPageUrl = Url.Action("EmpLeaveAllocationSettingsDetailsList", "EmpLeaveAllocationSettingsDetails", new { area = "HR" });
    
    //HR_EmpLeaveAllocationSettingsDetails Angular Functions
    string getEmpLeaveAllocationSettingsDetailsById="getEmpLeaveAllocationSettingsDetailsById";
    var saveEmpLeaveAllocationSettingsDetails = "saveEmpLeaveAllocationSettingsDetails";
    var getNewEmpLeaveAllocationSettingsDetails = "getNewEmpLeaveAllocationSettingsDetails";
    var refreshPage = "loadPage()";
    string deleteEmpLeaveAllocationSettingsDetailsById="deleteEmpLeaveAllocationSettingsDetailsById";
    string loadEmpLeaveAllocationSettingsDetailsExtraData="loadEmpLeaveAllocationSettingsDetailsExtraData";
}
@section ScriptSection
{
    <script src="~/Areas/HR/Views/EmpLeaveAllocationSettingsDetails/EmpLeaveAllocationSettingsDetailsAddEdit.js"></script>
}

<div id="EmpLeaveAllocationSettingsDetailsAddEdit" class="row" ng-controller="EmpLeaveAllocationSettingsDetailsAddEditCtrl" ng-init="Init(
      '@EmpLeaveAllocationSettingsDetailsId'
      ,'@getEmpLeaveAllocationSettingsDetailsByIdUrl'
      ,'@getEmpLeaveAllocationSettingsDetailsDataExtraUrl'
      ,'@saveEmpLeaveAllocationSettingsDetailsUrl'
      ,'@deleteEmpLeaveAllocationSettingsDetailsByIdUrl')">
      
    <div class="col-lg-12 col-sm-12 col-xs-12">
     <div ng-Hide="!HasError ||ErrorMsg==''" class="alert alert-danger fade in radius-bordered alert-shadowed">
            <button ng-click="HasError=false" class="close" data-dismiss1="alert">×</button>
            <i class="fa-fw fa fa-warning"></i>
            <strong>Attention Please!</strong> {{ErrorMsg}}
      </div>
      <div ng-show="HasViewPermission">
        <div class="widget" >
            <div class="widget-header bordered-bottom bordered-sky ">
                <i class="widget-icon fa fa-edit bold  "></i>
                <span class="widget-caption ">
                    Add/Edit
                    <strong ng-show="EmpLeaveAllocationSettingsDetails.@HR_EmpLeaveAllocationSettingsDetails.Property_Name!=''">{{(EmpLeaveAllocationSettingsDetails.@HR_EmpLeaveAllocationSettingsDetails.Property_Name)}}</strong>
                </span>
                <div class="widget-buttons buttons-bordered no-padding-right" style="display: none">
                    <span class="input-icon">
                        <input type="text" ng-model="EmpLeaveAllocationSettingsDetailsId" ng-Enter="@(getEmpLeaveAllocationSettingsDetailsById)()" class="form-control input-xs " id="glyphicon-search" placeholder="Search" >
                        <i class="glyphicon glyphicon-search blue"></i>
                    </span>
                  
                </div>
                <div class="widget-buttons no-padding-left">
                    <button ng-click="@(getNewEmpLeaveAllocationSettingsDetails)()" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Add New</button>
                    <a href="@(listEmpLeaveAllocationSettingsDetailsPageUrl)" class="btn btn-blue btn-xs"><i class="fa fa-arrow-left" target="_blank"></i> Back To List</a>
                    <button ng-click="@refreshPage" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i> Refresh</button>
                </div>
            </div><!--Widget Header end-->
            <div class="widget-body">
                <div class="row">
                  <div class="col-md-6 table-form">
                     <table class="form" width="100%" border="0" cellspacing="2" cellpadding="3">
                        <tbody>
                             <tr>
                                <td class="fieldlabel">Name <span class="red glyphicon glyphicon-asterisk"></span></td>
                                <td class="fieldarea">
                                    <input type="text" ng-model="EmpLeaveAllocationSettingsDetails.@HR_EmpLeaveAllocationSettingsDetails.Property_Name" class="form-control" placeholder="Enter Name" maxlength="150" required="" />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Name." data-toggle="tooltip"></i></span></td>
                            </tr>
                        <!--dropdown option for EnumList-->
                            <tr>
                                 <td class="fieldlabel">Leave Type </td>
                                 <td class="fieldarea">
                                    <select ng-model="EmpLeaveAllocationSettingsDetails.@HR_EmpLeaveAllocationSettingsDetails.Property_LeaveTypeEnumId" ng-options="option.Id as option.Name for option in LeaveTypeEnumList" title="Select Leave Type" ng-init="" class="form-control" >
                                     <option value="" label="" class="">---Select One---</option>   
                                    </select>
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Select Leave Type." data-toggle="tooltip"></i></span></td> 
                            </tr>
                             <tr>
                                <td class="fieldlabel">Allowed Days </td>
                                <td class="fieldarea">
                                    <input type="number" ng-model="EmpLeaveAllocationSettingsDetails.@HR_EmpLeaveAllocationSettingsDetails.Property_AllowedDays" class="form-control" placeholder="Enter Allowed Days"   />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Allowed Days." data-toggle="tooltip"></i></span></td>
                            </tr>
                             <tr>
                                <td class="fieldlabel">Working Hour Per Days </td>
                                <td class="fieldarea">
                                    <input type="number" ng-model="EmpLeaveAllocationSettingsDetails.@HR_EmpLeaveAllocationSettingsDetails.Property_WorkingHourPerDays" class="form-control" placeholder="Enter Working Hour Per Days"   />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Working Hour Per Days." data-toggle="tooltip"></i></span></td>
                            </tr>
                             <tr>
                                <td class="fieldlabel">Hour Used </td>
                                <td class="fieldarea">
                                    <input type="number" ng-model="EmpLeaveAllocationSettingsDetails.@HR_EmpLeaveAllocationSettingsDetails.Property_HourUsed" class="form-control" placeholder="Enter Hour Used"   />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Hour Used." data-toggle="tooltip"></i></span></td>
                            </tr>
                             <tr>
                                <td class="fieldlabel">Is Paid </td>
                                <td class="fieldarea">
                                    <label class="checkbox-inline">
                                    <input type="checkbox" ng-model="EmpLeaveAllocationSettingsDetails.@HR_EmpLeaveAllocationSettingsDetails.Property_IsPaid"  />
                                    </label>
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Check Is Paid if required." data-toggle="tooltip"></i></span></td>
                             </tr>
                        
                             <tr>
                                <td class="fieldlabel">Remarks </td>
                                <td class="fieldarea">
                                    <input type="text" ng-model="EmpLeaveAllocationSettingsDetails.@HR_EmpLeaveAllocationSettingsDetails.Property_Remarks" class="form-control" placeholder="Enter Remarks"   />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Remarks." data-toggle="tooltip"></i></span></td>
                            </tr>
                   
                         <tr>
                            <td class="fieldlabel">Emp Leave Allocation Settings </td>
                            <td class="fieldarea">
                                <select ng-model="EmpLeaveAllocationSettingsDetails.@HR_EmpLeaveAllocationSettingsDetails.Property_EmpLeaveAllocationSettingsId"
                                        ng-options="option.Id as option.Name for option in EmpLeaveAllocationSettingsList " ng-init="" class="form-control select-inline">
                                    <option value="" label="" class="">---Select One---</option>
                                </select>
                            </td>
                            <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Select Emp Leave Allocation Settings." data-toggle="tooltip"></i></span></td>
                        </tr>
                  

                            </tbody>
                        </table>
                    </div><!--Col end-->
                </div><!--Row end-->
            </div><!--Widget Body end-->
            <div class="widget-footer text-center">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <button ng-click="@(saveEmpLeaveAllocationSettingsDetails)()" class="btn btn-md btn-success"><span class="fa fa-save"></span> Save</button>
                     </div>
                </div>
            </div>
        </div>
      </div><!--view permission end-->
    </div>
</div><!--controller end-->



