
<!--File:General_District List View-->
@using EMS.DataAccess.Data;
@{
    ViewBag.Title = "Admin: District List";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    
    // Angular Properties
    var id = Request.QueryString["id"];//ViewContext.RouteData.Values["id"];
    var DistrictId = (string) id == null?"0":(string)id;
    
    //WebApi link for single row 
    var getDistrictByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "DistrictApi", action = "GetDistrictById", area = "Admin" });
    var getDistrictDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "DistrictApi", action = "GetDistrictDataExtra", area = "Admin" });
    var saveDistrictUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "DistrictApi", action = "SaveDistrict", area = "Admin" });
    var deleteDistrictByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "DistrictApi", action = "GetDeleteDistrictById", area = "Admin" });

    //WebApi link for List
    var getPagedDistrictUrl = Url.HttpRouteUrl("DefaultApi", new {controller = "DistrictApi", action = "GetPagedDistrict", area = "Admin"});
    var getAllDistrictUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "DistrictApi", action = "GetAllDistrict", area = "Admin" });
    var saveDistrictListUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "DistrictApi", action = "SaveDistrictList", area = "Admin" });
    var getDistrictListDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "DistrictApi", action = "GetDistrictListDataExtra", area = "Admin" });

    var editDistrictByIdPageUrl = Url.Action("DistrictAddEdit", "District", new { area = "Admin" });

    //Angular Function Name
    var getNewDistrict = "getNewDistrict";
    var saveDistrict = "saveDistrict";
    var deleteDistrictById = "deleteDistrictById";
    var deleteDistrictByObj = "deleteDistrictByObj";
    //for list
    var searchDistrictList = "searchDistrictList";
    var getPagedDistrictList = "getPagedDistrictList";
    var getAllDistrictList = "getAllDistrictList";
    var saveDistrictList = "saveDistrictList";
    var getDistrictListExtraData = "getDistrictListExtraData";

    var refreshPage = "loadPage()";
    
}
@section ScriptSection
{
    <script src="~/Areas/Admin/Views/District/DistrictList.js"></script>
}


<div ng-controller="DistrictListCtrl"
     ng-init="Init(
      '@getPagedDistrictUrl'
     ,'@deleteDistrictByIdUrl'
     ,'@getDistrictListDataExtraUrl'
     ,'@saveDistrictListUrl'
     ,'@getDistrictByIdUrl'
     ,'@getDistrictDataExtraUrl'
     ,'@saveDistrictUrl'
     )">
    <div class="widget">

        <div class="widget-header bordered-bottom bordered-sky ">
            <i class="widget-icon fa fa-list bold  "></i>
            <span class="widget-caption ">Manage District </span>
              <div class="widget-buttons buttons-bordered no-padding-right" style="display:none">
                <span class="widget-caption form-inline">
                    @*<span>Select Country</span>*@
                     <select ng-model="SelectedCountryId" ng-change="@(searchDistrictList)()" 
                        ng-options="option.Id as option.Name for option in CountryList " ng-init="" class="form-control input-xs ">
                        <option value="" label="" class="">---Select All Country---</option>
                     </select>
                </span>
              </div>       
              <div class="widget-buttons buttons-bordered no-padding-right" style="display:none">
                <span class="widget-caption form-inline">
                    @*<span>Select Division</span>*@
                     <select ng-model="SelectedDivisionId" ng-change="@(searchDistrictList)()" 
                        ng-options="option.Id as option.Name for option in DivisionList " ng-init="" class="form-control input-xs ">
                        <option value="" label="" class="">---Select All Division---</option>
                     </select>
                </span>
              </div>       
            <div class="widget-buttons buttons-bordered no-padding-right">
                <span class="input-icon">
                    <input type="text" ng-model="SearchText" ng-Enter="@(searchDistrictList)()" class="form-control input-xs " id="glyphicon-search" placeholder="Search" style="">
                    <i class="glyphicon glyphicon-search blue"></i>
                </span>
            </div>
            <div class="widget-buttons no-padding-left">
                <a target="_blank" href="@editDistrictByIdPageUrl?id=0" class="btn btn-xs btn-success"><i class="fa fa-plus"></i> Add New</a>
                <button ng-click="@(searchDistrictList)()" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i> Refresh</button>
            </div>
        </div>
        <div class="widget-body no-padding"  style="overflow:auto">
            <div class="table-footer no-print">
                @OptionControl()
            </div>
            <table class="table table-striped table-bordered table-hover">
                <thead class="bordered-blue">
                <tr>
                    <th class="text-center" style="display:none">
                        <input type="checkbox" ng-click="selectAll($event)">
                    </th>
                    <th class="text-center">SN</th>
                    <th class="text-center">Name</th>
                    <!--th class="text-center">Country Id</th-->
                    <!--th class="text-center">Division Id</th-->
                    <!--th class="text-center">Status Enum Id</th-->
                    <th class="text-center">Status</th>
                    <th class="text-center">Order No</th>
                    <th class="text-center no-print">Action</th>
                </tr>
                </thead>
                <tbody>
    
                <tr ng-repeat="row in DistrictList">
                    <td class="text-center" style="display:none">
                        <input type="checkbox" ng-model="row.@General_District.Property_IsSelected" /> 
                    </td>
                    <td class="text-center">{{$index+1}}</td>
                    <td class="">{{row.@General_District.Property_Name}}</td>
                    <!--td class="">{{row.@General_District.Property_CountryId}}</td-->
                    <!--td class="">{{row.@General_District.Property_DivisionId}}</td-->
                    <!--td class="">{{row.@General_District.Property_StatusEnumId}}</td-->
                    <td class="">{{row.@General_District.Property_Status}}</td>
                    <td class="">{{row.@General_District.Property_OrderNo}}</td>
                    <td class="text-center no-print">
                        <a target="_blank" href="@(editDistrictByIdPageUrl)/?id={{row.Id}}" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i> Edit</a>
                        <button ng-click="@(deleteDistrictById)(row)" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>
                     
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="table-footer no-print">
                @OptionControl()
            </div>
        </div>
    </div>
</div>

@helper  OptionControl()
{
    <div class="row no-print">
        <div class="col-sm-12">
            <div class="form-inline pull-left">
                <div class="form-group">
                    <label ng-hide="totalServerItems==0">Showing {{totalServerItems*(PageNo-1)+1}} to {{totalServerItems*PageNo}} of {{totalItems}} </label>
                    <label ng-show="totalServerItems==0" class="text-danger">No Data Found!</label>
                </div>
            </div>
            <div class="form-inline pull-right">
                <div class="form-group">
                    <label>Page Size</label>
                    <input ng-model="PageSize" ng-enter="changePageSize()" class="form-control input-opt" autocomplete="on" placeholder="Page Size" type="number" min="1">
                </div>
                <div class="form-group">
                    <label>Page No.</label>
                    <input ng-model="PageNo" ng-enter="changePageNo()" class="form-control input-opt" autocomplete="on" placeholder="Page No" type="number" min="1">
                    <label>of {{totalItems/PageSize| number:0}}</label>
                </div>
                <div class="form-group">
                    <button ng-click="prev()" ng-hide="totalItems == 0 || PageNo <= 1" class="btn btn-info btn-opt" type="button"><i class="fa fa-angle-double-left"></i>Previous&nbsp;</button>
                    <button ng-click="next()" ng-hide="totalItems == 0 || PageNo >= totalPage" class="btn btn-info btn-opt" type="button">&nbsp;Next&nbsp;<i class="fa fa-angle-double-right"></i></button>
                </div>
            </div>
        </div>
    </div>
}



