
<!--File:Acnt_FeeCode List View-->
@using EMS.DataAccess.Data;
@{
    ViewBag.Title = "Accounts: Fee Code List";
    Layout = "~/Areas/Accounts/Views/Shared/_LayoutAccounts.cshtml";
    
    // Angular Properties
    var id = Request.QueryString["id"];//ViewContext.RouteData.Values["id"];
    var FeeCodeId = (string) id == null?"0":(string)id;
    
    //WebApi link for single row 
    var getFeeCodeByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "FeeCodeApi", action = "GetFeeCodeById", area = "Accounts" });
    var getFeeCodeDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "FeeCodeApi", action = "GetFeeCodeDataExtra", area = "Accounts" });
    var saveFeeCodeUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "FeeCodeApi", action = "SaveFeeCode", area = "Accounts" });
    var deleteFeeCodeByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "FeeCodeApi", action = "GetDeleteFeeCodeById", area = "Accounts" });

    //WebApi link for List
    var getPagedFeeCodeUrl = Url.HttpRouteUrl("DefaultApi", new {controller = "FeeCodeApi", action = "GetPagedFeeCode", area = "Accounts"});
    var getAllFeeCodeUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "FeeCodeApi", action = "GetAllFeeCode", area = "Accounts" });
    var saveFeeCodeListUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "FeeCodeApi", action = "SaveFeeCodeList", area = "Accounts" });
    var getFeeCodeListDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "FeeCodeApi", action = "GetFeeCodeListDataExtra", area = "Accounts" });

    var editFeeCodeByIdPageUrl = Url.Action("FeeCodeManager", "FeeCode", new { area = "Accounts" });

    //Angular Function Name
    var getNewFeeCode = "getNewFeeCode";
    var saveFeeCode = "saveFeeCode";
    var deleteFeeCodeById = "deleteFeeCodeById";
    var deleteFeeCodeByObj = "deleteFeeCodeByObj";
    //for list
    var searchFeeCodeList = "searchFeeCodeList";
    var getPagedFeeCodeList = "getPagedFeeCodeList";
    var getAllFeeCodeList = "getAllFeeCodeList";
    var saveFeeCodeList = "saveFeeCodeList";
    var getFeeCodeListExtraData = "getFeeCodeListExtraData";

    var refreshPage = "loadPage()";
    
}
@section ScriptSection
{
    <script src="~/Areas/Accounts/Views/FeeCode/FeeCodeList.js"></script>
}


<div ng-controller="FeeCodeListCtrl"
     ng-init="Init(
      '@getPagedFeeCodeUrl'
     ,'@deleteFeeCodeByIdUrl'
     ,'@getFeeCodeListDataExtraUrl'
     ,'@saveFeeCodeListUrl'
     ,'@getFeeCodeByIdUrl'
     ,'@getFeeCodeDataExtraUrl'
     ,'@saveFeeCodeUrl'
     )">
    <div ng-Hide="!HasError ||ErrorMsg==''" class="alert alert-danger fade in radius-bordered alert-shadowed">
        <button ng-click="HasError=false" class="close" data-dismiss1="alert">×</button>
        <i class="fa-fw fa fa-warning"></i>
        <strong>Attention Please!</strong> {{ErrorMsg}}
    </div>
    <div class="widget" ng-show="HasViewPermission">

        <div class="widget-header bordered-bottom bordered-sky ">
            <i class="widget-icon fa fa-list bold  "></i>
            <span class="widget-caption ">Manage Fee Code </span>
            <div class="widget-buttons buttons-bordered no-padding-right" style="">
                <span class="widget-caption form-inline">
                    @*<span>Select Program</span>*@
                     <select ng-model="SelectedProgramId" ng-change="@(searchFeeCodeList)()" 
                        ng-options="option.Id as option.Name for option in ProgramList " ng-init="" class="form-control input-xs ">
                        <option value="" label="" class="">---Select All Program---</option>
                     </select>
                </span>
            </div>
            <div class="widget-buttons buttons-bordered no-padding-right" style="">
                <span class="widget-caption form-inline">
                    @*<span>Select Start Semester</span>*@
                     <select ng-model="SelectedStartSemesterId" ng-change="@(searchFeeCodeList)()" 
                        ng-options="option.Id as option.Name for option in SemesterList " ng-init="" class="form-control input-xs ">
                        <option value="" label="" class="">---Select All Start Semester---</option>
                     </select>
                </span>
            </div>
            <div class="widget-buttons buttons-bordered no-padding-right">
                <span class="input-icon">
                    <input type="text" ng-model="SearchText" ng-Enter="@(searchFeeCodeList)()" class="form-control input-xs " id="glyphicon-search" placeholder="Search" style="">
                    <i class="glyphicon glyphicon-search blue"></i>
                </span>
            </div>
            <div class="widget-buttons no-padding-left">
                <a target="_blank" href="@editFeeCodeByIdPageUrl?id=0" class="btn btn-xs btn-success"><i class="fa fa-plus"></i> Add New</a>
                <button ng-click="@(searchFeeCodeList)()" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i> Refresh</button>
            </div>
        </div>
        <div class="widget-body no-padding" style="overflow: auto">
            <div class="table-footer no-print">
                @OptionControl()
            </div>
            <table class="table table-striped table-bordered table-hover">
                <thead class="bordered-blue">
                <tr>
                    <th class="text-center" style="display: none">
                        <input type="checkbox" ng-click="selectAll($event)">
                    </th>
                    <th class="text-center">SN</th>
                    <th class="text-center">Name</th>
                    <!--th class="text-center">Status Enum Id</th-->
                    <th class="text-center">Status</th>
                    <!--th class="text-center">Program Id</th-->
                    <!--th class="text-center">Start Semester Id</th-->
                    @*<th class="text-center">Remark</th>*@
                    <th class="text-center">Total Credit</th>
                    <th class="text-center">Total Semester</th>
                    <th class="text-center">Total Year</th>
                    <th class="text-center">Total Package Amount</th>
                    @*<th class="text-center">Is Deleted</th>*@
                    <th class="text-center">Fixed Cost Waiver Sem.</th>
                    <th class="text-center">Order No</th>
                    <th class="text-center no-print">Action</th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="row in FeeCodeList">
                    <td class="text-center" style="display: none">
                        <input type="checkbox" ng-model="row.@Acnt_FeeCode.Property_IsSelected"/>
                    </td>
                    <td class="text-center">{{$index+1}}</td>
                    <td class="">{{row.@Acnt_FeeCode.Property_Name}}</td>
                    <!--td class="">{{row.@Acnt_FeeCode.Property_StatusEnumId}}</td-->
                    <td class="">{{row.@Acnt_FeeCode.Property_Status}}</td>
                    <!--td class="">{{row.@Acnt_FeeCode.Property_ProgramId}}</td-->
                    <!--td class="">{{row.@Acnt_FeeCode.Property_StartSemesterId}}</td-->
                    @*<td class="">{{row.@Acnt_FeeCode.Property_Remark}}</td>*@
                    <td class="">{{row.@Acnt_FeeCode.Property_TotalCredit}}</td>
                    <td class="">{{row.@Acnt_FeeCode.Property_TotalSemester}}</td>
                    <td class="">{{row.@Acnt_FeeCode.Property_TotalYear}}</td>
                    <td class="">{{row.@Acnt_FeeCode.Property_TotalPackageAmount}}</td>
                    @*<td class="">{{row.@Acnt_FeeCode.Property_IsDeleted}}</td>*@
                    <td class="">{{row.@Acnt_FeeCode.Property_WaiveOverFixedCostSemesterCount}}</td>
                    <td class="">{{row.@Acnt_FeeCode.Property_OrderNo}}</td>
                    <td class="text-center no-print">
                        <a target="_blank" href="@(editFeeCodeByIdPageUrl)/?id={{row.Id}}" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i> Edit</a>
                        <button ng-click="@(deleteFeeCodeById)(row)" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>

                    </td>
                </tr>
                </tbody>
            </table>
            <div class="table-footer no-print">
                @OptionControl()
            </div>
        </div>
    </div>
</div>

@helper  OptionControl()
{
    <div class="row no-print">
        <div class="col-sm-12">
            <div class="form-inline pull-left">
                <div class="form-group">
                    <label ng-hide="totalServerItems==0">Showing {{totalServerItems*(PageNo-1)+1}} to {{totalServerItems*PageNo}} of {{totalItems}} </label>
                    <label ng-show="totalServerItems==0" class="text-danger">No Data Found!</label>
                </div>
            </div>
            <div class="form-inline pull-right">
                <div class="form-group">
                    <label>Page Size</label>
                    <input ng-model="PageSize" ng-enter="changePageSize()" class="form-control input-opt" autocomplete="on" placeholder="Page Size" type="number" min="1">
                </div>
                <div class="form-group">
                    <label>Page No.</label>
                    <input ng-model="PageNo" ng-enter="changePageNo()" class="form-control input-opt" autocomplete="on" placeholder="Page No" type="number" min="1">
                    <label>of {{totalItems/PageSize| number:0}}</label>
                </div>
                <div class="form-group">
                    <button ng-click="prev()" ng-hide="totalItems == 0 || PageNo <= 1" class="btn btn-info btn-opt" type="button"><i class="fa fa-angle-double-left"></i>Previous&nbsp;</button>
                    <button ng-click="next()" ng-hide="totalItems == 0 || PageNo >= totalPage" class="btn btn-info btn-opt" type="button">&nbsp;Next&nbsp;<i class="fa fa-angle-double-right"></i></button>
                </div>
            </div>
        </div>
    </div>
}



