
<!--File:Inv_ItemWarrentyDetails Add/Edit View-->
@using EMS.DataAccess.Data;
@{
    ViewBag.Title = "Inventory: Add/Edit Item Warrenty Details";
    Layout = "~/Areas/Inventory/Views/Shared/_LayoutInventory.cshtml";
    // Angular Properties
    var id = Request.QueryString["id"];//ViewContext.RouteData.Values["id"];
    var ItemWarrentyDetailsId = (string) id == null?"0":(string)id;
    
    //Inv_ItemWarrentyDetails WebApi Single Row link   
    var getItemWarrentyDetailsByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ItemWarrentyDetailsApi", action = "GetItemWarrentyDetailsById", area = "Inventory" });
    var getItemWarrentyDetailsDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ItemWarrentyDetailsApi", action = "GetItemWarrentyDetailsDataExtra", area = "Inventory" });
    var saveItemWarrentyDetailsUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ItemWarrentyDetailsApi", action = "SaveItemWarrentyDetails", area = "Inventory" });
    var deleteItemWarrentyDetailsByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ItemWarrentyDetailsApi", action = "GetDeleteItemWarrentyDetailsById", area = "Inventory" });

    //Inv_ItemWarrentyDetails WebApi List link 
    var getPagedItemWarrentyDetailsUrl = Url.HttpRouteUrl("DefaultApi", new {controller = "ItemWarrentyDetailsApi", action = "GetPagedItemWarrentyDetails", area = "Inventory"});
    var getAllItemWarrentyDetailsUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ItemWarrentyDetailsApi", action = "GetAllItemWarrentyDetails", area = "Inventory" });
    var saveItemWarrentyDetailsListUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ItemWarrentyDetailsApi", action = "SaveItemWarrentyDetailsList", area = "Inventory" });
    var getItemWarrentyDetailsListDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ItemWarrentyDetailsApi", action = "GetItemWarrentyDetailsListDataExtra", area = "Inventory" });

    var editItemWarrentyDetailsByIdPageUrl = Url.Action("ItemWarrentyDetailsAddEdit", "ItemWarrentyDetails", new { area = "Inventory" });
    var listItemWarrentyDetailsPageUrl = Url.Action("ItemWarrentyDetailsList", "ItemWarrentyDetails", new { area = "Inventory" });
    
    //Inv_ItemWarrentyDetails Angular Functions
    string getItemWarrentyDetailsById="getItemWarrentyDetailsById";
    var saveItemWarrentyDetails = "saveItemWarrentyDetails";
    var getNewItemWarrentyDetails = "getNewItemWarrentyDetails";
    var refreshPage = "loadPage()";
    string deleteItemWarrentyDetailsById="deleteItemWarrentyDetailsById";
    string loadItemWarrentyDetailsExtraData="loadItemWarrentyDetailsExtraData";
}
@section ScriptSection
{
    <script src="~/Areas/Inventory/Views/ItemWarrentyDetails/ItemWarrentyDetailsAddEdit.js"></script>
}

<div id="ItemWarrentyDetailsAddEdit" class="row" ng-controller="ItemWarrentyDetailsAddEditCtrl" ng-init="Init(
      '@ItemWarrentyDetailsId'
      ,'@getItemWarrentyDetailsByIdUrl'
      ,'@getItemWarrentyDetailsDataExtraUrl'
      ,'@saveItemWarrentyDetailsUrl'
      ,'@deleteItemWarrentyDetailsByIdUrl')">
      
    <div class="col-lg-12 col-sm-12 col-xs-12">
     <div ng-Hide="!HasError ||ErrorMsg==''" class="alert alert-danger fade in radius-bordered alert-shadowed">
            <button ng-click="HasError=false" class="close" data-dismiss1="alert">×</button>
            <i class="fa-fw fa fa-warning"></i>
            <strong>Attention Please!</strong> {{ErrorMsg}}
      </div>
      <div ng-show="HasViewPermission">
        <div class="widget" >
            <div class="widget-header bordered-bottom bordered-sky ">
                <i class="widget-icon fa fa-edit bold  "></i>
                <span class="widget-caption ">
                    Add/Edit
                    @*<strong ng-show="ItemWarrentyDetails.@Inv_ItemWarrentyDetails.Property_Name!=''">{{(ItemWarrentyDetails.@Inv_ItemWarrentyDetails.Property_Name)}}</strong>*@
                </span>
                <div class="widget-buttons buttons-bordered no-padding-right" style="display: none">
                    <span class="input-icon">
                        <input type="text" ng-model="ItemWarrentyDetailsId" ng-Enter="@(getItemWarrentyDetailsById)()" class="form-control input-xs " id="glyphicon-search" placeholder="Search" >
                        <i class="glyphicon glyphicon-search blue"></i>
                    </span>
                  
                </div>
                <div class="widget-buttons no-padding-left">
                    <button ng-click="@(getNewItemWarrentyDetails)()" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Add New</button>
                    <a href="@(listItemWarrentyDetailsPageUrl)" class="btn btn-blue btn-xs"><i class="fa fa-arrow-left" target="_blank"></i> Back To List</a>
                    <button ng-click="@refreshPage" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i> Refresh</button>
                </div>
            </div><!--Widget Header end-->
            <div class="widget-body">
                <div class="row">
                  <div class="col-md-6 table-form">
                     <table class="form" width="100%" border="0" cellspacing="2" cellpadding="3">
                        <tbody>
                             <tr>
                                <td class="fieldlabel">Item Id </td>
                                <td class="fieldarea">
                                    <input type="text" ng-model="ItemWarrentyDetails.@Inv_ItemWarrentyDetails.Property_ItemId" class="form-control" placeholder="Enter Item Id" maxlength="50"  />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Item Id." data-toggle="tooltip"></i></span></td>
                            </tr>
                             <tr>
                                <td class="fieldlabel">Warrenty </td>
                                <td class="fieldarea">
                                    <input type="number" ng-model="ItemWarrentyDetails.@Inv_ItemWarrentyDetails.Property_Warrenty" class="form-control" placeholder="Enter Warrenty"   />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Warrenty." data-toggle="tooltip"></i></span></td>
                            </tr>
                             <tr>
                                <td class="fieldlabel">Received Date </td>
                                <td class="fieldarea">
                                    <input type="datetime" ng-model="ItemWarrentyDetails.@Inv_ItemWarrentyDetails.Property_ReceivedDate" class="form-control date-picker" placeholder="Enter Received Date"  datetime="dd/MM/yyyy" />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Received Date." data-toggle="tooltip"></i></span></td>
                            </tr>
                             @*<tr>
                                <td class="fieldlabel">Is Deleted </td>
                                <td class="fieldarea">
                                    <label class="checkbox-inline">
                                    <input type="checkbox" ng-model="ItemWarrentyDetails.@Inv_ItemWarrentyDetails.Property_IsDeleted"  />
                                    </label>
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Check Is Deleted if required." data-toggle="tooltip"></i></span></td>
                             </tr>*@
                        
                   

                            </tbody>
                        </table>
                    </div><!--Col end-->
                </div><!--Row end-->
            </div><!--Widget Body end-->
            <div class="widget-footer text-center">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <button ng-click="@(saveItemWarrentyDetails)()" class="btn btn-md btn-success"><span class="fa fa-save"></span> Save</button>
                     </div>
                </div>
            </div>
        </div>
      </div><!--view permission end-->
    </div>
</div><!--controller end-->



