<!--File:Aca_CurriculumCourse Add/Edit View-->
@using EMS.DataAccess.Data;
@using EMS.Framework.Utils
@{
    ViewBag.Title = "Add/Edit Curriculum Course";
    Layout = "~/Areas/Academic/Views/Shared/_LayoutAcademic.cshtml";
    // Angular Properties
    var id = Request.QueryString["id"];//ViewContext.RouteData.Values["id"];
    var CurriculumCourseId = (string)id == null ? "0" : (string)id;

    //WebApi link for single row
    var getCurriculumCourseByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CurriculumCourseApi", action = "GetCurriculumCourseById", area = "Academic" });
    var getCurriculumCourseDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CurriculumCourseApi", action = "GetCurriculumCourseDataExtra", area = "Academic" });
    var saveCurriculumCourseUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CurriculumCourseApi", action = "SaveCurriculumCourse", area = "Academic" });
    var deleteCurriculumCourseByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CurriculumCourseApi", action = "GetDeleteCurriculumCourseById", area = "Academic" });

    //WebApi link for List
    var getPagedCurriculumCourseUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CurriculumCourseApi", action = "GetPagedCurriculumCourse", area = "Academic" });
    var getAllCurriculumCourseUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CurriculumCourseApi", action = "GetAllCurriculumCourse", area = "Academic" });
    var saveCurriculumCourseListUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CurriculumCourseApi", action = "SaveCurriculumCourseList", area = "Academic" });
    var getCurriculumCourseListDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CurriculumCourseApi", action = "GetCurriculumCourseListDataExtra", area = "Academic" });

    var editCurriculumCourseByIdPageUrl = Url.Action("CurriculumCourseAddEdit", "CurriculumCourse", new { area = "Academic" });
    var listCurriculumCoursePageUrl = Url.Action("CurriculumCourseList", "CurriculumCourse", new { area = "Academic" });

    var getPagedCourseUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CourseApi", action = "GetPagedCourse", area = "Academic" });
    var getCourseByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CourseApi", action = "GetCourseById", area = "Academic" });

    var getAddableCurriculumListUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CurriculumCourseApi", action = "GetAddableCurriculumList", area = "Academic" });
    var savePreRequisiteCourseUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CurriculumCourseApi", action = "GetAddCurriculumCoursePreRequisite", area = "Academic" });
    var deletePreRequisiteCourseByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CurriculumCourseApi", action = "GetDeleteCoursePrerequisiteMapById", area = "Academic" });

    var editCourseByIdPageUrl = Url.Action("CourseAddEdit", "Course", new { area = "Academic" });
    // Angular Functions
    string getCurriculumCourseById = "getCurriculumCourseById";
    var saveCurriculumCourse = "saveCurriculumCourse";
    var getNewCurriculumCourse = "getNewCurriculumCourse";
    var refreshPage = "loadPage()";
    string deleteCurriculumCourseById = "deleteCurriculumCourseById";
    string loadCurriculumCourseExtraData = "loadCurriculumCourseExtraData";

    var searchCourseList = "searchCourseList";
}
@section ScriptSection
{
    <script src="~/Areas/Academic/Views/CurriculumCourse/CurriculumCourseAddEdit.js?v=2"></script>
    <script src="~/assets/js/skins.min.js"></script>
    <script src="~/assets/js/editors/summernote/summernote.js"></script>
    <script>
        $('#descriptionText').summernote({ height: $(window).height() - 310 });
    </script>
}

<div id="CurriculumCourseAddEdit" class="row" ng-controller="CurriculumCourseAddEditCtrl" ng-init="Init(
      '@CurriculumCourseId'
      ,'@getCurriculumCourseByIdUrl'
      ,'@getCurriculumCourseDataExtraUrl'
      ,'@saveCurriculumCourseUrl'
      ,'@deleteCurriculumCourseByIdUrl'
      ,'@getPagedCourseUrl'
      ,'@getCourseByIdUrl'
      ,'@getAddableCurriculumListUrl'
      ,'@savePreRequisiteCourseUrl'
      ,'@deletePreRequisiteCourseByIdUrl'
     )">
<div class="col-lg-12 col-sm-12 col-xs-12">
<div class="widget">
<div class="widget-header bordered-bottom bordered-sky ">
    <i class="widget-icon fa fa-edit bold  "></i>
    <span  class="widget-caption ">
        Add/Edit
        <strong ng-show="CurriculumCourse.@Aca_CurriculumCourse.Property_Name!=''">
            {{(CurriculumCourse.@Aca_CurriculumCourse.Property_Code)}} : {{(CurriculumCourse.@Aca_CurriculumCourse.Property_Name)}}
        </strong>
    </span>

    <div class="widget-buttons buttons-bordered no-padding-right" style="display: none">
        <span  class="input-icon">
            <input type="text" ng-model="CurriculumCourseId" ng-Enter="@(getCurriculumCourseById)()" class="form-control input-xs " id="glyphicon-search" placeholder="Search">
            <i class="glyphicon glyphicon-search blue"></i>
        </span>

    </div>
    <div class="widget-buttons no-padding-left">
        <button ng-click="@(getNewCurriculumCourse)()" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Add New</button>
        <a href="@(listCurriculumCoursePageUrl)" class="btn btn-blue btn-xs"><i class="fa fa-arrow-left" target="_blank"></i> Back To List</a>
        <button ng-click="@refreshPage" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i> Refresh</button>
    </div>
</div><!--Widget Header end-->
<div class="widget-body">

<div class="row">
<div class="col-sm-6">
<div class="widget">
<div class="widget-header bg-blueberry">
    <i class="widget-icon fa fa-info-circle"></i>
    <span  class="widget-caption">Curriculum Course Information</span>
    <div class="widget-buttons">
        <a href="#" data-toggle="maximize">
            <i class="fa fa-expand"></i>
        </a>
        <a href="#" data-toggle="collapse">
            <i class="fa fa-minus"></i>
        </a>
    </div>
</div>
<div class="widget-body">
<table class="table table-no-bordered">
<tr>
    <td style="width: 210px;">
        <label class="control-label">Department <span  class="red glyphicon glyphicon-asterisk"></span></label>
    </td>
    <td style="width: 14px;"><label class="control-label">:</label></td>
    <td style="width: 50%;">
        <select ng-model="DepartmentId" ng-change="changeDepartment()"
                ng-options="option.Id as option.ShortName for option in DepartmentList " ng-init="" class="form-control"></select>
    </td>
    <td>
        <button type="button" class="btn-none" data-toggle="tooltip" data-placement="top"
                title="Curriculum Course Department">
            <i class="fa fa-question-circle"></i>
        </button>
    </td>
</tr>
<tr>
    <td><label class="control-label">Program <span  class="red glyphicon glyphicon-asterisk"></span></label></td>
    <td><label class="control-label">:</label></td>
    <td>
        <select ng-model="ProgramId" ng-change="changeProgram()"
                ng-options="option.Id as option.ShortTitle for option in FilterProgramList " ng-init="" class="form-control"></select>
    </td>
    <td>
        <button type="button" class="btn-none" data-toggle="tooltip" data-placement="top"
                title="Curriculum Course Program">
            <i class="fa fa-question-circle"></i>
        </button>
    </td>
</tr>
<tr>
    <td><label class="control-label">Curriculum <span  class="red glyphicon glyphicon-asterisk"></span></label></td>
    <td><label class="control-label">:</label></td>
    <td>
        <select ng-model="CurriculumCourse.@Aca_CurriculumCourse.Property_CurriculumId" ng-change="changeCurriculum()"
                ng-options="option.Id as option.ShortName for option in FilterCurriculumList " ng-init="" class="form-control"></select>
    </td>
    <td>
        <button type="button" class="btn-none" data-toggle="tooltip" data-placement="top"
                title="Curriculum Course ">
            <i class="fa fa-question-circle"></i>
        </button>
    </td>
</tr>
<tr>
    <td><label class="control-label">Base/Master Course <span  class="red glyphicon glyphicon-asterisk"></span></label></td>
    <td><label class="control-label">:</label></td>
    <td>
        <label class="control-label">
            <a target="_blank" href="@(editCourseByIdPageUrl)/?id={{SelectedCourse.Id}}">{{SelectedCourse.@Aca_Course.Property_Code}} {{SelectedCourse.@Aca_Course.Property_Name}}</a>

            <button ng-click="@(searchCourseList)()" data-toggle="modal" data-target="#selectCourseModal" type="button" class="btn btn-xs">
                <span  ng-show="SelectedCourse==null">Select </span>
                <span  ng-hide="SelectedCourse==null">Change </span>
                Base Course
            </button>
        </label>
        <ul class="list-inline">
            <li>Category: {{SelectedCourse.@Aca_Course.Property_CourseCategory}}</li>
            <li>Credit Hour: {{SelectedCourse.@Aca_Course.Property_CreditLoad |number:2}}</li>
            <li>Contact Hour: {{SelectedCourse.@Aca_Course.Property_CreditHour |number:2}}</li>
        </ul>
        <!-- Modal -->
        <div class="modal fade" id="selectCourseModal" tabindex="-1" role="dialog" aria-labelledby="selectCourseModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span  aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="selectCourseModalLabel">Add Base/Master Course in this Curriculum Course</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group form-inline">
                            <span  class="text-info">Select : </span>
                            @*<span >Department </span>
                                                                <select ng-change="@(searchCourseList)()" ng-model="SelectedDepartmentId"
                                                                        ng-options="option.Id as option.ShortName for option in DepartmentList" class="form-control input-xs" required></select>*@
                            <span >Level Term </span>
                            <select ng-change="@(searchCourseList)()" ng-model="SelectedStudyLevelTermId"
                                    ng-options="option.Id as option.Name for option in StudyLevelTermList " ng-init="" class="form-control input-xs ">
                                <option value="" label="" class="">--All Level Term--</option>
                            </select>
                            <input ng-change="@(searchCourseList)()" ng-model="SearchByTypeId" type="radio" value="0"> Bachelor
                            <input ng-change="@(searchCourseList)()" ng-model="SearchByTypeId" type="radio" value="1"> Masters
                            <input ng-change="@(searchCourseList)()" ng-model="SearchByTypeId" type="radio" value="2"> PhD




                        </div>
                        <div class="form-group no-margin">
                            <input ng-model="search" class="form-control ng-pristine ng-valid ng-touched" placeholder="type to search" autocomplete="on">
                        </div>
                        <table class="table table-striped table-bordered table-hover">
                            <thead class="bordered-blue">
                            <tr>
                                @*<th class="text-center">Select</th>*@
                                <th class="text-center">SN</th>
                                <th class="text-center">Code</th>
                                <th class="text-center">Name</th>
                                <th class="text-center">Credit Hour</th>
                                <th class="text-center">Contact Hour</th>
                                <th class="text-center">Category</th>
                                <th class="text-center">Level Term</th>
                                <th class="text-center">Select</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in CourseList| filter:search"
                                ng-class="{ 'active': CurriculumCourse.@Aca_CurriculumCourse.Property_CourseId==row.@Aca_Course.Property_Id }">
                                @*<td class="text-center">
                                                                                <input ng-model="CurriculumCourse.@Aca_CurriculumCourse.Property_CourseId" type="radio"
                                                                                       ng-change="changeSelectedCourse(row)"
                                                                                       value="{{row.@Aca_Course.Property_Id}}"/>
                                                                            </td>*@
                                <td class="text-center">{{$index+1}}</td>
                                <td class="text-center" style="width: 110px;">{{row.@Aca_Course.Property_Code}}</td>
                                <td class="">{{row.@Aca_Course.Property_Name}}</td>
                                <td class="text-center" style="width: 56px;">{{row.@Aca_Course.Property_CreditLoad}}</td>
                                <td class="text-center" style="width: 66px;">{{row.@Aca_Course.Property_CreditHour}}</td>
                                <td class="text-center">{{row.@Aca_Course.Property_CourseCategory}}</td>
                                <td class="text-center" style="width: 110px;">{{row.LevelTermName}}</td>
                                <td class="text-center">
                                    <button ng-click="changeSelectedCourse(row)"
                                            ng-disabled="CurriculumCourse.@Aca_CurriculumCourse.Property_CourseId==row.@Aca_Course.Property_Id"
                                            type="button" class="btn btn-xs btn-primary">
                                        <i class="fa fa-hand-o-up"></i> Select
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal End -->
    </td>
    <td>
        <button type="button" class="btn-none" data-toggle="tooltip" data-placement="top"
                title="Curriculum Course ">
            <i class="fa fa-question-circle"></i>
        </button>
    </td>
</tr>
<tr>
    <td><label class="control-label">Course Code <span  class="red glyphicon glyphicon-asterisk"></span></label></td>
    <td><label class="control-label">:</label></td>
    <td>
        <input type="text" ng-disabled="@HttpUtil.Profile.UserId!=1" ng-model="CurriculumCourse.@Aca_CurriculumCourse.Property_Code" class="form-control" placeholder="Enter Code" maxlength="128" required="" />
    </td>
    <td>
        <button type="button" class="btn-none" data-toggle="tooltip" data-placement="top"
                title="Curriculum Course ">
            <i class="fa fa-question-circle"></i>
        </button>
    </td>
</tr>
<tr>
    <td><label class="control-label">Course Name <span  class="red glyphicon glyphicon-asterisk"></span></label></td>
    <td><label class="control-label">:</label></td>
    <td>
        <input type="text" ng-disabled="@HttpUtil.Profile.UserId!=1" ng-model="CurriculumCourse.@Aca_CurriculumCourse.Property_Name" class="form-control" placeholder="Enter Name" maxlength="256" required="" />
    </td>
    <td>
        <button type="button" class="btn-none" data-toggle="tooltip" data-placement="top"
                title="Curriculum Course ">
            <i class="fa fa-question-circle"></i>
        </button>
    </td>
</tr>
<tr>
    <td><label class="control-label">Short Name </label></td>
    <td><label class="control-label">:</label></td>
    <td>
        <input type="text" ng-model="CurriculumCourse.@Aca_CurriculumCourse.Property_ShortName" class="form-control" placeholder="Enter Short Name" maxlength="256" />
    </td>
    <td>
        <button type="button" class="btn-none" data-toggle="tooltip" data-placement="top"
                title="Curriculum Course ">
            <i class="fa fa-question-circle"></i>
        </button>
    </td>
</tr>
<tr>
    <td><label class="control-label">Course Category <span  class="red glyphicon glyphicon-asterisk"></span></label></td>
    <td><label class="control-label">:</label></td>
    <td>
        <select ng-disabled="true" ng-model="CurriculumCourse.@Aca_CurriculumCourse.Property_CourseCategoryEnumId" ng-options="option.Id as option.Name for option in CourseCategoryEnumList " ng-init="" class="form-control"></select>
    </td>
    <td>
        <button type="button" class="btn-none" data-toggle="tooltip" data-placement="top"
                title="Curriculum Course ">
            <i class="fa fa-question-circle"></i>
        </button>
    </td>
</tr>
<tr>
    <td><label class="control-label">Credit Hour <span  class="red glyphicon glyphicon-asterisk"></span></label></td>
    <td><label class="control-label">:</label></td>
    <td>
        <input ng-disabled="true" type="number" ng-model="CurriculumCourse.@Aca_CurriculumCourse.Property_CreditLoad" class="form-control" placeholder="Enter Credit Load" />
    </td>
    <td>
        <button type="button" class="btn-none" data-toggle="tooltip" data-placement="top"
                title="Curriculum Course ">
            <i class="fa fa-question-circle"></i>
        </button>
    </td>
</tr>
<tr>
    <td><label class="control-label">Contact Hour <span  class="red glyphicon glyphicon-asterisk"></span></label></td>
    <td><label class="control-label">:</label></td>
    <td>
        <input type="number" ng-model="CurriculumCourse.@Aca_CurriculumCourse.Property_CreditHour" class="form-control" placeholder="Enter Credit Hour" />
    </td>
    <td>
        <button type="button" class="btn-none" data-toggle="tooltip" data-placement="top"
                title="Curriculum Course ">
            <i class="fa fa-question-circle"></i>
        </button>
    </td>
</tr>
<tr>
    <td><label class="control-label">Level Term <span  class="red glyphicon glyphicon-asterisk"></span></label></td>
    <td><label class="control-label">:</label></td>
    <td>
        <select ng-model="CurriculumCourse.@Aca_CurriculumCourse.Property_StudyLevelTermId"
                ng-options="option.Id as option.Name for option in StudyLevelTermList " ng-init="" class="form-control"></select>
    </td>
    <td>
        <button type="button" class="btn-none" data-toggle="tooltip" data-placement="top"
                title="Curriculum Course ">
            <i class="fa fa-question-circle"></i>
        </button>
    </td>
</tr>
<tr>
    <td><label class="control-label">Credit Type <span  class="red glyphicon glyphicon-asterisk"></span></label></td>
    <td><label class="control-label">:</label></td>
    <td>
        <select ng-model="CurriculumCourse.@Aca_CurriculumCourse.Property_CreditTypeEnumId" ng-options="option.Id as option.Name for option in CreditTypeEnumList " ng-init="" class="form-control"></select>
    </td>
    <td>
        <button type="button" class="btn-none" data-toggle="tooltip" data-placement="top"
                title="Curriculum Course ">
            <i class="fa fa-question-circle"></i>
        </button>
    </td>
</tr>
<tr>
    <td><label class="control-label">Course Status <span  class="red glyphicon glyphicon-asterisk"></span></label></td>
    <td><label class="control-label">:</label></td>
    <td>
        <select ng-model="CurriculumCourse.@Aca_CurriculumCourse.Property_StatusEnumId" ng-options="option.Id as option.Name for option in StatusEnumList " ng-init="" class="form-control"></select>
    </td>
    <td>
        <button type="button" class="btn-none" data-toggle="tooltip" data-placement="top"
                title="Curriculum Course ">
            <i class="fa fa-question-circle"></i>
        </button>
    </td>
</tr>
<tr>
    <td><label class="control-label">Course Type <span  class="red glyphicon glyphicon-asterisk"></span></label></td>
    <td><label class="control-label">:</label></td>
    <td>
        <select ng-model="CurriculumCourse.@Aca_CurriculumCourse.Property_CourseTypeEnumId" ng-options="option.Id as option.Name for option in CourseTypeEnumList " ng-init="" class="form-control"></select>
    </td>
    <td>
        <button type="button" class="btn-none" data-toggle="tooltip" data-placement="top"
                title="Curriculum Course ">
            <i class="fa fa-question-circle"></i>
        </button>
    </td>
</tr>
<tr  ng-hide="CurriculumCourse.@Aca_CurriculumCourse.Property_CourseTypeEnumId!=@((int) Aca_CurriculumCourse.CourseTypeEnum.Elective)">
    <td><label class="control-label">Elective Group <span  class="red glyphicon glyphicon-asterisk"></span></label></td>
    <td><label class="control-label">:</label></td>
    <td>
        <select ng-model="CurriculumCourse.@Aca_CurriculumCourse.Property_ElectiveGroupId"
                ng-disabled="CurriculumCourse.@Aca_CurriculumCourse.Property_CourseTypeEnumId!=@((int) Aca_CurriculumCourse.CourseTypeEnum.Elective)"
                ng-options="option.Id as option.Name for option in FilterCurriculumElectiveGroupList " ng-init="" class="form-control">
            <option value="" label="" class="">--Select Elective Group--</option>
        </select>
    </td>
    <td>
        <button type="button" class="btn-none" data-toggle="tooltip" data-placement="top"
                title="Curriculum Course ">
            <i class="fa fa-question-circle"></i>
        </button>
    </td>
</tr>
<tr>
    <td><label class="control-label">Is Departmental <span  class="red glyphicon glyphicon-asterisk"></span></label></td>
    <td><label class="control-label">:</label></td>
    <td>
        <div class="checkbox">
            <input type="checkbox" ng-model="CurriculumCourse.@Aca_CurriculumCourse.Property_IsDepartmental" /> Departmental Course
        </div>
    </td>
    <td>
        <button type="button" class="btn-none" data-toggle="tooltip" data-placement="top"
                title="Curriculum Course ">
            <i class="fa fa-question-circle"></i>
        </button>
    </td>
</tr>
<tr>
    <td><label class="control-label">Course taken/offering Department <span  class="red glyphicon glyphicon-asterisk"></span></label></td>
    <td><label class="control-label">:</label></td>
    <td>
        <select ng-model="CurriculumCourse.@Aca_CurriculumCourse.Property_OfferedByDepartmentId"
                ng-disabled ="CurriculumCourse.@Aca_CurriculumCourse.Property_IsDepartmental"
                ng-options="option.Id as option.ShortName for option in DepartmentList " ng-init="" class="form-control"></select>
    </td>
    <td>
        <button type="button" class="btn-none" data-toggle="tooltip" data-placement="top"
                title="Curriculum Course taken or offering Department">
            <i class="fa fa-question-circle"></i>
        </button>
    </td>
</tr>

</table>
</div>
</div>
</div>

<div class="col-sm-6">
    <div class="widget">
        <div class="widget-header bg-blueberry">
            <i class="widget-icon fa fa-info-circle"></i>
            <span class="widget-caption">Additional Settings</span>
            <div class="widget-buttons">
                <a href="#" data-toggle="maximize">
                    <i class="fa fa-expand"></i>
                </a>
                <a href="#" data-toggle="collapse">
                    <i class="fa fa-minus"></i>
                </a>
            </div>
        </div>
        <div class="widget-body">
            <table class="table table-no-bordered">

                <tr>
                    <td><label class="control-label">Tution Fee</label></td>
                    <td><label class="control-label">:</label></td>
                    <td>
                        <input type="number" ng-model="CurriculumCourse.@Aca_CurriculumCourse.Property_TutionFee" class="form-control" placeholder="Enter Tution Fee" />
                    </td>
                    <td>
                        <button type="button" class="btn-none" data-toggle="tooltip" data-placement="top"
                                title="Tution Fee ">
                            <i class="fa fa-question-circle"></i>
                        </button>
                    </td>
                </tr>

                <tr>
                    <td><label class="control-label">Retake Tution Fee</label></td>
                    <td><label class="control-label">:</label></td>
                    <td>
                        <input type="number" ng-model="CurriculumCourse.@Aca_CurriculumCourse.Property_RetakeTutionFee" class="form-control" placeholder="Enter Retake Tution Fee" />
                    </td>
                    <td>
                        <button type="button" class="btn-none" data-toggle="tooltip" data-placement="top"
                                title="Retake Tution Fee ">
                            <i class="fa fa-question-circle"></i>
                        </button>
                    </td>
                </tr>

                <tr>
                    <td><label class="control-label">Exam Fee</label></td>
                    <td><label class="control-label">:</label></td>
                    <td>
                        <input type="number" ng-model="CurriculumCourse.@Aca_CurriculumCourse.Property_ExamFee" class="form-control" placeholder="Enter Exam Fee" />
                    </td>
                    <td>
                        <button type="button" class="btn-none" data-toggle="tooltip" data-placement="top"
                                title="Exam Fee ">
                            <i class="fa fa-question-circle"></i>
                        </button>
                    </td>
                </tr>

                <tr>
                    <td><label class="control-label">Retake Exam Fee</label></td>
                    <td><label class="control-label">:</label></td>
                    <td>
                        <input type="number" ng-model="CurriculumCourse.@Aca_CurriculumCourse.Property_RetakeExamFee" class="form-control" placeholder="Enter Retake Exam Fee" />
                    </td>
                    <td>
                        <button type="button" class="btn-none" data-toggle="tooltip" data-placement="top"
                                title="Retake Exam Fee ">
                            <i class="fa fa-question-circle"></i>
                        </button>
                    </td>
                </tr>

                <tr>
                    <td><label class="control-label">Other Charge</label></td>
                    <td><label class="control-label">:</label></td>
                    <td>
                        <input type="number" ng-model="CurriculumCourse.@Aca_CurriculumCourse.Property_OtherCharge" class="form-control" placeholder="Enter Other Charge" />
                    </td>
                    <td>
                        <button type="button" class="btn-none" data-toggle="tooltip" data-placement="top"
                                title="Other Charge">
                            <i class="fa fa-question-circle"></i>
                        </button>
                    </td>
                </tr>

                @*<tr>
                    <td><label class="control-label">Prerequisite Course Id Json </label></td>
                    <td><label class="control-label">:</label></td>
                    <td>
                        <textarea ng-model="Curriculum.@Aca_CurriculumCourse.Property_PrerequisiteCourseIdJson" class="form-control" placeholder="Enter Pre-requisite Course Id Json" required=""></textarea>
                    </td>
                    <td>
                        <button type="button" class="btn-none" data-toggle="tooltip" data-placement="top"
                                title="Pre-requisite Course Id Json ">
                            <i class="fa fa-question-circle"></i>
                        </button>
                    </td>
                </tr>*@

                <tr>
                    <td><label class="control-label">Is Check Prerequisite <span class="red glyphicon glyphicon-asterisk"></span></label></td>
                    <td><label class="control-label">:</label></td>
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" ng-model="CurriculumCourse.@Aca_CurriculumCourse.Property_IsCheckPrerequisite" />
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn-none" data-toggle="tooltip" data-placement="top"
                                title="Is check Pre-requisite ">
                            <i class="fa fa-question-circle"></i>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12" >
            <div ng-show="CurriculumCourse.@Aca_CurriculumCourse.Property_Id>0 && CurriculumCourse.@Aca_CurriculumCourse.Property_IsCheckPrerequisite" class="widget">
                <div class="widget-header bg-blueberry">
                    <i class="widget-icon fa fa-compass"></i>
                    <span class="widget-caption">Prereqisuite Courses</span>
                    <div class="widget-buttons buttons-bordered no-padding-right">
                        <button ng-click="openPreRequisiteAddModal()"
                                type="button" class="btn btn-xs btn-success"
                                @*data-toggle="modal" data-target="#addPreRequisiteCourseModal"*@>
                            <i class="fa fa-plus"></i> Add New
                        </button>
                        <button ng-click="" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i> Refresh</button>
                    </div>
                    <div class="widget-buttons">
                        <a href="#" data-toggle="maximize">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a href="#" data-toggle="collapse">
                            <i class="fa fa-minus"></i>
                        </a>
                    </div>
                </div>
                <div class="widget-body" style="padding: 0">
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="bordered-blue">
                            <tr>
                                <th class="text-center" style="display:none">
                                    <input type="checkbox" ng-click="selectAll($event)">
                                </th>
                                <th class="text-center">SN</th>
                                <th class="text-center">Title</th>
                                <th class="text-center">Credit</th>
                                <th class="text-center">Category</th>
                                <th class="text-center no-print">Action</th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr ng-repeat="row in PreRequisiteCourseList">
                                <td class="text-center" style="display:none">
                                    <input type="checkbox" ng-model="row.@Aca_ClassRoutine.Property_IsSelected" />
                                </td>
                                <td class="text-center">{{$index+1}}</td>
                                <td>{{row.Name}}</td>
                                <td class="text-center">{{row.CreditHour}}</td>
                                <td class="text-center">{{row.CategoryType}}</td>
                                <td class="text-center no-print">
                                    <button ng-click="deletePreRequisiteCourseById(row)" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="addPreRequisiteCourseModal" tabindex="-1" role="dialog" aria-labelledby="addPreRequisiteCourseModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="addClassRoutineModalLabel">Add New Prerequisite Course</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <label class="control-label">Select Courses from This Syllabus</label>
                                    <div class="form-group">
                                        <select ng-model="SelectedPreRequisiteCourseId"
                                                ng-options="option.Id as option.Code +':'+ option.Name +' [Cr.'+option.CreditHour+']' for option in CurriculumCourseList"
                                                ng-init="" class="form-control">
                                            <option value="" label="" class="">---Select Prerequisite Course---</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button ng-click="refreshCurriculumCourseList()" class="btn btn-info"> <i class="fa fa-refresh"></i>Refresh </button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                                <button type="button"
                                        ng-click="addNewPreRequisiteCourse()"
                                        class="btn btn-success">
                                    <i class="fa fa-save"></i> Add
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal End -->

        </div>
    </div>
    

</div>
</div>
@*<div class="widget-footer text-center">
    <button ng-click="@(saveCurriculumCourse)()" class="btn btn-md btn-success"><span  class="fa fa-save"></span> Save</button>
</div>*@
<div class="row">
    <div class="col-sm-12">
    <div class="widget">
        <div class="widget-header bg-blueberry">
            <i class="widget-icon fa fa-info-circle"></i>
            <span class="widget-caption">Course Outline</span>
            <div class="widget-buttons">
                <a href="#" data-toggle="maximize">
                    <i class="fa fa-expand"></i>
                </a>
                <a href="#" data-toggle="collapse">
                    <i class="fa fa-minus"></i>
                </a>
            </div>
        </div>
        <div class="widget-body" style="padding: 0">
            <table class="table table-no-bordered">
                <tr>
                    <td>

                        @*<div class="compose-message-editor">
                            <div id="descriptionText" style="display: none;"></div><div class="note-editor"><div class="note-dropzone"><div class="note-dropzone-message"></div></div><div class="note-dialog"><div class="note-image-dialog modal" aria-hidden="false"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" aria-hidden="true" tabindex="-1">×</button><h4>Insert Image</h4></div><div class="modal-body"><div class="row-fluid"><h5>Select from files</h5><input class="note-image-input" type="file" name="files" accept="image/*"><h5>Image URL</h5><input class="note-image-url form-control span12" type="text"></div></div><div class="modal-footer"><button href="#" class="btn btn-primary note-image-btn disabled" disabled="disabled">Insert Image</button></div></div></div></div><div class="note-link-dialog modal" aria-hidden="false"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" aria-hidden="true" tabindex="-1">×</button><h4>Insert Link</h4></div><div class="modal-body"><div class="row-fluid"><div class="form-group"><label>Text to display</label><input class="note-link-text form-control span12" disabled="" type="text"></div><div class="form-group"><label>To what URL should this link go?</label><input class="note-link-url form-control span12" type="text"></div><div class="checkbox"><label><input type="checkbox" checked=""> Open in new window</label></div></div></div><div class="modal-footer"><button href="#" class="btn btn-primary note-link-btn disabled" disabled="disabled">Insert Link</button></div></div></div></div><div class="note-video-dialog modal" aria-hidden="false"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" aria-hidden="true" tabindex="-1">×</button><h4>Insert Video</h4></div><div class="modal-body"><div class="row-fluid"><div class="form-group"><label>Video URL?</label>&nbsp;<small class="text-muted">(YouTube, Vimeo, Vine, Instagram, or DailyMotion)</small><input class="note-video-url form-control span12" type="text"></div></div></div><div class="modal-footer"><button href="#" class="btn btn-primary note-video-btn disabled" disabled="disabled">Insert Video</button></div></div></div></div><div class="note-help-dialog modal" aria-hidden="false"><div class="modal-dialog"><div class="modal-content"><div class="modal-body"><a class="modal-close pull-right" aria-hidden="true" tabindex="-1">Close</a><div class="title">Keyboard shortcuts</div><p class="text-center"><a href="//hackerwins.github.io/summernote/" target="_blank">Summernote 0.5.1</a> · <a href="//github.com/HackerWins/summernote" target="_blank">Project</a> · <a href="//github.com/HackerWins/summernote/issues" target="_blank">Issues</a></p><table class="note-shortcut-layout"><tbody><tr><td><table class="note-shortcut"><thead><tr><th></th><th>Action</th></tr></thead><tbody><tr><td>Ctrl + Z</td><td>Undo</td></tr><tr><td>Ctrl + Shift + Z</td><td>Redo</td></tr><tr><td>Ctrl + ]</td><td>Indent</td></tr><tr><td>Ctrl + [</td><td>Outdent</td></tr><tr><td>Ctrl + ENTER</td><td>Insert Horizontal Rule</td></tr></tbody></table></td><td><table class="note-shortcut"><thead><tr><th></th><th>Text formatting</th></tr></thead><tbody><tr><td>Ctrl + B</td><td>Bold</td></tr><tr><td>Ctrl + I</td><td>Italic</td></tr><tr><td>Ctrl + U</td><td>Underline</td></tr><tr><td>Ctrl + Shift + S</td><td>Strike</td></tr><tr><td>Ctrl + \</td><td>Remove Font Style</td></tr></tbody></table></td></tr><tr><td><table class="note-shortcut"><thead><tr><th></th><th>Document Style</th></tr></thead><tbody><tr><td>Ctrl + NUM0</td><td>Normal</td></tr><tr><td>Ctrl + NUM1</td><td>Header 1</td></tr><tr><td>Ctrl + NUM2</td><td>Header 2</td></tr><tr><td>Ctrl + NUM3</td><td>Header 3</td></tr><tr><td>Ctrl + NUM4</td><td>Header 4</td></tr><tr><td>Ctrl + NUM5</td><td>Header 5</td></tr><tr><td>Ctrl + NUM6</td><td>Header 6</td></tr></tbody></table></td><td><table class="note-shortcut"><thead><tr><th></th><th>Paragraph formatting</th></tr></thead><tbody><tr><td>Ctrl + Shift + L</td><td>Align left</td></tr><tr><td>Ctrl + Shift + E</td><td>Align center</td></tr><tr><td>Ctrl + Shift + R</td><td>Align right</td></tr><tr><td>Ctrl + Shift + J</td><td>Justify full</td></tr><tr><td>Ctrl + Shift + NUM7</td><td>Ordered list</td></tr><tr><td>Ctrl + Shift + NUM8</td><td>Unordered list</td></tr></tbody></table></td></tr></tbody></table></div></div></div></div></div><div class="note-handle"><div class="note-control-selection"><div class="note-control-selection-bg"></div><div class="note-control-holder note-control-nw"></div><div class="note-control-holder note-control-ne"></div><div class="note-control-holder note-control-sw"></div><div class="note-control-sizing note-control-se"></div><div class="note-control-selection-info"></div></div></div><div class="note-popover"><div class="note-link-popover popover bottom in" style="display: none;"><div class="arrow"></div><div class="popover-content note-link-content"><a href="http://www.google.com" target="_blank">www.google.com</a>&nbsp;&nbsp;<div class="note-insert btn-group"><button type="button" class="btn btn-default btn-sm btn-small" title="" data-event="showLinkDialog" tabindex="-1" data-original-title="Edit"><i class="fa fa-edit icon-edit"></i></button><button type="button" class="btn btn-default btn-sm btn-small" title="" data-event="unlink" tabindex="-1" data-original-title="Unlink"><i class="fa fa-unlink icon-unlink"></i></button></div></div></div><div class="note-image-popover popover bottom in" style="display: none;"><div class="arrow"></div><div class="popover-content note-image-content"><div class="btn-group"><button type="button" class="btn btn-default btn-sm btn-small" title="" data-event="resize" data-value="1" tabindex="-1" data-original-title="Resize Full"><span class="note-fontsize-10">100%</span> </button><button type="button" class="btn btn-default btn-sm btn-small" title="" data-event="resize" data-value="0.5" tabindex="-1" data-original-title="Resize Half"><span class="note-fontsize-10">50%</span> </button><button type="button" class="btn btn-default btn-sm btn-small" title="" data-event="resize" data-value="0.25" tabindex="-1" data-original-title="Resize Quarter"><span class="note-fontsize-10">25%</span> </button></div><div class="btn-group"><button type="button" class="btn btn-default btn-sm btn-small" title="" data-event="floatMe" data-value="left" tabindex="-1" data-original-title="Float Left"><i class="fa fa-align-left icon-align-left"></i></button><button type="button" class="btn btn-default btn-sm btn-small" title="" data-event="floatMe" data-value="right" tabindex="-1" data-original-title="Float Right"><i class="fa fa-align-right icon-align-right"></i></button><button type="button" class="btn btn-default btn-sm btn-small" title="" data-event="floatMe" data-value="none" tabindex="-1" data-original-title="Float None"><i class="fa fa-align-justify icon-align-justify"></i></button></div><div class="btn-group"><button type="button" class="btn btn-default btn-sm btn-small" title="" data-event="removeMedia" data-value="none" tabindex="-1" data-original-title="Remove Image"><i class="fa fa-trash-o icon-trash"></i></button></div></div></div></div><div class="note-toolbar btn-toolbar"><div class="note-style btn-group"><button type="button" class="btn btn-default btn-sm btn-small dropdown-toggle" title="" data-toggle="dropdown" tabindex="-1" data-original-title="Style"><i class="fa fa-magic icon-magic"></i> <span class="caret"></span></button><ul class="dropdown-menu"><li><a data-event="formatBlock" data-value="p">Normal</a></li><li><a data-event="formatBlock" data-value="blockquote"><blockquote>Quote</blockquote></a></li><li><a data-event="formatBlock" data-value="pre">Code</a></li><li><a data-event="formatBlock" data-value="h1"><h1>Header 1</h1></a></li><li><a data-event="formatBlock" data-value="h2"><h2>Header 2</h2></a></li><li><a data-event="formatBlock" data-value="h3"><h3>Header 3</h3></a></li><li><a data-event="formatBlock" data-value="h4"><h4>Header 4</h4></a></li><li><a data-event="formatBlock" data-value="h5"><h5>Header 5</h5></a></li><li><a data-event="formatBlock" data-value="h6"><h6>Header 6</h6></a></li></ul></div><div class="note-font btn-group"><button type="button" class="btn btn-default btn-sm btn-small" title="" data-shortcut="Ctrl+B" data-mac-shortcut="⌘+B" data-event="bold" tabindex="-1" data-original-title="Bold (Ctrl+B)"><i class="fa fa-bold icon-bold"></i></button><button type="button" class="btn btn-default btn-sm btn-small" title="" data-shortcut="Ctrl+I" data-mac-shortcut="⌘+I" data-event="italic" tabindex="-1" data-original-title="Italic (Ctrl+I)"><i class="fa fa-italic icon-italic"></i></button><button type="button" class="btn btn-default btn-sm btn-small" title="" data-shortcut="Ctrl+U" data-mac-shortcut="⌘+U" data-event="underline" tabindex="-1" data-original-title="Underline (Ctrl+U)"><i class="fa fa-underline icon-underline"></i></button><button type="button" class="btn btn-default btn-sm btn-small" title="" data-shortcut="Ctrl+\" data-mac-shortcut="⌘+\" data-event="removeFormat" tabindex="-1" data-original-title="Remove Font Style (Ctrl+\)"><i class="fa fa-eraser icon-eraser"></i></button></div><div class="note-fontname btn-group"><button type="button" class="btn btn-default btn-sm btn-small dropdown-toggle" data-toggle="dropdown" title="" tabindex="-1" data-original-title="Font Family"><span class="note-current-fontname">Arial</span> <b class="caret"></b></button><ul class="dropdown-menu"><li><a data-event="fontName" data-value="Serif"><i class="fa fa-check icon-ok"></i> Serif</a></li><li><a data-event="fontName" data-value="Sans"><i class="fa fa-check icon-ok"></i> Sans</a></li><li><a data-event="fontName" data-value="Arial"><i class="fa fa-check icon-ok"></i> Arial</a></li><li><a data-event="fontName" data-value="Arial Black"><i class="fa fa-check icon-ok"></i> Arial Black</a></li><li><a data-event="fontName" data-value="Courier"><i class="fa fa-check icon-ok"></i> Courier</a></li><li><a data-event="fontName" data-value="Courier New"><i class="fa fa-check icon-ok"></i> Courier New</a></li><li><a data-event="fontName" data-value="Comic Sans MS"><i class="fa fa-check icon-ok"></i> Comic Sans MS</a></li><li><a data-event="fontName" data-value="Helvetica"><i class="fa fa-check icon-ok"></i> Helvetica</a></li><li><a data-event="fontName" data-value="Impact"><i class="fa fa-check icon-ok"></i> Impact</a></li><li><a data-event="fontName" data-value="Lucida Grande"><i class="fa fa-check icon-ok"></i> Lucida Grande</a></li><li><a data-event="fontName" data-value="Lucida Sans"><i class="fa fa-check icon-ok"></i> Lucida Sans</a></li><li><a data-event="fontName" data-value="Tahoma"><i class="fa fa-check icon-ok"></i> Tahoma</a></li><li><a data-event="fontName" data-value="Times"><i class="fa fa-check icon-ok"></i> Times</a></li><li><a data-event="fontName" data-value="Times New Roman"><i class="fa fa-check icon-ok"></i> Times New Roman</a></li><li><a data-event="fontName" data-value="Verdana"><i class="fa fa-check icon-ok"></i> Verdana</a></li></ul></div><div class="note-color btn-group"><button type="button" class="btn btn-default btn-sm btn-small note-recent-color" title="" data-event="color" data-value="{&quot;backColor&quot;:&quot;yellow&quot;}" tabindex="-1" data-original-title="Recent Color"><i class="fa fa-font icon-font" style="color:black;background-color:yellow;"></i></button><button type="button" class="btn btn-default btn-sm btn-small dropdown-toggle" title="" data-toggle="dropdown" tabindex="-1" data-original-title="More Color"><span class="caret"></span></button><ul class="dropdown-menu"><li><div class="btn-group"><div class="note-palette-title">BackColor</div><div class="note-color-reset" data-event="backColor" data-value="inherit" title="Transparent">Set transparent</div><div class="note-color-palette" data-target-event="backColor"><div><button type="button" class="note-color-btn" style="background-color:#000000;" data-event="backColor" data-value="#000000" title="" data-toggle="button" tabindex="-1" data-original-title="#000000"></button><button type="button" class="note-color-btn" style="background-color:#424242;" data-event="backColor" data-value="#424242" title="" data-toggle="button" tabindex="-1" data-original-title="#424242"></button><button type="button" class="note-color-btn" style="background-color:#636363;" data-event="backColor" data-value="#636363" title="" data-toggle="button" tabindex="-1" data-original-title="#636363"></button><button type="button" class="note-color-btn" style="background-color:#9C9C94;" data-event="backColor" data-value="#9C9C94" title="" data-toggle="button" tabindex="-1" data-original-title="#9C9C94"></button><button type="button" class="note-color-btn" style="background-color:#CEC6CE;" data-event="backColor" data-value="#CEC6CE" title="" data-toggle="button" tabindex="-1" data-original-title="#CEC6CE"></button><button type="button" class="note-color-btn" style="background-color:#EFEFEF;" data-event="backColor" data-value="#EFEFEF" title="" data-toggle="button" tabindex="-1" data-original-title="#EFEFEF"></button><button type="button" class="note-color-btn" style="background-color:#F7F7F7;" data-event="backColor" data-value="#F7F7F7" title="" data-toggle="button" tabindex="-1" data-original-title="#F7F7F7"></button><button type="button" class="note-color-btn" style="background-color:#FFFFFF;" data-event="backColor" data-value="#FFFFFF" title="" data-toggle="button" tabindex="-1" data-original-title="#FFFFFF"></button></div><div><button type="button" class="note-color-btn" style="background-color:#FF0000;" data-event="backColor" data-value="#FF0000" title="" data-toggle="button" tabindex="-1" data-original-title="#FF0000"></button><button type="button" class="note-color-btn" style="background-color:#FF9C00;" data-event="backColor" data-value="#FF9C00" title="" data-toggle="button" tabindex="-1" data-original-title="#FF9C00"></button><button type="button" class="note-color-btn" style="background-color:#FFFF00;" data-event="backColor" data-value="#FFFF00" title="" data-toggle="button" tabindex="-1" data-original-title="#FFFF00"></button><button type="button" class="note-color-btn" style="background-color:#00FF00;" data-event="backColor" data-value="#00FF00" title="" data-toggle="button" tabindex="-1" data-original-title="#00FF00"></button><button type="button" class="note-color-btn" style="background-color:#00FFFF;" data-event="backColor" data-value="#00FFFF" title="" data-toggle="button" tabindex="-1" data-original-title="#00FFFF"></button><button type="button" class="note-color-btn" style="background-color:#0000FF;" data-event="backColor" data-value="#0000FF" title="" data-toggle="button" tabindex="-1" data-original-title="#0000FF"></button><button type="button" class="note-color-btn" style="background-color:#9C00FF;" data-event="backColor" data-value="#9C00FF" title="" data-toggle="button" tabindex="-1" data-original-title="#9C00FF"></button><button type="button" class="note-color-btn" style="background-color:#FF00FF;" data-event="backColor" data-value="#FF00FF" title="" data-toggle="button" tabindex="-1" data-original-title="#FF00FF"></button></div><div><button type="button" class="note-color-btn" style="background-color:#F7C6CE;" data-event="backColor" data-value="#F7C6CE" title="" data-toggle="button" tabindex="-1" data-original-title="#F7C6CE"></button><button type="button" class="note-color-btn" style="background-color:#FFE7CE;" data-event="backColor" data-value="#FFE7CE" title="" data-toggle="button" tabindex="-1" data-original-title="#FFE7CE"></button><button type="button" class="note-color-btn" style="background-color:#FFEFC6;" data-event="backColor" data-value="#FFEFC6" title="" data-toggle="button" tabindex="-1" data-original-title="#FFEFC6"></button><button type="button" class="note-color-btn" style="background-color:#D6EFD6;" data-event="backColor" data-value="#D6EFD6" title="" data-toggle="button" tabindex="-1" data-original-title="#D6EFD6"></button><button type="button" class="note-color-btn" style="background-color:#CEDEE7;" data-event="backColor" data-value="#CEDEE7" title="" data-toggle="button" tabindex="-1" data-original-title="#CEDEE7"></button><button type="button" class="note-color-btn" style="background-color:#CEE7F7;" data-event="backColor" data-value="#CEE7F7" title="" data-toggle="button" tabindex="-1" data-original-title="#CEE7F7"></button><button type="button" class="note-color-btn" style="background-color:#D6D6E7;" data-event="backColor" data-value="#D6D6E7" title="" data-toggle="button" tabindex="-1" data-original-title="#D6D6E7"></button><button type="button" class="note-color-btn" style="background-color:#E7D6DE;" data-event="backColor" data-value="#E7D6DE" title="" data-toggle="button" tabindex="-1" data-original-title="#E7D6DE"></button></div><div><button type="button" class="note-color-btn" style="background-color:#E79C9C;" data-event="backColor" data-value="#E79C9C" title="" data-toggle="button" tabindex="-1" data-original-title="#E79C9C"></button><button type="button" class="note-color-btn" style="background-color:#FFC69C;" data-event="backColor" data-value="#FFC69C" title="" data-toggle="button" tabindex="-1" data-original-title="#FFC69C"></button><button type="button" class="note-color-btn" style="background-color:#FFE79C;" data-event="backColor" data-value="#FFE79C" title="" data-toggle="button" tabindex="-1" data-original-title="#FFE79C"></button><button type="button" class="note-color-btn" style="background-color:#B5D6A5;" data-event="backColor" data-value="#B5D6A5" title="" data-toggle="button" tabindex="-1" data-original-title="#B5D6A5"></button><button type="button" class="note-color-btn" style="background-color:#A5C6CE;" data-event="backColor" data-value="#A5C6CE" title="" data-toggle="button" tabindex="-1" data-original-title="#A5C6CE"></button><button type="button" class="note-color-btn" style="background-color:#9CC6EF;" data-event="backColor" data-value="#9CC6EF" title="" data-toggle="button" tabindex="-1" data-original-title="#9CC6EF"></button><button type="button" class="note-color-btn" style="background-color:#B5A5D6;" data-event="backColor" data-value="#B5A5D6" title="" data-toggle="button" tabindex="-1" data-original-title="#B5A5D6"></button><button type="button" class="note-color-btn" style="background-color:#D6A5BD;" data-event="backColor" data-value="#D6A5BD" title="" data-toggle="button" tabindex="-1" data-original-title="#D6A5BD"></button></div><div><button type="button" class="note-color-btn" style="background-color:#E76363;" data-event="backColor" data-value="#E76363" title="" data-toggle="button" tabindex="-1" data-original-title="#E76363"></button><button type="button" class="note-color-btn" style="background-color:#F7AD6B;" data-event="backColor" data-value="#F7AD6B" title="" data-toggle="button" tabindex="-1" data-original-title="#F7AD6B"></button><button type="button" class="note-color-btn" style="background-color:#FFD663;" data-event="backColor" data-value="#FFD663" title="" data-toggle="button" tabindex="-1" data-original-title="#FFD663"></button><button type="button" class="note-color-btn" style="background-color:#94BD7B;" data-event="backColor" data-value="#94BD7B" title="" data-toggle="button" tabindex="-1" data-original-title="#94BD7B"></button><button type="button" class="note-color-btn" style="background-color:#73A5AD;" data-event="backColor" data-value="#73A5AD" title="" data-toggle="button" tabindex="-1" data-original-title="#73A5AD"></button><button type="button" class="note-color-btn" style="background-color:#6BADDE;" data-event="backColor" data-value="#6BADDE" title="" data-toggle="button" tabindex="-1" data-original-title="#6BADDE"></button><button type="button" class="note-color-btn" style="background-color:#8C7BC6;" data-event="backColor" data-value="#8C7BC6" title="" data-toggle="button" tabindex="-1" data-original-title="#8C7BC6"></button><button type="button" class="note-color-btn" style="background-color:#C67BA5;" data-event="backColor" data-value="#C67BA5" title="" data-toggle="button" tabindex="-1" data-original-title="#C67BA5"></button></div><div><button type="button" class="note-color-btn" style="background-color:#CE0000;" data-event="backColor" data-value="#CE0000" title="" data-toggle="button" tabindex="-1" data-original-title="#CE0000"></button><button type="button" class="note-color-btn" style="background-color:#E79439;" data-event="backColor" data-value="#E79439" title="" data-toggle="button" tabindex="-1" data-original-title="#E79439"></button><button type="button" class="note-color-btn" style="background-color:#EFC631;" data-event="backColor" data-value="#EFC631" title="" data-toggle="button" tabindex="-1" data-original-title="#EFC631"></button><button type="button" class="note-color-btn" style="background-color:#6BA54A;" data-event="backColor" data-value="#6BA54A" title="" data-toggle="button" tabindex="-1" data-original-title="#6BA54A"></button><button type="button" class="note-color-btn" style="background-color:#4A7B8C;" data-event="backColor" data-value="#4A7B8C" title="" data-toggle="button" tabindex="-1" data-original-title="#4A7B8C"></button><button type="button" class="note-color-btn" style="background-color:#3984C6;" data-event="backColor" data-value="#3984C6" title="" data-toggle="button" tabindex="-1" data-original-title="#3984C6"></button><button type="button" class="note-color-btn" style="background-color:#634AA5;" data-event="backColor" data-value="#634AA5" title="" data-toggle="button" tabindex="-1" data-original-title="#634AA5"></button><button type="button" class="note-color-btn" style="background-color:#A54A7B;" data-event="backColor" data-value="#A54A7B" title="" data-toggle="button" tabindex="-1" data-original-title="#A54A7B"></button></div><div><button type="button" class="note-color-btn" style="background-color:#9C0000;" data-event="backColor" data-value="#9C0000" title="" data-toggle="button" tabindex="-1" data-original-title="#9C0000"></button><button type="button" class="note-color-btn" style="background-color:#B56308;" data-event="backColor" data-value="#B56308" title="" data-toggle="button" tabindex="-1" data-original-title="#B56308"></button><button type="button" class="note-color-btn" style="background-color:#BD9400;" data-event="backColor" data-value="#BD9400" title="" data-toggle="button" tabindex="-1" data-original-title="#BD9400"></button><button type="button" class="note-color-btn" style="background-color:#397B21;" data-event="backColor" data-value="#397B21" title="" data-toggle="button" tabindex="-1" data-original-title="#397B21"></button><button type="button" class="note-color-btn" style="background-color:#104A5A;" data-event="backColor" data-value="#104A5A" title="" data-toggle="button" tabindex="-1" data-original-title="#104A5A"></button><button type="button" class="note-color-btn" style="background-color:#085294;" data-event="backColor" data-value="#085294" title="" data-toggle="button" tabindex="-1" data-original-title="#085294"></button><button type="button" class="note-color-btn" style="background-color:#311873;" data-event="backColor" data-value="#311873" title="" data-toggle="button" tabindex="-1" data-original-title="#311873"></button><button type="button" class="note-color-btn" style="background-color:#731842;" data-event="backColor" data-value="#731842" title="" data-toggle="button" tabindex="-1" data-original-title="#731842"></button></div><div><button type="button" class="note-color-btn" style="background-color:#630000;" data-event="backColor" data-value="#630000" title="" data-toggle="button" tabindex="-1" data-original-title="#630000"></button><button type="button" class="note-color-btn" style="background-color:#7B3900;" data-event="backColor" data-value="#7B3900" title="" data-toggle="button" tabindex="-1" data-original-title="#7B3900"></button><button type="button" class="note-color-btn" style="background-color:#846300;" data-event="backColor" data-value="#846300" title="" data-toggle="button" tabindex="-1" data-original-title="#846300"></button><button type="button" class="note-color-btn" style="background-color:#295218;" data-event="backColor" data-value="#295218" title="" data-toggle="button" tabindex="-1" data-original-title="#295218"></button><button type="button" class="note-color-btn" style="background-color:#083139;" data-event="backColor" data-value="#083139" title="" data-toggle="button" tabindex="-1" data-original-title="#083139"></button><button type="button" class="note-color-btn" style="background-color:#003163;" data-event="backColor" data-value="#003163" title="" data-toggle="button" tabindex="-1" data-original-title="#003163"></button><button type="button" class="note-color-btn" style="background-color:#21104A;" data-event="backColor" data-value="#21104A" title="" data-toggle="button" tabindex="-1" data-original-title="#21104A"></button><button type="button" class="note-color-btn" style="background-color:#4A1031;" data-event="backColor" data-value="#4A1031" title="" data-toggle="button" tabindex="-1" data-original-title="#4A1031"></button></div></div></div><div class="btn-group"><div class="note-palette-title">FontColor</div><div class="note-color-reset" data-event="foreColor" data-value="inherit" title="Reset">Reset to default</div><div class="note-color-palette" data-target-event="foreColor"><div><button type="button" class="note-color-btn" style="background-color:#000000;" data-event="foreColor" data-value="#000000" title="" data-toggle="button" tabindex="-1" data-original-title="#000000"></button><button type="button" class="note-color-btn" style="background-color:#424242;" data-event="foreColor" data-value="#424242" title="" data-toggle="button" tabindex="-1" data-original-title="#424242"></button><button type="button" class="note-color-btn" style="background-color:#636363;" data-event="foreColor" data-value="#636363" title="" data-toggle="button" tabindex="-1" data-original-title="#636363"></button><button type="button" class="note-color-btn" style="background-color:#9C9C94;" data-event="foreColor" data-value="#9C9C94" title="" data-toggle="button" tabindex="-1" data-original-title="#9C9C94"></button><button type="button" class="note-color-btn" style="background-color:#CEC6CE;" data-event="foreColor" data-value="#CEC6CE" title="" data-toggle="button" tabindex="-1" data-original-title="#CEC6CE"></button><button type="button" class="note-color-btn" style="background-color:#EFEFEF;" data-event="foreColor" data-value="#EFEFEF" title="" data-toggle="button" tabindex="-1" data-original-title="#EFEFEF"></button><button type="button" class="note-color-btn" style="background-color:#F7F7F7;" data-event="foreColor" data-value="#F7F7F7" title="" data-toggle="button" tabindex="-1" data-original-title="#F7F7F7"></button><button type="button" class="note-color-btn" style="background-color:#FFFFFF;" data-event="foreColor" data-value="#FFFFFF" title="" data-toggle="button" tabindex="-1" data-original-title="#FFFFFF"></button></div><div><button type="button" class="note-color-btn" style="background-color:#FF0000;" data-event="foreColor" data-value="#FF0000" title="" data-toggle="button" tabindex="-1" data-original-title="#FF0000"></button><button type="button" class="note-color-btn" style="background-color:#FF9C00;" data-event="foreColor" data-value="#FF9C00" title="" data-toggle="button" tabindex="-1" data-original-title="#FF9C00"></button><button type="button" class="note-color-btn" style="background-color:#FFFF00;" data-event="foreColor" data-value="#FFFF00" title="" data-toggle="button" tabindex="-1" data-original-title="#FFFF00"></button><button type="button" class="note-color-btn" style="background-color:#00FF00;" data-event="foreColor" data-value="#00FF00" title="" data-toggle="button" tabindex="-1" data-original-title="#00FF00"></button><button type="button" class="note-color-btn" style="background-color:#00FFFF;" data-event="foreColor" data-value="#00FFFF" title="" data-toggle="button" tabindex="-1" data-original-title="#00FFFF"></button><button type="button" class="note-color-btn" style="background-color:#0000FF;" data-event="foreColor" data-value="#0000FF" title="" data-toggle="button" tabindex="-1" data-original-title="#0000FF"></button><button type="button" class="note-color-btn" style="background-color:#9C00FF;" data-event="foreColor" data-value="#9C00FF" title="" data-toggle="button" tabindex="-1" data-original-title="#9C00FF"></button><button type="button" class="note-color-btn" style="background-color:#FF00FF;" data-event="foreColor" data-value="#FF00FF" title="" data-toggle="button" tabindex="-1" data-original-title="#FF00FF"></button></div><div><button type="button" class="note-color-btn" style="background-color:#F7C6CE;" data-event="foreColor" data-value="#F7C6CE" title="" data-toggle="button" tabindex="-1" data-original-title="#F7C6CE"></button><button type="button" class="note-color-btn" style="background-color:#FFE7CE;" data-event="foreColor" data-value="#FFE7CE" title="" data-toggle="button" tabindex="-1" data-original-title="#FFE7CE"></button><button type="button" class="note-color-btn" style="background-color:#FFEFC6;" data-event="foreColor" data-value="#FFEFC6" title="" data-toggle="button" tabindex="-1" data-original-title="#FFEFC6"></button><button type="button" class="note-color-btn" style="background-color:#D6EFD6;" data-event="foreColor" data-value="#D6EFD6" title="" data-toggle="button" tabindex="-1" data-original-title="#D6EFD6"></button><button type="button" class="note-color-btn" style="background-color:#CEDEE7;" data-event="foreColor" data-value="#CEDEE7" title="" data-toggle="button" tabindex="-1" data-original-title="#CEDEE7"></button><button type="button" class="note-color-btn" style="background-color:#CEE7F7;" data-event="foreColor" data-value="#CEE7F7" title="" data-toggle="button" tabindex="-1" data-original-title="#CEE7F7"></button><button type="button" class="note-color-btn" style="background-color:#D6D6E7;" data-event="foreColor" data-value="#D6D6E7" title="" data-toggle="button" tabindex="-1" data-original-title="#D6D6E7"></button><button type="button" class="note-color-btn" style="background-color:#E7D6DE;" data-event="foreColor" data-value="#E7D6DE" title="" data-toggle="button" tabindex="-1" data-original-title="#E7D6DE"></button></div><div><button type="button" class="note-color-btn" style="background-color:#E79C9C;" data-event="foreColor" data-value="#E79C9C" title="" data-toggle="button" tabindex="-1" data-original-title="#E79C9C"></button><button type="button" class="note-color-btn" style="background-color:#FFC69C;" data-event="foreColor" data-value="#FFC69C" title="" data-toggle="button" tabindex="-1" data-original-title="#FFC69C"></button><button type="button" class="note-color-btn" style="background-color:#FFE79C;" data-event="foreColor" data-value="#FFE79C" title="" data-toggle="button" tabindex="-1" data-original-title="#FFE79C"></button><button type="button" class="note-color-btn" style="background-color:#B5D6A5;" data-event="foreColor" data-value="#B5D6A5" title="" data-toggle="button" tabindex="-1" data-original-title="#B5D6A5"></button><button type="button" class="note-color-btn" style="background-color:#A5C6CE;" data-event="foreColor" data-value="#A5C6CE" title="" data-toggle="button" tabindex="-1" data-original-title="#A5C6CE"></button><button type="button" class="note-color-btn" style="background-color:#9CC6EF;" data-event="foreColor" data-value="#9CC6EF" title="" data-toggle="button" tabindex="-1" data-original-title="#9CC6EF"></button><button type="button" class="note-color-btn" style="background-color:#B5A5D6;" data-event="foreColor" data-value="#B5A5D6" title="" data-toggle="button" tabindex="-1" data-original-title="#B5A5D6"></button><button type="button" class="note-color-btn" style="background-color:#D6A5BD;" data-event="foreColor" data-value="#D6A5BD" title="" data-toggle="button" tabindex="-1" data-original-title="#D6A5BD"></button></div><div><button type="button" class="note-color-btn" style="background-color:#E76363;" data-event="foreColor" data-value="#E76363" title="" data-toggle="button" tabindex="-1" data-original-title="#E76363"></button><button type="button" class="note-color-btn" style="background-color:#F7AD6B;" data-event="foreColor" data-value="#F7AD6B" title="" data-toggle="button" tabindex="-1" data-original-title="#F7AD6B"></button><button type="button" class="note-color-btn" style="background-color:#FFD663;" data-event="foreColor" data-value="#FFD663" title="" data-toggle="button" tabindex="-1" data-original-title="#FFD663"></button><button type="button" class="note-color-btn" style="background-color:#94BD7B;" data-event="foreColor" data-value="#94BD7B" title="" data-toggle="button" tabindex="-1" data-original-title="#94BD7B"></button><button type="button" class="note-color-btn" style="background-color:#73A5AD;" data-event="foreColor" data-value="#73A5AD" title="" data-toggle="button" tabindex="-1" data-original-title="#73A5AD"></button><button type="button" class="note-color-btn" style="background-color:#6BADDE;" data-event="foreColor" data-value="#6BADDE" title="" data-toggle="button" tabindex="-1" data-original-title="#6BADDE"></button><button type="button" class="note-color-btn" style="background-color:#8C7BC6;" data-event="foreColor" data-value="#8C7BC6" title="" data-toggle="button" tabindex="-1" data-original-title="#8C7BC6"></button><button type="button" class="note-color-btn" style="background-color:#C67BA5;" data-event="foreColor" data-value="#C67BA5" title="" data-toggle="button" tabindex="-1" data-original-title="#C67BA5"></button></div><div><button type="button" class="note-color-btn" style="background-color:#CE0000;" data-event="foreColor" data-value="#CE0000" title="" data-toggle="button" tabindex="-1" data-original-title="#CE0000"></button><button type="button" class="note-color-btn" style="background-color:#E79439;" data-event="foreColor" data-value="#E79439" title="" data-toggle="button" tabindex="-1" data-original-title="#E79439"></button><button type="button" class="note-color-btn" style="background-color:#EFC631;" data-event="foreColor" data-value="#EFC631" title="" data-toggle="button" tabindex="-1" data-original-title="#EFC631"></button><button type="button" class="note-color-btn" style="background-color:#6BA54A;" data-event="foreColor" data-value="#6BA54A" title="" data-toggle="button" tabindex="-1" data-original-title="#6BA54A"></button><button type="button" class="note-color-btn" style="background-color:#4A7B8C;" data-event="foreColor" data-value="#4A7B8C" title="" data-toggle="button" tabindex="-1" data-original-title="#4A7B8C"></button><button type="button" class="note-color-btn" style="background-color:#3984C6;" data-event="foreColor" data-value="#3984C6" title="" data-toggle="button" tabindex="-1" data-original-title="#3984C6"></button><button type="button" class="note-color-btn" style="background-color:#634AA5;" data-event="foreColor" data-value="#634AA5" title="" data-toggle="button" tabindex="-1" data-original-title="#634AA5"></button><button type="button" class="note-color-btn" style="background-color:#A54A7B;" data-event="foreColor" data-value="#A54A7B" title="" data-toggle="button" tabindex="-1" data-original-title="#A54A7B"></button></div><div><button type="button" class="note-color-btn" style="background-color:#9C0000;" data-event="foreColor" data-value="#9C0000" title="" data-toggle="button" tabindex="-1" data-original-title="#9C0000"></button><button type="button" class="note-color-btn" style="background-color:#B56308;" data-event="foreColor" data-value="#B56308" title="" data-toggle="button" tabindex="-1" data-original-title="#B56308"></button><button type="button" class="note-color-btn" style="background-color:#BD9400;" data-event="foreColor" data-value="#BD9400" title="" data-toggle="button" tabindex="-1" data-original-title="#BD9400"></button><button type="button" class="note-color-btn" style="background-color:#397B21;" data-event="foreColor" data-value="#397B21" title="" data-toggle="button" tabindex="-1" data-original-title="#397B21"></button><button type="button" class="note-color-btn" style="background-color:#104A5A;" data-event="foreColor" data-value="#104A5A" title="" data-toggle="button" tabindex="-1" data-original-title="#104A5A"></button><button type="button" class="note-color-btn" style="background-color:#085294;" data-event="foreColor" data-value="#085294" title="" data-toggle="button" tabindex="-1" data-original-title="#085294"></button><button type="button" class="note-color-btn" style="background-color:#311873;" data-event="foreColor" data-value="#311873" title="" data-toggle="button" tabindex="-1" data-original-title="#311873"></button><button type="button" class="note-color-btn" style="background-color:#731842;" data-event="foreColor" data-value="#731842" title="" data-toggle="button" tabindex="-1" data-original-title="#731842"></button></div><div><button type="button" class="note-color-btn" style="background-color:#630000;" data-event="foreColor" data-value="#630000" title="" data-toggle="button" tabindex="-1" data-original-title="#630000"></button><button type="button" class="note-color-btn" style="background-color:#7B3900;" data-event="foreColor" data-value="#7B3900" title="" data-toggle="button" tabindex="-1" data-original-title="#7B3900"></button><button type="button" class="note-color-btn" style="background-color:#846300;" data-event="foreColor" data-value="#846300" title="" data-toggle="button" tabindex="-1" data-original-title="#846300"></button><button type="button" class="note-color-btn" style="background-color:#295218;" data-event="foreColor" data-value="#295218" title="" data-toggle="button" tabindex="-1" data-original-title="#295218"></button><button type="button" class="note-color-btn" style="background-color:#083139;" data-event="foreColor" data-value="#083139" title="" data-toggle="button" tabindex="-1" data-original-title="#083139"></button><button type="button" class="note-color-btn" style="background-color:#003163;" data-event="foreColor" data-value="#003163" title="" data-toggle="button" tabindex="-1" data-original-title="#003163"></button><button type="button" class="note-color-btn" style="background-color:#21104A;" data-event="foreColor" data-value="#21104A" title="" data-toggle="button" tabindex="-1" data-original-title="#21104A"></button><button type="button" class="note-color-btn" style="background-color:#4A1031;" data-event="foreColor" data-value="#4A1031" title="" data-toggle="button" tabindex="-1" data-original-title="#4A1031"></button></div></div></div></li></ul></div><div class="note-para btn-group"><button type="button" class="btn btn-default btn-sm btn-small" title="" data-shortcut="Ctrl+Shift+8" data-mac-shortcut="⌘+⇧+7" data-event="insertUnorderedList" tabindex="-1" data-original-title="Unordered list (Ctrl+Shift+8)"><i class="fa fa-list-ul icon-list-ul"></i></button><button type="button" class="btn btn-default btn-sm btn-small" title="" data-shortcut="Ctrl+Shift+7" data-mac-shortcut="⌘+⇧+8" data-event="insertOrderedList" tabindex="-1" data-original-title="Ordered list (Ctrl+Shift+7)"><i class="fa fa-list-ol icon-list-ol"></i></button><button type="button" class="btn btn-default btn-sm btn-small dropdown-toggle" title="" data-toggle="dropdown" tabindex="-1" data-original-title="Paragraph"><i class="fa fa-align-left icon-align-left"></i>  <span class="caret"></span></button><div class="dropdown-menu"><div class="note-align btn-group"><button type="button" class="btn btn-default btn-sm btn-small" title="" data-shortcut="Ctrl+Shift+L" data-mac-shortcut="⌘+⇧+L" data-event="justifyLeft" tabindex="-1" data-original-title="Align left (Ctrl+Shift+L)"><i class="fa fa-align-left icon-align-left"></i></button><button type="button" class="btn btn-default btn-sm btn-small" title="" data-shortcut="Ctrl+Shift+E" data-mac-shortcut="⌘+⇧+E" data-event="justifyCenter" tabindex="-1" data-original-title="Align center (Ctrl+Shift+E)"><i class="fa fa-align-center icon-align-center"></i></button><button type="button" class="btn btn-default btn-sm btn-small" title="" data-shortcut="Ctrl+Shift+R" data-mac-shortcut="⌘+⇧+R" data-event="justifyRight" tabindex="-1" data-original-title="Align right (Ctrl+Shift+R)"><i class="fa fa-align-right icon-align-right"></i></button><button type="button" class="btn btn-default btn-sm btn-small" title="" data-shortcut="Ctrl+Shift+J" data-mac-shortcut="⌘+⇧+J" data-event="justifyFull" tabindex="-1" data-original-title="Justify full (Ctrl+Shift+J)"><i class="fa fa-align-justify icon-align-justify"></i></button></div><div class="note-list btn-group"><button type="button" class="btn btn-default btn-sm btn-small" title="" data-shortcut="Ctrl+[" data-mac-shortcut="⌘+[" data-event="outdent" tabindex="-1" data-original-title="Outdent (Ctrl+[)"><i class="fa fa-outdent icon-indent-left"></i></button><button type="button" class="btn btn-default btn-sm btn-small" title="" data-shortcut="Ctrl+]" data-mac-shortcut="⌘+]" data-event="indent" tabindex="-1" data-original-title="Indent (Ctrl+])"><i class="fa fa-indent icon-indent-right"></i></button></div></div></div><div class="note-height btn-group"><button type="button" class="btn btn-default btn-sm btn-small dropdown-toggle" data-toggle="dropdown" title="" tabindex="-1" data-original-title="Line Height"><i class="fa fa-text-height icon-text-height"></i>&nbsp; <b class="caret"></b></button><ul class="dropdown-menu"><li><a data-event="lineHeight" data-value="1.0"><i class="fa fa-check icon-ok"></i> 1.0</a></li><li><a data-event="lineHeight" data-value="1.2"><i class="fa fa-check icon-ok"></i> 1.2</a></li><li><a data-event="lineHeight" data-value="1.4"><i class="fa fa-check icon-ok"></i> 1.4</a></li><li><a data-event="lineHeight" data-value="1.5"><i class="fa fa-check icon-ok"></i> 1.5</a></li><li><a data-event="lineHeight" data-value="1.6"><i class="fa fa-check icon-ok"></i> 1.6</a></li><li><a data-event="lineHeight" data-value="1.8"><i class="fa fa-check icon-ok"></i> 1.8</a></li><li><a data-event="lineHeight" data-value="2.0"><i class="fa fa-check icon-ok"></i> 2.0</a></li><li><a data-event="lineHeight" data-value="3.0"><i class="fa fa-check icon-ok"></i> 3.0</a></li></ul></div><div class="note-table btn-group"><button type="button" class="btn btn-default btn-sm btn-small dropdown-toggle" title="" data-toggle="dropdown" tabindex="-1" data-original-title="Table"><i class="fa fa-table icon-table"></i> <span class="caret"></span></button><ul class="dropdown-menu"><div class="note-dimension-picker"><div class="note-dimension-picker-mousecatcher" data-event="insertTable" data-value="1x1"></div><div class="note-dimension-picker-highlighted"></div><div class="note-dimension-picker-unhighlighted"></div></div><div class="note-dimension-display"> 1 x 1 </div></ul></div><div class="note-insert btn-group"><button type="button" class="btn btn-default btn-sm btn-small" title="" data-event="showLinkDialog" tabindex="-1" data-original-title="Link"><i class="fa fa-link icon-link"></i></button><button type="button" class="btn btn-default btn-sm btn-small" title="" data-event="showImageDialog" tabindex="-1" data-original-title="Picture"><i class="fa fa-picture-o icon-picture"></i></button><button type="button" class="btn btn-default btn-sm btn-small" title="" data-event="showVideoDialog" tabindex="-1" data-original-title="Video"><i class="fa fa-youtube-play icon-play"></i></button></div><div class="note-view btn-group"><button type="button" class="btn btn-default btn-sm btn-small" title="" data-event="fullscreen" tabindex="-1" data-original-title="Full Screen"><i class="fa fa-arrows-alt icon-fullscreen"></i></button><button type="button" class="btn btn-default btn-sm btn-small" title="" data-event="codeview" tabindex="-1" data-original-title="Code View"><i class="fa fa-code icon-code"></i></button></div><div class="note-help btn-group"><button type="button" class="btn btn-default btn-sm btn-small" title="" data-event="showHelpDialog" tabindex="-1" data-original-title="Help"><i class="fa fa-question icon-question"></i></button></div></div>
                                <textarea ng-model="CurriculumCourse.@Aca_CurriculumCourse.Property_Description" class="note-codable"></textarea><div class="note-editable" contenteditable="true" style="height: 412px;"><p><br></p></div><div class="note-statusbar"><div class="note-resizebar"><div class="note-icon-bar"></div><div class="note-icon-bar"></div><div class="note-icon-bar"></div></div></div></div>
                        </div>*@

                        <textarea rows="10" ng-model="CurriculumCourse.@Aca_CurriculumCourse.Property_Description" class="form-control" placeholder="Enter Course outline" required=""></textarea>
                        @*<input ng-model="Curriculum.@Aca_CurriculumCourse.Property_Description" class="form-control"/>*@
                    </td>
                </tr>

            </table>
        </div>
    </div>
</div>
</div>
</div><!--Widget Body end-->
<div class="widget-footer text-center">
    <button ng-click="@(saveCurriculumCourse)()" class="btn btn-md btn-success"><span  class="fa fa-save"></span> Save</button>
</div>
</div>

    

</div>
    
    

</div>



