
<!--File:Inv_ItemDescription Add/Edit View-->
@using EMS.DataAccess.Data;
@{
    ViewBag.Title = "Inventory: Add/Edit Item Description";
    Layout = "~/Areas/Inventory/Views/Shared/_LayoutInventory.cshtml";
    // Angular Properties
    var id = Request.QueryString["id"];//ViewContext.RouteData.Values["id"];
    var ItemDescriptionId = (string) id == null?"0":(string)id;
    
    //Inv_ItemDescription WebApi Single Row link   
    var getItemDescriptionByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ItemDescriptionApi", action = "GetItemDescriptionById", area = "Inventory" });
    var getItemDescriptionDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ItemDescriptionApi", action = "GetItemDescriptionDataExtra", area = "Inventory" });
    var saveItemDescriptionUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ItemDescriptionApi", action = "SaveItemDescription", area = "Inventory" });
    var deleteItemDescriptionByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ItemDescriptionApi", action = "GetDeleteItemDescriptionById", area = "Inventory" });

    //Inv_ItemDescription WebApi List link 
    var getPagedItemDescriptionUrl = Url.HttpRouteUrl("DefaultApi", new {controller = "ItemDescriptionApi", action = "GetPagedItemDescription", area = "Inventory"});
    var getAllItemDescriptionUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ItemDescriptionApi", action = "GetAllItemDescription", area = "Inventory" });
    var saveItemDescriptionListUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ItemDescriptionApi", action = "SaveItemDescriptionList", area = "Inventory" });
    var getItemDescriptionListDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ItemDescriptionApi", action = "GetItemDescriptionListDataExtra", area = "Inventory" });

    var editItemDescriptionByIdPageUrl = Url.Action("ItemDescriptionAddEdit", "ItemDescription", new { area = "Inventory" });
    var listItemDescriptionPageUrl = Url.Action("ItemDescriptionList", "ItemDescription", new { area = "Inventory" });
    
    //Inv_ItemDescription Angular Functions
    string getItemDescriptionById="getItemDescriptionById";
    var saveItemDescription = "saveItemDescription";
    var getNewItemDescription = "getNewItemDescription";
    var refreshPage = "loadPage()";
    string deleteItemDescriptionById="deleteItemDescriptionById";
    string loadItemDescriptionExtraData="loadItemDescriptionExtraData";
}
@section ScriptSection
{
    <script src="~/Areas/Inventory/Views/ItemDescription/ItemDescriptionAddEdit.js"></script>
}

<div id="ItemDescriptionAddEdit" class="row" ng-controller="ItemDescriptionAddEditCtrl" ng-init="Init(
      '@ItemDescriptionId'
      ,'@getItemDescriptionByIdUrl'
      ,'@getItemDescriptionDataExtraUrl'
      ,'@saveItemDescriptionUrl'
      ,'@deleteItemDescriptionByIdUrl')">
      
    <div class="col-lg-12 col-sm-12 col-xs-12">
     <div ng-Hide="!HasError ||ErrorMsg==''" class="alert alert-danger fade in radius-bordered alert-shadowed">
            <button ng-click="HasError=false" class="close" data-dismiss1="alert">×</button>
            <i class="fa-fw fa fa-warning"></i>
            <strong>Attention Please!</strong> {{ErrorMsg}}
      </div>
      <div ng-show="HasViewPermission">
        <div class="widget" >
            <div class="widget-header bordered-bottom bordered-sky ">
                <i class="widget-icon fa fa-edit bold  "></i>
                <span class="widget-caption ">
                    Add/Edit
                    @*<strong ng-show="ItemDescription.@Inv_ItemDescription.Property_Name!=''">{{(ItemDescription.@Inv_ItemDescription.Property_Name)}}</strong>*@
                </span>
                <div class="widget-buttons buttons-bordered no-padding-right" style="display: none">
                    <span class="input-icon">
                        <input type="text" ng-model="ItemDescriptionId" ng-Enter="@(getItemDescriptionById)()" class="form-control input-xs " id="glyphicon-search" placeholder="Search" >
                        <i class="glyphicon glyphicon-search blue"></i>
                    </span>
                  
                </div>
                <div class="widget-buttons no-padding-left">
                    <button ng-click="@(getNewItemDescription)()" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Add New</button>
                    <a href="@(listItemDescriptionPageUrl)" class="btn btn-blue btn-xs"><i class="fa fa-arrow-left" target="_blank"></i> Back To List</a>
                    <button ng-click="@refreshPage" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i> Refresh</button>
                </div>
            </div><!--Widget Header end-->
            <div class="widget-body">
                <div class="row">
                  <div class="col-md-6 table-form">
                     <table class="form" width="100%" border="0" cellspacing="2" cellpadding="3">
                        <tbody>
                             <tr>
                                <td class="fieldlabel">Item Id </td>
                                <td class="fieldarea">
                                    <input type="text" ng-model="ItemDescription.@Inv_ItemDescription.Property_ItemId" class="form-control" placeholder="Enter Item Id" maxlength="50"  />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Item Id." data-toggle="tooltip"></i></span></td>
                            </tr>
                             <tr>
                                <td class="fieldlabel">Company Item Barcode </td>
                                <td class="fieldarea">
                                    <input type="text" ng-model="ItemDescription.@Inv_ItemDescription.Property_CompanyItemBarcode" class="form-control" placeholder="Enter Company Item Barcode" maxlength="100"  />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Company Item Barcode." data-toggle="tooltip"></i></span></td>
                            </tr>
                             <tr>
                                <td class="fieldlabel">Warrenty Date </td>
                                <td class="fieldarea">
                                    <input type="datetime" ng-model="ItemDescription.@Inv_ItemDescription.Property_WarrentyDate" class="form-control date-picker" placeholder="Enter Warrenty Date"  datetime="dd/MM/yyyy" />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Warrenty Date." data-toggle="tooltip"></i></span></td>
                            </tr>
                             <tr>
                                <td class="fieldlabel">Description </td>
                                <td class="fieldarea">
                                    <input type="text" ng-model="ItemDescription.@Inv_ItemDescription.Property_Description" class="form-control" placeholder="Enter Description" maxlength="500"  />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Description." data-toggle="tooltip"></i></span></td>
                            </tr>
                             @*<tr>
                                <td class="fieldlabel">Is Deleted </td>
                                <td class="fieldarea">
                                    <label class="checkbox-inline">
                                    <input type="checkbox" ng-model="ItemDescription.@Inv_ItemDescription.Property_IsDeleted"  />
                                    </label>
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Check Is Deleted if required." data-toggle="tooltip"></i></span></td>
                             </tr>*@
                        
                   

                            </tbody>
                        </table>
                    </div><!--Col end-->
                </div><!--Row end-->
            </div><!--Widget Body end-->
            <div class="widget-footer text-center">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <button ng-click="@(saveItemDescription)()" class="btn btn-md btn-success"><span class="fa fa-save"></span> Save</button>
                     </div>
                </div>
            </div>
        </div>
      </div><!--view permission end-->
    </div>
</div><!--controller end-->



