@using BeyondThemes.Bootstrap
@using EMS.Framework.Settings
@using EMS.Framework.Utils
@model EMS.Web.UI.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password Form";
    //Layout = "~/Views/Shared/_LayoutThemeCore.cshtml";

    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewBag.FormTitle = "Change Password Form";
}
@section StyleSection
{

    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Views/CommonManager/PasswordValidation.css" rel="stylesheet" />

    <style>
        /*.lock-container {
            margin: 100px auto 0 !important;
        }

            .lock-container .lock-box {
                height: 380px !important;
                width: 100% !important;
            }

                .lock-container .lock-box .lock-password {
                    top: 40px !important;
                    left: 0 !important;
                }

            .lock-container .signinbox {
                width: 100% !important;
            }*/

    .login-block .container {
        max-width: 350px;
        margin: 0 auto;
    }
    label {
        margin-bottom: 2px;
    }
    .form-control {
        height: 30px;
    }
    ul {
        margin-bottom: 0px;
    }
    p {
        margin: 0 0 3px;
    }
    .alert {
        margin-bottom: 10px;
    }
    </style>
}

@section ScriptSection
{
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/Views/CommonManager/PasswordValidation.js?v=1"></script>

}


<div class="form-group" autocomplete="off">
    @if (ViewBag.SuccessMessage == String.Empty)
    {
        <div class="thumbnail" style="">
            <b>New Password Guide:</b><br/>
            <ul style="margin: 0; padding: 0; margin-left: 0px;" class="list-unstyled">
                <li><span class="upper-case"><i class="fa fa-times" aria-hidden="true"></i></span>One upper case letter (A-Z)</li>
                <li><span class="low-case"><i class="fa fa-times" aria-hidden="true"></i></span>One lower case letter (a-z)</li>
                <li><span class="one-number"><i class="fa fa-times" aria-hidden="true"></i></span>One numeric digit (0-9)</li>
                <li><span class="one-special-char"><i class="fa fa-times" aria-hidden="true"></i></span>One special symbol (!@@#$%^&*?_~)</li>
                <li><span class="eight-character"><i class="fa fa-times" aria-hidden="true"></i></span>Must be 8 characters minimum long.</li>
            </ul>
        </div>
        <div>
            <label>Current Password :</label>
            @Html.PasswordFor(m => m.OldPassword, new {@class = "form-control", placeholder = "Current Password", @autocomplete = "off"})
            @Html.ValidationMessageFor(m => m.OldPassword, "", new {@class = "text-danger"})
        </div>
        <div>
            <label>New Password:</label>
            @Html.PasswordFor(m => m.NewPassword, new {@class = "form-control", placeholder = "New Password", id = "password", autocomplete = "off", AutoCompleteType = "Disabled"})
            @Html.ValidationMessageFor(m => m.NewPassword, "", new {@class = "text-danger"})

            <div id="popover-password">
                <ul id="contains-sequences" style="padding-left: 13px; color: red; display: none;">
                    <li>Your password contains sequences</li>
                </ul>
                <p>Password Strength: <span id="result"> </span></p>
                <div class="progress">
                    <div id="password-strength" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    </div>
                </div>

            </div>
        </div>
        <div>
            <label>Confirm New Password:</label>
            @Html.PasswordFor(m => m.ConfirmPassword, new {@class = "form-control", placeholder = "Confirm New Password", id = "confirm-password"})
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new {@class = "text-danger"})
            <ul id="popover-cpassword" class="hide" style="padding-left: 13px; color: red;">
                <li>Password don't match</li>
            </ul>
        </div>
    }
    
    
    
    

</div>

<div class="row form-check">
    <div class="col-md-12 text-center">
        <a href="@Url.Action("Index", "Home")"  class="btn btn-default">Home</a>
        <a href="@Url.Action("Logout", "Login", new {area = ""})" class="btn btn-default btn-danger">Logout</a>
       @if (ViewBag.SuccessMessage == String.Empty)
       {
           @Html.Bootstrap().SubmitButton().Text("Change Password").HtmlAttributes("class=''").Id("submit-btn-id").Disabled().Color(BootstrapColors.Success).Shiny()
       }
    </div>
</div>






@*<div class="lock-container animated fadeInDown">
        <div class="lock-box text-align-center">
            <div class="lock-password">
                @using (Html.BeginForm("ChangePassword", "CommonManager", FormMethod.Post, new { @class = "form-inline", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Change Password Form</h4>
                    if (ViewBag.ErrorMessage != string.Empty)
                    {
                        <div class="alert alert-danger no-margin fade in">
                            <button class="close" data-dismiss="alert">×</button>
                            <i class="fa-fw fa fa-times"></i> @ViewBag.ErrorMessage
                        </div>
                    }
                    if (ViewBag.SuccessMessage != string.Empty)
                    {
                        <div class="alert alert-success no-margin fade in">
                            <button class="close" data-dismiss="alert">×</button>
                            <i class="fa-fw fa fa-check"></i> @ViewBag.SuccessMessage
                        </div>
                    }
                    <hr />
                    <div class="form-group">
                        <span class="input-icon icon-right">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control input-lg", placeholder = "Current Password" })
                            <i class="glyphicon glyphicon-lock themeprimary"></i>
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="input-icon icon-right">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control input-lg", placeholder = "New Password" })
                            <i class="glyphicon glyphicon-lock themeprimary"></i>
                        </span>
                    </div>
                    <div class="form-group">
                        <span class="input-icon icon-right">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-lg", placeholder = "Confirm New Password" })
                            <i class="glyphicon glyphicon-lock themeprimary"></i>
                        </span>
                    </div>
                    <div class="form-group padding-top-10">
                        <input type="submit" value="Change password" class="btn btn-success" />
                    </div>
                }
            </div>

        </div>
        <div class="signinbox">
            <a href="@Url.Action("Index", "Home")"><i class="fa fa-arrow-left"></i> Back to Home</a>
        </div>
    </div>*@
