
<!--File:Adm_StudentQuotaName Add/Edit View-->
@using EMS.DataAccess.Data;
@{
    ViewBag.Title = "Admin: Add/Edit Student Quota Name";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    // Angular Properties
    var id = Request.QueryString["id"];//ViewContext.RouteData.Values["id"];
    var StudentQuotaNameId = (string) id == null?"0":(string)id;
    
    //Adm_StudentQuotaName WebApi Single Row link   
    var getStudentQuotaNameByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "StudentQuotaNameApi", action = "GetStudentQuotaNameById", area = "Admin" });
    var getStudentQuotaNameDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "StudentQuotaNameApi", action = "GetStudentQuotaNameDataExtra", area = "Admin" });
    var saveStudentQuotaNameUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "StudentQuotaNameApi", action = "SaveStudentQuotaName", area = "Admin" });
    var deleteStudentQuotaNameByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "StudentQuotaNameApi", action = "GetDeleteStudentQuotaNameById", area = "Admin" });

    //Adm_StudentQuotaName WebApi List link 
    var getPagedStudentQuotaNameUrl = Url.HttpRouteUrl("DefaultApi", new {controller = "StudentQuotaNameApi", action = "GetPagedStudentQuotaName", area = "Admin"});
    var getAllStudentQuotaNameUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "StudentQuotaNameApi", action = "GetAllStudentQuotaName", area = "Admin" });
    var saveStudentQuotaNameListUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "StudentQuotaNameApi", action = "SaveStudentQuotaNameList", area = "Admin" });
    var getStudentQuotaNameListDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "StudentQuotaNameApi", action = "GetStudentQuotaNameListDataExtra", area = "Admin" });

    var editStudentQuotaNameByIdPageUrl = Url.Action("StudentQuotaNameAddEdit", "StudentQuotaName", new { area = "Admin" });
    var listStudentQuotaNamePageUrl = Url.Action("StudentQuotaNameList", "StudentQuotaName", new { area = "Admin" });
    
    //Adm_StudentQuotaName Angular Functions
    string getStudentQuotaNameById="getStudentQuotaNameById";
    var saveStudentQuotaName = "saveStudentQuotaName";
    var getNewStudentQuotaName = "getNewStudentQuotaName";
    var refreshPage = "loadPage()";
    string deleteStudentQuotaNameById="deleteStudentQuotaNameById";
    string loadStudentQuotaNameExtraData="loadStudentQuotaNameExtraData";
}
@section ScriptSection
{
    <script src="~/Areas/Admin/Views/StudentQuotaName/StudentQuotaNameAddEdit.js"></script>
}

<div id="StudentQuotaNameAddEdit" class="row" ng-controller="StudentQuotaNameAddEditCtrl" ng-init="Init(
      '@StudentQuotaNameId'
      ,'@getStudentQuotaNameByIdUrl'
      ,'@getStudentQuotaNameDataExtraUrl'
      ,'@saveStudentQuotaNameUrl'
      ,'@deleteStudentQuotaNameByIdUrl')">
      
    <div class="col-lg-12 col-sm-12 col-xs-12">
     <div ng-Hide="!HasError ||ErrorMsg==''" class="alert alert-danger fade in radius-bordered alert-shadowed">
            <button ng-click="HasError=false" class="close" data-dismiss1="alert">×</button>
            <i class="fa-fw fa fa-warning"></i>
            <strong>Attention Please!</strong> {{ErrorMsg}}
      </div>
      <div ng-show="HasViewPermission">
        <div class="widget" >
            <div class="widget-header bordered-bottom bordered-sky ">
                <i class="widget-icon fa fa-edit bold  "></i>
                <span class="widget-caption ">
                    Add/Edit
                    <strong ng-show="StudentQuotaName.@Adm_StudentQuotaName.Property_Name!=''">{{(StudentQuotaName.@Adm_StudentQuotaName.Property_Name)}}</strong>
                </span>
                <div class="widget-buttons buttons-bordered no-padding-right" style="display: none">
                    <span class="input-icon">
                        <input type="text" ng-model="StudentQuotaNameId" ng-Enter="@(getStudentQuotaNameById)()" class="form-control input-xs " id="glyphicon-search" placeholder="Search" >
                        <i class="glyphicon glyphicon-search blue"></i>
                    </span>
                  
                </div>
                <div class="widget-buttons no-padding-left">
                    <button ng-click="@(getNewStudentQuotaName)()" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Add New</button>
                    <a href="@(listStudentQuotaNamePageUrl)" class="btn btn-blue btn-xs"><i class="fa fa-arrow-left" target="_blank"></i> Back To List</a>
                    <button ng-click="@refreshPage" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i> Refresh</button>
                </div>
            </div><!--Widget Header end-->
            <div class="widget-body">
                <div class="row">
                  <div class="col-md-6 table-form">
                     <table class="form" width="100%" border="0" cellspacing="2" cellpadding="3">
                        <tbody>
                             <tr>
                                <td class="fieldlabel">Name <span class="red glyphicon glyphicon-asterisk"></span></td>
                                <td class="fieldarea">
                                    <input type="text" ng-model="StudentQuotaName.@Adm_StudentQuotaName.Property_Name" class="form-control" placeholder="Enter Name" maxlength="255" required="" />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Name." data-toggle="tooltip"></i></span></td>
                            </tr>
                             <tr>
                                <td class="fieldlabel">Description </td>
                                <td class="fieldarea">
                                    <input type="text" ng-model="StudentQuotaName.@Adm_StudentQuotaName.Property_Description" class="form-control" placeholder="Enter Description"   />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Description." data-toggle="tooltip"></i></span></td>
                            </tr>
                             <tr>
                                <td class="fieldlabel">Order No </td>
                                <td class="fieldarea">
                                    <input type="number" ng-model="StudentQuotaName.@Adm_StudentQuotaName.Property_OrderNo" class="form-control" placeholder="Enter Order No"   />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Order No." data-toggle="tooltip"></i></span></td>
                            </tr>
                   

                            </tbody>
                        </table>
                    </div><!--Col end-->
                </div><!--Row end-->
            </div><!--Widget Body end-->
            <div class="widget-footer text-center">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <button ng-click="@(saveStudentQuotaName)()" class="btn btn-md btn-success"><span class="fa fa-save"></span> Save</button>
                     </div>
                </div>
            </div>
        </div>
      </div><!--view permission end-->
    </div>
</div><!--controller end-->



