
<!--File:General_PoliceStation List View-->
@using EMS.DataAccess.Data;
@{
    ViewBag.Title = "Admin: Police Station List";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    
    // Angular Properties
    var id = Request.QueryString["id"];//ViewContext.RouteData.Values["id"];
    var PoliceStationId = (string) id == null?"0":(string)id;
    
    //WebApi link for single row 
    var getPoliceStationByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "PoliceStationApi", action = "GetPoliceStationById", area = "Admin" });
    var getPoliceStationDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "PoliceStationApi", action = "GetPoliceStationDataExtra", area = "Admin" });
    var savePoliceStationUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "PoliceStationApi", action = "SavePoliceStation", area = "Admin" });
    var deletePoliceStationByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "PoliceStationApi", action = "GetDeletePoliceStationById", area = "Admin" });

    //WebApi link for List
    var getPagedPoliceStationUrl = Url.HttpRouteUrl("DefaultApi", new {controller = "PoliceStationApi", action = "GetPagedPoliceStation", area = "Admin"});
    var getAllPoliceStationUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "PoliceStationApi", action = "GetAllPoliceStation", area = "Admin" });
    var savePoliceStationListUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "PoliceStationApi", action = "SavePoliceStationList", area = "Admin" });
    var getPoliceStationListDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "PoliceStationApi", action = "GetPoliceStationListDataExtra", area = "Admin" });

    var editPoliceStationByIdPageUrl = Url.Action("PoliceStationAddEdit", "PoliceStation", new { area = "Admin" });

    //Angular Function Name
    var getNewPoliceStation = "getNewPoliceStation";
    var savePoliceStation = "savePoliceStation";
    var deletePoliceStationById = "deletePoliceStationById";
    var deletePoliceStationByObj = "deletePoliceStationByObj";
    //for list
    var searchPoliceStationList = "searchPoliceStationList";
    var getPagedPoliceStationList = "getPagedPoliceStationList";
    var getAllPoliceStationList = "getAllPoliceStationList";
    var savePoliceStationList = "savePoliceStationList";
    var getPoliceStationListExtraData = "getPoliceStationListExtraData";

    var refreshPage = "loadPage()";
    
}
@section ScriptSection
{
    <script src="~/Areas/Admin/Views/PoliceStation/PoliceStationList.js"></script>
}


<div ng-controller="PoliceStationListCtrl"
     ng-init="Init(
      '@getPagedPoliceStationUrl'
     ,'@deletePoliceStationByIdUrl'
     ,'@getPoliceStationListDataExtraUrl'
     ,'@savePoliceStationListUrl'
     ,'@getPoliceStationByIdUrl'
     ,'@getPoliceStationDataExtraUrl'
     ,'@savePoliceStationUrl'
     )">
    <div class="widget">

        <div class="widget-header bordered-bottom bordered-sky ">
            <i class="widget-icon fa fa-list bold  "></i>
            <span class="widget-caption ">Manage Police Station </span>
              <div class="widget-buttons buttons-bordered no-padding-right" style="display:none">
                <span class="widget-caption form-inline">
                    @*<span>Select District</span>*@
                     <select ng-model="SelectedDistrictId" ng-change="@(searchPoliceStationList)()" 
                        ng-options="option.Id as option.Name for option in DistrictList " ng-init="" class="form-control input-xs ">
                        <option value="" label="" class="">---Select All District---</option>
                     </select>
                </span>
              </div>       
            <div class="widget-buttons buttons-bordered no-padding-right">
                <span class="input-icon">
                    <input type="text" ng-model="SearchText" ng-Enter="@(searchPoliceStationList)()" class="form-control input-xs " id="glyphicon-search" placeholder="Search" style="">
                    <i class="glyphicon glyphicon-search blue"></i>
                </span>
            </div>
            <div class="widget-buttons no-padding-left">
                <a target="_blank" href="@editPoliceStationByIdPageUrl?id=0" class="btn btn-xs btn-success"><i class="fa fa-plus"></i> Add New</a>
                <button ng-click="@(searchPoliceStationList)()" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i> Refresh</button>
            </div>
        </div>
        <div class="widget-body no-padding"  style="overflow:auto">
            <div class="table-footer no-print">
                @OptionControl()
            </div>
            <table class="table table-striped table-bordered table-hover">
                <thead class="bordered-blue">
                <tr>
                    <th class="text-center" style="display:none">
                        <input type="checkbox" ng-click="selectAll($event)">
                    </th>
                    <th class="text-center">SN</th>
                    <th class="text-center">Name</th>
                    <!--th class="text-center">District Id</th-->
                    <!--th class="text-center">Status Enum Id</th-->
                    <th class="text-center">Status</th>
                    <th class="text-center">Order No</th>
                    <th class="text-center no-print">Action</th>
                </tr>
                </thead>
                <tbody>
    
                <tr ng-repeat="row in PoliceStationList">
                    <td class="text-center" style="display:none">
                        <input type="checkbox" ng-model="row.@General_PoliceStation.Property_IsSelected" /> 
                    </td>
                    <td class="text-center">{{$index+1}}</td>
                    <td class="">{{row.@General_PoliceStation.Property_Name}}</td>
                    <!--td class="">{{row.@General_PoliceStation.Property_DistrictId}}</td-->
                    @*<td class="">{{row.@General_PoliceStation.Property_StatusEnumId}}</td>*@
                    <td class="">{{row.@General_PoliceStation.Property_IsActive}}</td>
                    <td class="">{{row.@General_PoliceStation.Property_OrderNo}}</td>
                    <td class="text-center no-print">
                        <a target="_blank" href="@(editPoliceStationByIdPageUrl)/?id={{row.Id}}" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i> Edit</a>
                        <button ng-click="@(deletePoliceStationById)(row)" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>
                     
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="table-footer no-print">
                @OptionControl()
            </div>
        </div>
    </div>
</div>

@helper  OptionControl()
{
    <div class="row no-print">
        <div class="col-sm-12">
            <div class="form-inline pull-left">
                <div class="form-group">
                    <label ng-hide="totalServerItems==0">Showing {{totalServerItems*(PageNo-1)+1}} to {{totalServerItems*PageNo}} of {{totalItems}} </label>
                    <label ng-show="totalServerItems==0" class="text-danger">No Data Found!</label>
                </div>
            </div>
            <div class="form-inline pull-right">
                <div class="form-group">
                    <label>Page Size</label>
                    <input ng-model="PageSize" ng-enter="changePageSize()" class="form-control input-opt" autocomplete="on" placeholder="Page Size" type="number" min="1">
                </div>
                <div class="form-group">
                    <label>Page No.</label>
                    <input ng-model="PageNo" ng-enter="changePageNo()" class="form-control input-opt" autocomplete="on" placeholder="Page No" type="number" min="1">
                    <label>of {{totalItems/PageSize| number:0}}</label>
                </div>
                <div class="form-group">
                    <button ng-click="prev()" ng-hide="totalItems == 0 || PageNo <= 1" class="btn btn-info btn-opt" type="button"><i class="fa fa-angle-double-left"></i>Previous&nbsp;</button>
                    <button ng-click="next()" ng-hide="totalItems == 0 || PageNo >= totalPage" class="btn btn-info btn-opt" type="button">&nbsp;Next&nbsp;<i class="fa fa-angle-double-right"></i></button>
                </div>
            </div>
        </div>
    </div>
}



