@using EMS.CoreLibrary.Helpers
@using EMS.DataAccess.Data
@using EMS.Framework.Settings
@using EMS.Framework.Utils
@model List<User_Student>

@{
    ViewBag.Title = "Manual Attendance Sheet";
    Layout = "~/Views/Shared/Area/_LayoutAdminCore.cshtml";

    var id = Request.QueryString["classId"];//ViewContext.RouteData.Values["id"];
    var classId = (string)id == null ? "0" : (string)id;


    //Aca_ResultComponentSetting ComponentSetting = ViewBag.ComponentSetting;
    //Aca_Class Class = ViewBag.Class;
    //Aca_Semester Semester = ViewBag.Semester;
    //Aca_Exam Exam = ViewBag.Exam;



    string Error = ViewBag.Error;
    var exportPdf = HttpUtil.GetQueryString("exportPdf");//Html.Raw(ViewBag.IncludePdfExportCSS)

}
@{
    if (exportPdf.IsValid())
    {
        <style>
            * {
                box-shadow: none !important;
            }
        </style>
    }
}

@section ScriptSection
{
    <script>
        $(document).ready(function() {
            window.print();
        });
    </script>
<script src="~/assets/custom/lib/TableExport/tableExport.js?v=1"></script>
}

@if (Error.IsValid())
{
    <div class="alert alert-danger">
        <i class="fa-fw fa fa-warning"></i>
        <strong>Attention: </strong> <span>@Error.</span>
    </div>
}
else
{
    <div class="widget">

        <div class="widget-header bordered-bottom bordered-sky no-print">
            <i class="widget-icon fa fa-print bold  "></i>
            <span class="widget-caption "><b>Print Attendance Sheet</b></span>

            <div class="widget-buttons no-padding-left">
                @*<button onclick="window.print()" class="btn btn-danger btn-xs"><i class="fa fa-print"></i> Print</button>*@
                @*<button ng-click="" class="btn btn-success btn-xs"><i class="fa fa-print"></i> Print Mark</button>*@
                <button onclick="window.print()" class="btn btn-darkorange btn-xs"><i class="fa fa-print"></i> Print Attendance Sheet</button>

                <div class="btn-group">
                    <button class="btn btn-xs btn-success dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <i class="fa fa-download"></i> Download
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-blue pull-left" aria-labelledby="dropdownMenu">
                        <li><a href="#" onclick="$('#marks').tableExport({ fileName: 'StudentMarks', type: 'csv', escape: 'false' });"><i class="fa fa-file-excel-o"></i> As CSV (.csv)</a></li>
                        <li><a href="#" onclick="$('#marks').tableExport({ fileName: 'StudentMarks', type: 'xls', worksheetName: 'Worksheet', escape: 'false' });"><i class="fa fa-file-excel-o"></i> As Excel (.xls)</a></li>
                        <li><a href="#" onclick="$('#marks').tableExport({ fileName: 'StudentMarks', type: 'doc', escape: 'false' });"><i class="fa fa-file-word-o"></i> As Word (.doc)</a></li>

                    </ul>
                </div>
            </div>

        </div>
        <div class="widget-body">

            <!-- Component start -->
  
            <div id="marks">

                @{
                    var stdPerPage = 36;
                    var firstPage = 15;

                    var taken = 0;
                    //Aca_ResultComponent component in Model

                    if (Model != null && Model.Count > 0)
                    {

                        var totalStudent = Model.Count;

                        var totalPage = (int)Math.Ceiling((double)totalStudent / stdPerPage);//(totalStudent + stdPerPage - 1) / stdPerPage;//

                        for (int i = 1; i <= totalPage; i++)
                        {
                            List<User_Student> studentListPaged
                                             = Model.Skip(taken).Take(stdPerPage).ToList();

                            @GenerateMarkSheetPage(studentListPaged, totalStudent, stdPerPage, totalPage, i);
                        if (i != totalPage)
                        {<div class="pb-after" style="page-break-after: always!important">&nbsp;</div>}
                        taken += stdPerPage;
                    }

                }
                }
            </div>
        </div>
    </div>
                }



@helper  GenerateMarkSheetPage(List<User_Student> studentList, int studentCount,int stdPerPage, int totalPage, int pageNo)
{
Aca_Class Class = ViewBag.Class;
Aca_Semester Semester = ViewBag.Semester;
List<User_Account> Facultylist = ViewBag.Facultylist;

var cssClass = pageNo > 1 ? "visible-print" : "";

var pageInfo = (pageNo + "/" + totalPage).ToString();
    <table class="@cssClass" style="width: 100%">
        <tr>
            <td align="left" valign="top" style="width: 100px">

                <img style="width: 100px" src="@(EMS.Framework.Settings.SiteSettings.Instance.InstituteLogoBlackWhiteSolo)" />
            </td>
            <td style="">
                <div class="margin-bottom-5" style="text-align: center">
             

                    <div style="font-size: 14px; font-weight: bold">@EMS.Framework.Settings.SiteSettings.Instance.InstituteName</div>

                    <div style="font-size: 13px; font-weight: bold">
                        Class Attendance Sheet : @Semester.Name

                    </div>
                    <div style="font-size: 11px"> @Class.Aca_Program.Name</div>
                    <div>
                        <span class="widget-caption margin-bottom-5" style="font-size: 12px"><b>Course: @Class.Code (@Class.Name)</b></span>
                    </div>
                    <div style="font-size: 10px">
                        <span class="widget-caption ">@Class.Aca_CurriculumCourse.CreditLoad Credit(s) @Class.Aca_CurriculumCourse.CourseCategory, </span>
                        Course Teacher(s):
                        @foreach (var faculty in Facultylist)
                        {
                            //excluding sysadmin name
                            if (faculty.UserName != "psdeveloper")
                            {
                                <span style="">@faculty.FullName.ToLower().ToTitleCase();</span>
                            }

                        }
                    </div>
                  
                </div>
            </td>
            <td valign="top" align="right" style="width: 100px; text-align: right; font-size: 10px">
                Page: @pageInfo<br/><br/>
                Total Student: @studentCount<br /><br />
               
                <span style="font-size: 11px; font-weight: bold">Term: __________</span>

            </td>
        </tr>
    </table><br />
                        <table class="table table-striped table-bordered table-hover print-mark-sheet " style="">

                            <tbody>
                            <tr class="header-row" style="font-size: 12px; background-color: gray!important;">
                                <td class="text-center">Ser.</td>
                                <td class="text-center">Student ID</td>
                                <td class="text-center" style="min-width: 180px; max-width: 250px;">
                                    Student Name
                                </td>

                                <td style="" class="text-center">1</td>
                                <td style="" class="text-center">2</td>
                                <td style="" class="text-center">3</td>
                                <td style="" class="text-center">4</td>
                                <td style="" class="text-center">5</td>
                                <td style="" class="text-center">6</td>
                                <td style="" class="text-center">7</td>
                                <td style="" class="text-center">8</td>
                                <td style="" class="text-center">9</td>
                                <td style="" class="text-center">10</td>
                                <td style="" class="text-center">11</td>
                                <td style="" class="text-center">12</td>
                                <td style="" class="text-center">13</td>
                                <td style="" class="text-center">14</td>
                                <td style="" class="text-center">15</td>
                                <td class="text-center" style="max-width: 100px; overflow: hidden">Remark</td>

                            </tr>

                                @{
                                    //List<StudentJson> studentList = ClassResult30.DataBag.StudentList;
                                    if (studentList != null)
                                    {
                                        var index = 0;
                                        foreach (User_Student student in studentList)
                                        {
                                            //var student = row.User_Student;
                                            //var mark = row.Mark.ToString();
                                            //var remark = row.Remark.IsValid()? row.Remark+". ":"";

                                            if (student == null)
                                            {
                                                continue;
                                            }
                                            index++;
                                 


                                            var fontSize = "12px";
                                            if (student.FullName.Length > 25)
                                            {
                                                fontSize = "10px";
                                            }

                                            <tr>
                                                <td class="text-center">
                                                    @(stdPerPage * (pageNo-1)+ index)
                                                </td> <td class="text-center">
                                                    @student.ClassRollNo
                                                </td>
                                                <td class="fittext1">
                                                    <span style="white-space: nowrap; font-size: @fontSize">@student.FullName.ValidateName().TruncateAtWord(30)</span>
                                                </td>

                                                <td class="text-center"></td>
                                                <td class="text-center"></td>
                                                <td class="text-center"></td>
                                                <td class="text-center"></td>
                                                <td class="text-center"></td>
                                                <td class="text-center"></td>
                                                <td class="text-center"></td>
                                                <td class="text-center"></td>
                                                <td class="text-center"></td>
                                                <td class="text-center"></td>
                                                <td class="text-center"></td>
                                                <td class="text-center"></td>
                                                <td class="text-center"></td>
                                                <td class="text-center"></td>
                                                <td class="text-center"></td>
                                                <td class="text-center" style="max-width: 100px;overflow: hidden!important"> </td>

                                            </tr>
                                        }
                                    }

                                }
                            </tbody>

                        </table>
                        <br />
                        <br />
                        <table class="visible-print1" style="width: 100%; font-size: 11px">
                            <tr>
                                <td rowspan="2" style="width: 33%; vertical-align: bottom; text-align: left;">
                                    @*____________________________________<br />
                                    Date & Signature (Course Teacher)*@
                                    Developed By: @SiteSettings.PoweredBy
                                   
                                </td>
                                <td style="vertical-align: bottom; text-align: center;">
                                    @*____________________________________<br />
                                    Date & Signature (Chairman)*@
                                    Printed: @DateTime.Now.ToString("dd/MM/yyyy")
                                </td>
                                <td style="width: 33%; vertical-align: bottom; text-align: right;">
                                    ____________________________________<br />
                                    Date & Signature (Course Teacher)
                                </td>
                                @*<td rowspan="2" style="width: 29%;text-align: right;vertical-align: bottom;">
                                        ________________________________<br />
                                        Full Name & Signature (Dept Head)
                                    </td>*@
                            </tr>
                        </table>



}

@section StyleSection
{


    <style>
        th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding: 2px;
        min-width: 20px
}
    .header-row td{
            font-weight: bold;
            background-color: gray!important;
        }
         .print-footer {
             display: none !important;
         }
        .print-mark-sheet td, .print-mark-sheet th{
            border: 1px solid black !important;
            font-size: 12px;
        }
        @*("@page") :first {margin-top: 0.5cm/* Top margin on first page 10cm */}
                                @("@page") { size: portrait }
                                @("@page") { size: landscape }
                                @("@page") rotated { size: landscape }*@
        @("@page") { size: portrait }
        @("@page") rotated { size: portrait }
    </style>

}


