
<!--File:HR_EmployementHistory Add/Edit View-->
@using EMS.DataAccess.Data;
@{
    ViewBag.Title = "HR: Add/Edit Employement History";
    Layout = "~/Areas/HR/Views/Shared/_LayoutHR.cshtml";
    // Angular Properties
    var id = Request.QueryString["id"];//ViewContext.RouteData.Values["id"];
    var EmployementHistoryId = (string) id == null?"0":(string)id;
    
    //HR_EmployementHistory WebApi Single Row link   
    var getEmployementHistoryByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "EmployementHistoryApi", action = "GetEmployementHistoryById", area = "HR" });
    var getEmployementHistoryDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "EmployementHistoryApi", action = "GetEmployementHistoryDataExtra", area = "HR" });
    var saveEmployementHistoryUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "EmployementHistoryApi", action = "SaveEmployementHistory", area = "HR" });
    var deleteEmployementHistoryByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "EmployementHistoryApi", action = "GetDeleteEmployementHistoryById", area = "HR" });

    //HR_EmployementHistory WebApi List link 
    var getPagedEmployementHistoryUrl = Url.HttpRouteUrl("DefaultApi", new {controller = "EmployementHistoryApi", action = "GetPagedEmployementHistory", area = "HR"});
    var getAllEmployementHistoryUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "EmployementHistoryApi", action = "GetAllEmployementHistory", area = "HR" });
    var saveEmployementHistoryListUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "EmployementHistoryApi", action = "SaveEmployementHistoryList", area = "HR" });
    var getEmployementHistoryListDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "EmployementHistoryApi", action = "GetEmployementHistoryListDataExtra", area = "HR" });

    var editEmployementHistoryByIdPageUrl = Url.Action("EmployementHistoryAddEdit", "EmployementHistory", new { area = "HR" });
    var listEmployementHistoryPageUrl = Url.Action("EmployementHistoryList", "EmployementHistory", new { area = "HR" });
    
    //HR_EmployementHistory Angular Functions
    string getEmployementHistoryById="getEmployementHistoryById";
    var saveEmployementHistory = "saveEmployementHistory";
    var getNewEmployementHistory = "getNewEmployementHistory";
    var refreshPage = "loadPage()";
    string deleteEmployementHistoryById="deleteEmployementHistoryById";
    string loadEmployementHistoryExtraData="loadEmployementHistoryExtraData";
}
@section ScriptSection
{
    <script src="~/Areas/HR/Views/EmployementHistory/EmployementHistoryAddEdit.js"></script>
}

<div id="EmployementHistoryAddEdit" class="row" ng-controller="EmployementHistoryAddEditCtrl" ng-init="Init(
      '@EmployementHistoryId'
      ,'@getEmployementHistoryByIdUrl'
      ,'@getEmployementHistoryDataExtraUrl'
      ,'@saveEmployementHistoryUrl'
      ,'@deleteEmployementHistoryByIdUrl')">
      
    <div class="col-lg-12 col-sm-12 col-xs-12">
     <div ng-Hide="!HasError ||ErrorMsg==''" class="alert alert-danger fade in radius-bordered alert-shadowed">
            <button ng-click="HasError=false" class="close" data-dismiss1="alert">×</button>
            <i class="fa-fw fa fa-warning"></i>
            <strong>Attention Please!</strong> {{ErrorMsg}}
      </div>
      <div ng-show="HasViewPermission">
        <div class="widget" >
            <div class="widget-header bordered-bottom bordered-sky ">
                <i class="widget-icon fa fa-edit bold  "></i>
                <span class="widget-caption ">
                    Add/Edit
                    <strong ng-show="EmployementHistory.@HR_EmployementHistory.Property_Name!=''">{{(EmployementHistory.@HR_EmployementHistory.Property_Name)}}</strong>
                </span>
                <div class="widget-buttons buttons-bordered no-padding-right" style="display: none">
                    <span class="input-icon">
                        <input type="text" ng-model="EmployementHistoryId" ng-Enter="@(getEmployementHistoryById)()" class="form-control input-xs " id="glyphicon-search" placeholder="Search" >
                        <i class="glyphicon glyphicon-search blue"></i>
                    </span>
                  
                </div>
                <div class="widget-buttons no-padding-left">
                    <button ng-click="@(getNewEmployementHistory)()" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Add New</button>
                    <a href="@(listEmployementHistoryPageUrl)" class="btn btn-blue btn-xs"><i class="fa fa-arrow-left" target="_blank"></i> Back To List</a>
                    <button ng-click="@refreshPage" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i> Refresh</button>
                </div>
            </div><!--Widget Header end-->
            <div class="widget-body">
                <div class="row">
                  <div class="col-md-6 table-form">
                     <table class="form" width="100%" border="0" cellspacing="2" cellpadding="3">
                        <tbody>
                             <tr>
                                <td class="fieldlabel">Start Date </td>
                                <td class="fieldarea">
                                    <input type="datetime" ng-model="EmployementHistory.@HR_EmployementHistory.Property_StartDate" class="form-control" placeholder="Enter Start Date"   />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Start Date." data-toggle="tooltip"></i></span></td>
                            </tr>
                             <tr>
                                <td class="fieldlabel">End Date </td>
                                <td class="fieldarea">
                                    <input type="datetime" ng-model="EmployementHistory.@HR_EmployementHistory.Property_EndDate" class="form-control" placeholder="Enter End Date"   />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter End Date." data-toggle="tooltip"></i></span></td>
                            </tr>
                             <tr>
                                <td class="fieldlabel">Is Active </td>
                                <td class="fieldarea">
                                    <label class="checkbox-inline">
                                    <input type="checkbox" ng-model="EmployementHistory.@HR_EmployementHistory.Property_IsActive"  />
                                    </label>
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Check Is Active if required." data-toggle="tooltip"></i></span></td>
                             </tr>
                        
                        <!--dropdown option for EnumList-->
                            <tr>
                                 <td class="fieldlabel">Employement Type </td>
                                 <td class="fieldarea">
                                    <select ng-model="EmployementHistory.@HR_EmployementHistory.Property_EmployementTypeEnumId" ng-options="option.Id as option.Name for option in EmployementTypeEnumList" title="Select Employement Type" ng-init="" class="form-control" >
                                     <option value="" label="" class="">---Select One---</option>   
                                    </select>
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Select Employement Type." data-toggle="tooltip"></i></span></td> 
                            </tr>
                        <!--dropdown option for EnumList-->
                            <tr>
                                 <td class="fieldlabel">Job Type </td>
                                 <td class="fieldarea">
                                    <select ng-model="EmployementHistory.@HR_EmployementHistory.Property_JobTypeEnumId" ng-options="option.Id as option.Name for option in JobTypeEnumList" title="Select Job Type" ng-init="" class="form-control" >
                                     <option value="" label="" class="">---Select One---</option>   
                                    </select>
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Select Job Type." data-toggle="tooltip"></i></span></td> 
                            </tr>
                        <!--dropdown option for EnumList-->
                            <tr>
                                 <td class="fieldlabel">History Type </td>
                                 <td class="fieldarea">
                                    <select ng-model="EmployementHistory.@HR_EmployementHistory.Property_HistoryTypeEnumId" ng-options="option.Id as option.Name for option in HistoryTypeEnumList" title="Select History Type" ng-init="" class="form-control" >
                                     <option value="" label="" class="">---Select One---</option>   
                                    </select>
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Select History Type." data-toggle="tooltip"></i></span></td> 
                            </tr>
                             <tr>
                                <td class="fieldlabel">Is Primary </td>
                                <td class="fieldarea">
                                    <label class="checkbox-inline">
                                    <input type="checkbox" ng-model="EmployementHistory.@HR_EmployementHistory.Property_IsPrimary"  />
                                    </label>
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Check Is Primary if required." data-toggle="tooltip"></i></span></td>
                             </tr>
                        
                   
                         <tr>
                            <td class="fieldlabel">Department </td>
                            <td class="fieldarea">
                                <select ng-model="EmployementHistory.@HR_EmployementHistory.Property_DepartmentId"
                                        ng-options="option.Id as option.Name for option in DepartmentList " ng-init="" class="form-control select-inline">
                                    <option value="" label="" class="">---Select One---</option>
                                </select>
                            </td>
                            <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Select Department." data-toggle="tooltip"></i></span></td>
                        </tr>
                  
                         <tr>
                            <td class="fieldlabel">Employee </td>
                            <td class="fieldarea">
                                <select ng-model="EmployementHistory.@HR_EmployementHistory.Property_EmployeeId"
                                        ng-options="option.Id as option.Name for option in EmployeeList " ng-init="" class="form-control select-inline">
                                    <option value="" label="" class="">---Select One---</option>
                                </select>
                            </td>
                            <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Select Employee." data-toggle="tooltip"></i></span></td>
                        </tr>
                  
                         <tr>
                            <td class="fieldlabel">Rank </td>
                            <td class="fieldarea">
                                <select ng-model="EmployementHistory.@HR_EmployementHistory.Property_RankId"
                                        ng-options="option.Id as option.Name for option in RankList " ng-init="" class="form-control select-inline">
                                    <option value="" label="" class="">---Select One---</option>
                                </select>
                            </td>
                            <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Select Rank." data-toggle="tooltip"></i></span></td>
                        </tr>
                  

                            </tbody>
                        </table>
                    </div><!--Col end-->
                </div><!--Row end-->
            </div><!--Widget Body end-->
            <div class="widget-footer text-center">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <button ng-click="@(saveEmployementHistory)()" class="btn btn-md btn-success"><span class="fa fa-save"></span> Save</button>
                     </div>
                </div>
            </div>
        </div>
      </div><!--view permission end-->
    </div>
</div><!--controller end-->



