@using EMS.CoreLibrary.Helpers
@using EMS.DataAccess.Data
@using EMS.Framework.Settings
@using EMS.Framework.Utils
@model  EMS.Framework.Objects.MvcModelListResult<User_Student>

@{
    //ViewBag.Title = "Print Admit Card";
    //Layout = "~/Views/Shared/Area/_LayoutAdminCore.cshtml";

    //var id = Request.QueryString["classId"];//ViewContext.RouteData.Values["id"];
    //var classId = (string)id == null ? "0" : (string)id;
    //id = Request.QueryString["componentSettingsId"];
    //var componentSettingsId = (string)id == null ? "0" : (string)id;

    //Aca_ResultComponentSetting ComponentSetting = ViewBag.ComponentSetting;
    //Aca_Class Class = ViewBag.Class;
    //Aca_Semester Semester = ViewBag.Semester;
    //Aca_Exam Exam = ViewBag.Exam;

    //string Error = ViewBag.Error;
    var exportPdf = HttpUtil.GetQueryString("exportPdf");//Html.Raw(ViewBag.IncludePdfExportCSS)

}
@{
    if (exportPdf.IsValid())
    {
        <style>
            * {
                box-shadow: none !important;
            }
        </style>
    }
}


@if (Model.HasError)
{
    <div class="alert alert-danger">
        <i class="fa-fw fa fa-warning"></i>
        <strong>Attention: </strong> <span>@Html.Raw(Model.ErrorHtml)</span>
    </div>
}
else
{
    //Aca_Class classObj = Model.DataBag.Aca_Class;
    //Aca_CurriculumCourse curriculumCourse = Model.DataBag.Aca_CurriculumCourse;
    Aca_Semester semester = Model.DataBag.Aca_Semester;
    Aca_Program program = Model.DataBag.Aca_Program;
    List<User_Student> studentList = Model.Data.ToList();

    //string Date = Model.DataBag.Date;
    //string Time = Model.DataBag.Time;
    int ItemPerPage = 1;//Model.DataBag.ItemPerPage;

    <div class="widget">
        
        @if (HttpUtil.Profile.UserTypeId != (byte) User_Account.UserTypeEnum.Student)
        {
            <div class="widget-header bordered-bottom bordered-sky no-print">
                <i class="widget-icon fa fa-print bold  "></i>
                <span class="widget-caption "><b>@ViewBag.Title </b></span>

                <div class="widget-buttons no-padding-left">
                    @*<button onclick="window.print()" class="btn btn-danger btn-xs"><i class="fa fa-print"></i> Print</button>*@
                    @*<button ng-click="" class="btn btn-success btn-xs"><i class="fa fa-print"></i> Print Mark</button>*@


                    <div class="btn-group">
                        <button class="btn btn-xs btn-success dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <i class="fa fa-download"></i> Download Soft Copy
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-blue pull-left" aria-labelledby="dropdownMenu">
                            <li><a href="#" onclick="$('#marks').tableExport({ fileName: 'StudentMarks', type: 'csv', escape: 'false' });"><i class="fa fa-file-excel-o"></i> As CSV (.csv)</a></li>
                            <li><a href="#" onclick="$('#marks').tableExport({ fileName: 'StudentMarks', type: 'xls', worksheetName: 'Worksheet', escape: 'false' });"><i class="fa fa-file-excel-o"></i> As Excel (.xls)</a></li>
                            <li><a href="#" onclick="$('#marks').tableExport({ fileName: 'StudentMarks', type: 'doc', escape: 'false' });"><i class="fa fa-file-word-o"></i> As Word (.doc)</a></li>

                        </ul>
                    </div>
                </div>

            </div>
        }
        
        <div class="widget-body">

            <!-- Component start -->
            <div class="no-print" style="text-align: center">


                <div class="widget-footer no-print" style="color: black">
                    <b style="color: red; text-decoration: underline">Attention Before Print: </b>
                    <div>
                        1. Please set Paper Size as "<b style="color: red; font-weight: bold">A4</b>" and Orientation as "<b style="color: red; font-weight: bold">Portrait</b>" when print.<br />
                        2. Use latest "<b style="color: red; font-weight: bold"><a href="https://www.google.com/chrome/browser/" title="click to dwonload" target="_blank">Chrome Browser</a></b>" for best performance.
                    </div>
                    <button onclick="window.print()" class="btn btn-darkorange btn-xs"><i class="fa fa-print"></i> Print This Page</button>

                </div>

                @*<div class="margin-bottom-5"><span  class="widget-caption "><b>Step 1 : </b> <button ng-click="@(saveResultComponentListByClassId)()" class="btn btn-xs btn-success"><i class="fa fa-save"></i> Save Marks</button></span></div>
                    <div class="margin-bottom-5"><span  class="widget-caption "><b>Step 2 : </b> <button ng-click="" class="btn btn-xs btn-success"><i class="fa fa-save"></i> View Draft Mark Sheet</button></span></div>
                    <div class="margin-bottom-5"><span  class="widget-caption "><b>Step 3 : </b> <button ng-click="saveLockResultComponentListByClassId()" class="btn btn-xs btn-danger"><i class="fa fa-lock"></i> Confirm &amp; Lock Marks</button></span></div>
                    <div class="margin-bottom-5"><span  class="widget-caption "><b>Step 4 : </b> <button ng-click="" class="btn btn-xs btn-success"><i class="fa fa-print"></i> Print Final Mark Sheet</button></span></div>*@
                <br />
            </div>
            <div id="marks" class="admit-container" style="">

                @{
                    var stdPerPage = ItemPerPage;
                    var firstPage = 15;

                    var taken = 0;
                    //Aca_ResultComponent component in Model

                    if (Model != null && studentList.Count > 0)
                    {

                        var totalStudent = studentList.Count;
                        var totalPage = (int)Math.Ceiling((double)totalStudent / stdPerPage);//(totalStudent + stdPerPage - 1) / stdPerPage;//

                        for (int i = 1; i <= totalPage; i++)
                        {
                            var studentListPaged= studentList.Skip(taken).Take(stdPerPage).ToList();
                            <div class="admit-box" style="">
                                @GenerateMarkSheetPage(studentListPaged, totalStudent, stdPerPage, totalPage, i)
                            </div>
                           
                        if (i != totalPage)
                        {<div class="pb-after" style="page-break-after: always!important">&nbsp;</div>}
                        taken += stdPerPage;
                    }

                }
                }
            </div>
        </div>
    </div>
                    }



@helper  GenerateMarkSheetPage(List<User_Student> studentList, int studentCount, int stdPerPage, int totalPage, int pageNo)
{

//Aca_Class classObj = Model.DataBag.Aca_Class;
//Aca_CurriculumCourse curriculumCourse = Model.DataBag.Aca_CurriculumCourse;
Aca_Semester semester = Model.DataBag.Aca_Semester;
Aca_Program program = Model.DataBag.Aca_Program;
bool isMidAdmit = Model.DataBag.IsMidAdmit;
bool isPrintedFromStudentPanel = Model.DataBag.IsPrintedFromStudentPanel;
string ExamName = Model.DataBag.ExamName;
string Sign = Model.DataBag.Sign;

//string Date = Model.DataBag.Date;
//string Time = Model.DataBag.Time;
//int ItemPerPage = Model.DataBag.ItemPerPage;

var cssClass = pageNo > 1 ? "visible-print" : "";

var pageInfo = (pageNo + "/" + totalPage).ToString();

    <div id="InstituteHeader" style="margin-bottom: 5px">
        <table class="" style="width: 100%">
            <tr>
                <td align="left" valign="top" style="width: 80px">

                    <img style="width: 70px;max-height: 68px" src="@(EMS.Framework.Settings.SiteSettings.Instance.InstituteLogoColorSolo)" />
                </td>
                <td style="">
                    <div class="margin-bottom-5" style="text-align: center">


                        <div style="font-size: 16px; font-weight: bold">@EMS.Framework.Settings.SiteSettings.Instance.InstituteName</div>
                        <div style="font-size: 10px; padding-bottom: 4px"> @EMS.Framework.Settings.SiteSettings.Instance.InstituteAddress</div>
                        <div style="font-size: 18px;padding-bottom: 0px"><b>Admit Card </b></div>



                    </div>
                </td>
                <td valign="top" align="right" style="width: 80px; text-align: right; font-size: 10px">


                    <img style="width: 60px; max-height: 68px" src="~/assets/img/logo/barcode.png" />
                    @*Page: @pageInfo<br />
                        Total Student: @studentCount<br />
                        Printed: @DateTime.Now.ToString("dd/MM/yyyy")*@

                </td>
            </tr>
        </table>


    </div>


//List<StudentJson> studentList = ClassResult30.DataBag.StudentList;
    if (studentList != null)
    {

        foreach (User_Student student in studentList)
        {
            var classTakenList = student.Aca_ClassTakenByStudent;
            if (student == null)
            {
                continue;
            }
            var fontSize = "13px";
            if (student.FullName.Length > 25)
            {
                fontSize = "10px";
            }



            @*<td class="fittext1"> 340‬
                <span style="white-space: nowrap; font-size: @fontSize">@student.FullName.ToLower().ToTitleCase().TruncateAtWord(40)</span>
            *@

            <div style="min-height: 320px;">
                <div id="SubHeader" style="margin-bottom: 5px">
                    <table class="visible-print1 SubHeader" style="width: 100%; font-weight: bold">
                        <tr>
                            <td style="width: 100px; ">
                                Name of Exam
                            </td>
                            <td style="width: 5px">
                                :
                            </td>
                            <td style="padding-left: 4px;">
                                @ExamName
                            </td>
                            @if (SiteSettings.Instance.Student.ShowPhotoOnAdmitCard)
                            {
                                <td rowspan="5">
                                    @if (student.ProfilePictureBase64.IsValid())
                                    {
                                        <img style="height: 90px; width: 90px" src="@student.ProfilePictureBase64" alt="@HttpUtil.Profile.Name" class="header-avatar">
                                    }
                                    else
                                    {
                                        <img id="profilePhoto" style="height: 100px; width: 100px" src="/assets/img/avatars/BlankPerson.png" alt="@HttpUtil.Profile.Name" class="header-avatar">
                                    }
                                    
                                </td>
                            }
                        </tr>
                        <tr>
                            <td style="width: 100px; ">
                                Semester
                            </td>
                            <td style="width: 5px">
                                :
                            </td>
                            <td style="padding-left: 4px;">
                                @semester.Name
                            </td>
                        </tr>
                        <tr>
                            <td style="">
                                Student's Name
                            </td>
                            <td style="">
                                :
                            </td>
                            <td style="">
                                @student.FullName.ToTitleCase()
                            </td>
                        </tr>
                        <tr>
                            <td style="">
                                Student's ID
                            </td>
                            <td style="">
                                :
                            </td>
                            <td style="">
                                @student.ClassRollNo
                            </td>
                        </tr>
                        <tr>
                            <td style="">
                                Batch
                            </td>
                            <td style="">
                                :
                            </td>
                            <td style="">
                                @student.Aca_DeptBatch.Name
                            </td>
                        </tr>
                        <tr>
                            <td style="">
                                Program
                            </td>
                            <td style="">
                                :
                            </td>
                            <td style="" colspan="2">
                                @program.ShortName
                            </td>
                        </tr>
                    </table>
                </div>


                <div id="ItemList" >
                    <table class="table table-striped table-bordered table-hover ItemList" style="">
                        <tbody>
                            <tr class="header-row text-center" style="">
                                <td colspan="4"> Courses in which to appear at: </td>
                            </tr>
                            <tr class="header-row" style="">
                                <td class="text-center" style="width: 15px;">SL</td>
                                <td class="text-center" style="min-width: 180px; max-width: 250px;">
                                    Course Title (Credit)
                                </td>
                                <td class="text-center" style="min-width: 80px;">Course Code</td>
                                <td class="text-center" style="min-width: 50px;">Key</td>
                                @*<td style="" class="text-center">Credit</td>*@


                            </tr>
                            @{int sl = 1;
                                        foreach (Aca_ClassTakenByStudent classTaken in classTakenList)
                                        {

                                            var classObj = classTaken.Aca_Class;
                                            if (classObj == null)
                                            {
                                                continue;
                                            }
                                <tr class="item-row" style="">
                                    <td class="text-center">@(sl++)</td>
                                    <td class="text-left">@classObj.Name (Cr:@classObj.Aca_CurriculumCourse.CreditLoad)</td>
                                    <td class="text-center">@classObj.Aca_CurriculumCourse.Code    </td>
                                    @if (isMidAdmit)
                                    {
                                        <td class="text-center">@classTaken.MidTermAdmitCardSecretNo</td>
                                    }
                                    else
                                    {
                                        <td class="text-center">@classTaken.FinaltermAdmitCardSecretNo</td>
                                    }

                                    @*<td class="text-center">@classObj.Aca_CurriculumCourse.CreditLoad </td>*@
                                </tr>
                                        }
                            }
                        </tbody>

                    </table>
                    <div>
                        S/he is allowed to sit for the above mentioned exam.
                    </div>
                </div>
            </div>
                                    }

                                }

                <div id="Footer" style="">
                    <div class="footer1" style="">
                                       
                        <div style="text-align: right;margin-bottom: -9px; font-size: 10px;font-weight:normal;font-style: italic">
                            
                            @Sign
                        </div>


                        <div style="text-align: right;margin-top: 8px; font-size: 11px;font-weight: bold;">
                            -----------------------------------------------<br/>
                            Controller of Examinations (@SiteSettings.Instance.InstituteShortName)
                        </div>

                        <div style="text-align: center;margin-top: 8px; font-size: 11px;font-weight: bold;border-bottom: 1px dotted gray">
                            Instructions for Examinees:
                        </div>

                    </div>
                    <div class="footer1" style="margin-left: 15px; margin-bottom: 10px;">
                        <ul style="list-style-type: decimal; margin: 0; padding: 0;">
                            <li>Examinee should come to the examination hall with the Admit Card.</li>
                            <li>No examinee will be allowed to sit in the examination hall outside the seat plan.</li>
                            <li>No bag or book will be allowed in the examination hall.</li>
                            <li>Cell Phone must be kept switched off in the examination hall.</li>
                            <li>No examinee will be allowed to enter the examination hall after expiry of half an hour.</li>
                            <li>No examinee will be allowed to leave the exam hall within the first half an hour after the examination begins.</li>
                            <li>Any examinee adopting unfair means will be brought under disciplinary action including expulsion.</li>
                            <li>Any kind of misbehavior will be considered as a serious offence under the rules of the University.</li>
                        </ul>

                    </div>

                    <div style="border-bottom: 1px dotted gray">    </div>
                    
                    <table class="footer3" style="width: 100%; font-size: 11px">

                        <tr>
                            <td rowspan="2" style="vertical-align: bottom; text-align: left;">
                                Developed By: @SiteSettings.PoweredBy

                            </td>
                            <td style="vertical-align: bottom; text-align: center;">
                                @*@("Page " + pageNo + " of " + totalPage )*@
                                Printed: @DateTime.Now.ToString("dd/MM/yyyy")
                                @if (isPrintedFromStudentPanel)
                                {
                                    <span>(Printed From Student Panel)</span>
                                }
                            </td>
                            <td style="vertical-align: bottom; text-align: right;">
                                @SiteSettings.Instance.InstituteCreditPrefix @SiteSettings.Instance.InstituteCredit
                            </td>

                        </tr>
                    </table>
                </div>


}


<style>
    .admit-container {
        max-width: 4.85in;  margin: 0 auto
    }
    .admit-box {
        min-height: 7.29in;border: 1px solid black;padding: 10px;padding-bottom: 0
    }
    .print-footer {
        display: none !important;
    }

    #SubHeader td {
        font-weight: bold !important;
        font-size: 11px !important;
        padding: 2px !important;
    }

    .ItemList .header-row td {
        font-weight: bold;
        font-size: 11px;
        border: 1px solid black !important;
        padding: 2px;
    }

    .ItemList .item-row td {
        border: 1px solid black !important;
        font-size: 11px;
        padding: 2px !important;
    }

    .footer1  {
           
        font-size: 10px !important;
        padding: 2px !important;
    }

    .footer1 td, .footer2 td {
        font-weight: bold !important;
        font-size: 13px !important;
        padding: 6px !important;
    }

    .footer2 td {
        padding-bottom: 12px !important;
    }

       
</style>