@using EMS.CoreLibrary.Helpers
@using EMS.DataAccess.Data
@using EMS.Framework.Settings
@using EMS.Framework.Utils
@using EMS.Web.UI.Areas.ExamSection.Controllers
@model  EMS.Framework.Objects.MvcModelListResult<ReportController.StudentEligibleReportModel>

<div class="main-body">

    @if (Model.HasError)
    {
        <div class="alert alert-danger">
            <i class="fa-fw fa fa-warning"></i>
            <strong>Attention: </strong> <span>@Html.Raw(Model.ErrorHtml)</span>
        </div>
    }
    else
    {

        @*<div>
            <div class="btn-group" style="float: right; margin-bottom: 5px;">
                <button class="btn btn-xs btn-success dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <i class="fa fa-download"></i> Download Soft Copy
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-blue pull-left" aria-labelledby="dropdownMenu">
                    <li><a onclick="$('#studentEligibleReport').tableExport({ fileName: 'studentEligibleReport', type: 'csv', escape: 'false' });"><i class="fa fa-file-excel-o"></i> As CSV (.csv)</a></li>
                    <li><a onclick="$('#studentEligibleReport').tableExport({ fileName: 'studentEligibleReport', type: 'xls', worksheetName: 'Worksheet', escape: 'false' });"><i class="fa fa-file-excel-o"></i> As Excel (.xls)</a></li>
                    <li><a onclick="$('#studentEligibleReport').tableExport({ fileName: 'studentEligibleReport', type: 'doc', escape: 'false' });"><i class="fa fa-file-word-o"></i> As Word (.doc)</a></li>
                </ul>
            </div>
        </div>
        *@

        List<ReportController.StudentEligibleReportModel> regReportModelList = Model.Data.ToList();
        <div  id="studentEligibleReport">
            @foreach (var regReportModel in regReportModelList)
            {
                <table class="table table-bordered table-striped reg-report-table">

                    <thead>
                    <tr class="reportInfo" style="font-size: 13px;">
                        <td colspan="2">
                            <span class="text-bold">Semester:</span>
                            @regReportModel.SemesterName
                        </td>
                        <td colspan="2">
                            <span class="text-bold">Program:</span>
                            @regReportModel.ProgramName
                        </td>
                        <td colspan="2">
                            <span class="text-bold">Batch:</span>
                            @regReportModel.BatchName
                        </td>
                    </tr>
                    <tr>

                        <th class="text-center" style="width: 30px !important;">SL</th>
                        <th class="text-center" style="width: 170px !important;">Student's Name</th>
                        <th class="text-center" style="width: 75px;">ID NO.</th>
                        <th class="text-center">Course Code [Grade,Credit,Level Term]</th>
                        <th class="text-center" style="width: 65px;">Total Cr.</th>
                        <th class="text-center" style="width: 120px;">Remark</th>
                    </tr>
                    </thead>
                    <tbody>
                    @{int index = 1;}
                    @foreach (var student in regReportModel.RegStudentList)
                    {
                        <tr>
                            <td class="text-center">@index</td>
                            <td>@student.FullName</td>
                            <td class="text-center">@student.UserName</td>
                            <td>@student.Courses</td>
                            <td class="text-center">@student.TotalCredit</td>
                            <td></td>
                        </tr>

                        index++;

                    }

                    </tbody>
                </table>
            }
        </div>
    }
</div>
   

    <style>
            .main-body {
                /*width: 9.29in;*/
                margin: 0 auto;
                font-family: Arial;
                font-size: 12px;
                color: black;
                border-color: black;

            }
            div.report-container thead > tr > th {
                font-size: 12px;
            }
            .font-style, .report-container tbody tr {
                font-size: 11px;
            }
            
            .reg-report-table {
                margin-top: 25px;
            }
            .main-body tr th {
                padding: 0px !important;
            }
            .main-body tr td {
                padding-top: 2px !important;
                padding-bottom: 2px !important;
            }
            .reportInfo {
                border: 1px solid #ddd !important;
            }
            .reportInfo td {
                padding: 10px !important;
                border: none !important;
            }

            .report-container {
                width: 10.29in !important;
            }

            .show-on-print {
                Display:contents !important;
            }

            /*@@media print {
                .show-on-print {
                    Display: block !important;
                }
            }*/
    </style>


