
<!--File:Aca_StudyLevel Add/Edit View-->
@using EMS.DataAccess.Data;
@{
    ViewBag.Title = "Admin: Add/Edit Study Level";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    // Angular Properties
    var id = Request.QueryString["id"];//ViewContext.RouteData.Values["id"];
    var StudyLevelId = (string) id == null?"0":(string)id;
    
    //Aca_StudyLevel WebApi Single Row link   
    var getStudyLevelByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "StudyLevelApi", action = "GetStudyLevelById", area = "Admin" });
    var getStudyLevelDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "StudyLevelApi", action = "GetStudyLevelDataExtra", area = "Admin" });
    var saveStudyLevelUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "StudyLevelApi", action = "SaveStudyLevel", area = "Admin" });
    var deleteStudyLevelByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "StudyLevelApi", action = "GetDeleteStudyLevelById", area = "Admin" });

    //Aca_StudyLevel WebApi List link 
    var getPagedStudyLevelUrl = Url.HttpRouteUrl("DefaultApi", new {controller = "StudyLevelApi", action = "GetPagedStudyLevel", area = "Admin"});
    var getAllStudyLevelUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "StudyLevelApi", action = "GetAllStudyLevel", area = "Admin" });
    var saveStudyLevelListUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "StudyLevelApi", action = "SaveStudyLevelList", area = "Admin" });
    var getStudyLevelListDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "StudyLevelApi", action = "GetStudyLevelListDataExtra", area = "Admin" });

    var editStudyLevelByIdPageUrl = Url.Action("StudyLevelAddEdit", "StudyLevel", new { area = "Admin" });
    var listStudyLevelPageUrl = Url.Action("StudyLevelList", "StudyLevel", new { area = "Admin" });
    
    //Aca_StudyLevel Angular Functions
    string getStudyLevelById="getStudyLevelById";
    var saveStudyLevel = "saveStudyLevel";
    var getNewStudyLevel = "getNewStudyLevel";
    var refreshPage = "loadPage()";
    string deleteStudyLevelById="deleteStudyLevelById";
    string loadStudyLevelExtraData="loadStudyLevelExtraData";
}
@section ScriptSection
{
    <script src="~/Areas/Admin/Views/StudyLevel/StudyLevelAddEdit.js"></script>
}

<div id="StudyLevelAddEdit" class="row" ng-controller="StudyLevelAddEditCtrl" ng-init="Init(
      '@StudyLevelId'
      ,'@getStudyLevelByIdUrl'
      ,'@getStudyLevelDataExtraUrl'
      ,'@saveStudyLevelUrl'
      ,'@deleteStudyLevelByIdUrl')">
      
    <div class="col-lg-12 col-sm-12 col-xs-12">
     <div ng-Hide="!HasError ||ErrorMsg==''" class="alert alert-danger fade in radius-bordered alert-shadowed">
            <button ng-click="HasError=false" class="close" data-dismiss1="alert">×</button>
            <i class="fa-fw fa fa-warning"></i>
            <strong>Attention Please!</strong> {{ErrorMsg}}
      </div>
      <div ng-show="HasViewPermission">
        <div class="widget" >
            <div class="widget-header bordered-bottom bordered-sky ">
                <i class="widget-icon fa fa-edit bold  "></i>
                <span class="widget-caption ">
                    Add/Edit
                    <strong ng-show="StudyLevel.@Aca_StudyLevel.Property_Name!=''">{{(StudyLevel.@Aca_StudyLevel.Property_Name)}}</strong>
                </span>
                <div class="widget-buttons buttons-bordered no-padding-right" style="display: none">
                    <span class="input-icon">
                        <input type="text" ng-model="StudyLevelId" ng-Enter="@(getStudyLevelById)()" class="form-control input-xs " id="glyphicon-search" placeholder="Search" >
                        <i class="glyphicon glyphicon-search blue"></i>
                    </span>
                  
                </div>
                <div class="widget-buttons no-padding-left">
                    <button ng-click="@(getNewStudyLevel)()" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Add New</button>
                    <a href="@(listStudyLevelPageUrl)" class="btn btn-blue btn-xs"><i class="fa fa-arrow-left" target="_blank"></i> Back To List</a>
                    <button ng-click="@refreshPage" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i> Refresh</button>
                </div>
            </div><!--Widget Header end-->
            <div class="widget-body">
                <div class="row">
                  <div class="col-md-6 table-form">
                     <table class="form" width="100%" border="0" cellspacing="2" cellpadding="3">
                        <tbody>
                             <tr>
                                <td class="fieldlabel">Name <span class="red glyphicon glyphicon-asterisk"></span></td>
                                <td class="fieldarea">
                                    <input type="text" ng-model="StudyLevel.@Aca_StudyLevel.Property_Name" class="form-control" placeholder="Enter Name" maxlength="50" required="" />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Name." data-toggle="tooltip"></i></span></td>
                            </tr>
                             <tr>
                                <td class="fieldlabel">Level No </td>
                                <td class="fieldarea">
                                    <input type="number" ng-model="StudyLevel.@Aca_StudyLevel.Property_LevelNo" class="form-control" placeholder="Enter Level No"   />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Level No." data-toggle="tooltip"></i></span></td>
                            </tr>
                   

                            </tbody>
                        </table>
                    </div><!--Col end-->
                </div><!--Row end-->
            </div><!--Widget Body end-->
            <div class="widget-footer text-center">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <button ng-click="@(saveStudyLevel)()" class="btn btn-md btn-success"><span class="fa fa-save"></span> Save</button>
                     </div>
                </div>
            </div>
        </div>
      </div><!--view permission end-->
    </div>
</div><!--controller end-->



