<!--File:Aca_Course List View-->
@using EMS.DataAccess.Data;
@{
    ViewBag.Title = "Base/Master Course List";
    Layout = "~/Areas/Academic/Views/Shared/_LayoutAcademic.cshtml";

    // Angular Properties
    var id = Request.QueryString["id"];//ViewContext.RouteData.Values["id"];
    var CourseId = (string)id == null ? "0" : (string)id;

    //WebApi link for single row
    var getCourseByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CourseApi", action = "GetCourseById", area = "Academic" });
    var getCourseDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CourseApi", action = "GetCourseDataExtra", area = "Academic" });
    var saveCourseUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CourseApi", action = "SaveCourse", area = "Academic" });
    var deleteCourseByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CourseApi", action = "GetDeleteCourseById", area = "Academic" });

    //WebApi link for List
    var getPagedCourseUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CourseApi", action = "GetPagedCourse", area = "Academic" });
    var getAllCourseUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CourseApi", action = "GetAllCourse", area = "Academic" });
    var saveCourseListUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CourseApi", action = "SaveCourseList", area = "Academic" });
    var getCourseListDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CourseApi", action = "GetCourseListDataExtra", area = "Academic" });

    var editCourseByIdPageUrl = Url.Action("CourseAddEdit", "Course", new { area = "Academic" });

    //Angular Function Name
    var getNewCourse = "getNewCourse";
    var saveCourse = "saveCourse";
    var deleteCourseById = "deleteCourseById";
    var deleteCourseByObj = "deleteCourseByObj";
    //for list
    var searchCourseList = "searchCourseList";
    var getPagedCourseList = "getPagedCourseList";
    var getAllCourseList = "getAllCourseList";
    var saveCourseList = "saveCourseList";
    var getCourseListExtraData = "getCourseListExtraData";

    var refreshPage = "searchCourseList()";

}
@section ScriptSection
{
    <script src="~/Areas/Academic/Views/Course/CourseList.js"></script>
}


<div ng-controller="CourseListCtrl"
     ng-init="Init(
      '@getPagedCourseUrl'
     ,'@deleteCourseByIdUrl'
     ,'@getCourseListDataExtraUrl'
     ,'@saveCourseListUrl'
     ,'@getCourseByIdUrl'
     ,'@getCourseDataExtraUrl'
     ,'@saveCourseUrl'
     )">
    <div class="widget">

        <div class="widget-header bordered-bottom bordered-sky ">
            <i class="widget-icon fa fa-list bold  "></i>
            <span  class="widget-caption ">Manage Course </span>
            <div class="widget-buttons buttons-bordered no-padding-right">
                <span  class="widget-caption form-inline">
                    <span  class="text-info">Select</span>
                    <select ng-model="SelectedDepartmentId" ng-change="@(searchCourseList)()"
                            ng-options="option.Id as option.ShortName for option in DepartmentList " ng-init="" class="form-control input-xs ">
                    </select>
                </span>
            </div>
            <div class="widget-buttons buttons-bordered no-padding-right" style="display: none;">
                <span  class="widget-caption form-inline">
                    @*<span >Select Study Level Term</span>*@
                    <select ng-model="SelectedStudyLevelTermId" ng-change="@(searchCourseList)()"
                            ng-options="option.Id as option.Name for option in StudyLevelTermList " ng-init="" class="form-control input-xs ">
                        <option value="" label="" class="">---Select All Level Term---</option>
                    </select>
                </span>
            </div>
            <div class="widget-buttons buttons-bordered no-padding-right" style="display: none;">
                <span  class="widget-caption form-inline">
                    <input ng-change="@(searchCourseList)()" ng-model="SearchByTypeId" type="radio" value="0"> Bachelor
                    <input ng-change="@(searchCourseList)()" ng-model="SearchByTypeId" type="radio" value="1"> Masters
                    <input ng-change="@(searchCourseList)()" ng-model="SearchByTypeId" type="radio" value="2"> PhD
                </span>
            </div>
            <div class="widget-buttons buttons-bordered no-padding-right">
                <span  class="input-icon">
                    <input type="text" ng-model="SearchText" ng-Enter="@(searchCourseList)()" class="form-control input-xs " id="glyphicon-search" placeholder="Search by code" style="">
                    <i class="glyphicon glyphicon-search blue"></i>
                </span>
            </div>
            <div class="widget-buttons no-padding-left">
                <a target="_blank" href="@editCourseByIdPageUrl?id=0" class="btn btn-xs btn-success"><i class="fa fa-plus"></i> Add New</a>
                <button ng-click="@refreshPage" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i> Refresh</button>
            </div>
        </div>
        <div class="widget-body no-padding" style="overflow:auto">
            <div class="table-footer no-print">
                @OptionControl()
            </div>
            <table class="table table-striped table-bordered table-hover">
                <thead class="bordered-blue">
                    <tr>
                        <th class="text-center" style="display:none">
                            <input type="checkbox" ng-click="selectAll($event)">
                        </th>
                        <th class="text-center">Ser</th>
                        <th class="">Course Code</th>
                        <th class="">Course Title</th>
                        @*<th class="text-center">Credit Hour</th>
                        <th class="text-center">Contact Hour</th>*@
                        <th class="text-center">Category</th>
                        @*<th class="text-center">Level Term</th>*@
                        <th class="text-center no-print">Action</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="row in CourseList">
                        <td class="text-center" style="display:none">
                            <input type="checkbox" ng-model="row.@Aca_Course.Property_IsSelected" />
                        </td>
                        <td class="text-center">{{$index+1}}</td>
                        <td class="" style="width: 110px;">{{row.@Aca_Course.Property_Code}}</td>
                        <td class="">{{row.@Aca_Course.Property_Name}}</td>
                        @*<td class="text-center" style="width: 56px;">{{row.@Aca_Course.Property_CreditLoad | number:2}}</td>
                        <td class="text-center" style="width: 66px;">{{row.@Aca_Course.Property_CreditHour | number:2}}</td>*@
                        <td class="text-center">{{row.@Aca_Course.Property_CourseCategory}}</td>
                        @*<td class="text-center" style="width: 110px;">{{row.LevelTermName}}</td>*@
                        <td class="text-center no-print" style="width: 110px;">
                            <a target="_blank" href="@(editCourseByIdPageUrl)/?id={{row.Id}}" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i> Edit</a>
                            <button ng-click="@(deleteCourseById)(row)" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>

                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="table-footer no-print">
                @OptionControl()
            </div>
        </div>
    </div>
</div>

@helper  OptionControl()
{
    <div class="row no-print">
        <div class="col-sm-4">
            <div class="form-inline pull-left">
                <div class="form-group">
                    <label ng-hide="totalServerItems==0">(Showing {{totalServerItems*(PageNo-1)+1}}-{{totalServerItems*PageNo}} of {{totalItems}})</label>
                    <label ng-show="totalServerItems==0" class="text-danger">No Data Found!</label>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-inline pull-right">
                <div class="form-group">
                    <label>Page Size</label>
                    <input ng-model="PageSize" ng-enter="changePageSize()" class="form-control input-opt" autocomplete="on" placeholder="Page Size" type="number" min="1">
                </div>
                <div class="form-group">
                    <label>Page No.</label>
                    <input ng-model="PageNo" ng-enter="changePageNo()" class="form-control input-opt" autocomplete="on" placeholder="Page No" type="number" min="1">
                    <label>of {{totalItems/PageSize| number:0}}</label>
                </div>
            </div>
        </div>
    </div>
}



