
<!--File:Acnt_OfficialBank Add/Edit View-->
@using EMS.DataAccess.Data;
@{
    ViewBag.Title = "Accounts: Add/Edit Official Bank";
    Layout = "~/Areas/Accounts/Views/Shared/_LayoutAccounts.cshtml";
    // Angular Properties
    var id = Request.QueryString["id"];//ViewContext.RouteData.Values["id"];
    var OfficialBankId = (string) id == null?"0":(string)id;
    
    //Acnt_OfficialBank WebApi Single Row link   
    var getOfficialBankByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "OfficialBankApi", action = "GetOfficialBankById", area = "Accounts" });
    var getOfficialBankDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "OfficialBankApi", action = "GetOfficialBankDataExtra", area = "Accounts" });
    var saveOfficialBankUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "OfficialBankApi", action = "SaveOfficialBank", area = "Accounts" });
    var deleteOfficialBankByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "OfficialBankApi", action = "GetDeleteOfficialBankById", area = "Accounts" });

    //Acnt_OfficialBank WebApi List link 
    var getPagedOfficialBankUrl = Url.HttpRouteUrl("DefaultApi", new {controller = "OfficialBankApi", action = "GetPagedOfficialBank", area = "Accounts"});
    var getAllOfficialBankUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "OfficialBankApi", action = "GetAllOfficialBank", area = "Accounts" });
    var saveOfficialBankListUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "OfficialBankApi", action = "SaveOfficialBankList", area = "Accounts" });
    var getOfficialBankListDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "OfficialBankApi", action = "GetOfficialBankListDataExtra", area = "Accounts" });

    var editOfficialBankByIdPageUrl = Url.Action("OfficialBankAddEdit", "OfficialBank", new { area = "Accounts" });
    var listOfficialBankPageUrl = Url.Action("OfficialBankList", "OfficialBank", new { area = "Accounts" });
    
    //Acnt_OfficialBank Angular Functions
    string getOfficialBankById="getOfficialBankById";
    var saveOfficialBank = "saveOfficialBank";
    var getNewOfficialBank = "getNewOfficialBank";
    var refreshPage = "loadPage()";
    string deleteOfficialBankById="deleteOfficialBankById";
    string loadOfficialBankExtraData="loadOfficialBankExtraData";
}
@section ScriptSection
{
    <script src="~/Areas/Accounts/Views/OfficialBank/OfficialBankAddEdit.js"></script>
}

<div id="OfficialBankAddEdit" class="row" ng-controller="OfficialBankAddEditCtrl" ng-init="Init(
      '@OfficialBankId'
      ,'@getOfficialBankByIdUrl'
      ,'@getOfficialBankDataExtraUrl'
      ,'@saveOfficialBankUrl'
      ,'@deleteOfficialBankByIdUrl')">
      
    <div class="col-lg-12 col-sm-12 col-xs-12">
     <div ng-Hide="!HasError ||ErrorMsg==''" class="alert alert-danger fade in radius-bordered alert-shadowed">
            <button ng-click="HasError=false" class="close" data-dismiss1="alert">×</button>
            <i class="fa-fw fa fa-warning"></i>
            <strong>Attention Please!</strong> {{ErrorMsg}}
      </div>
      <div ng-show="HasViewPermission">
        <div class="widget" >
            <div class="widget-header bordered-bottom bordered-sky ">
                <i class="widget-icon fa fa-edit bold  "></i>
                <span class="widget-caption ">
                    Add/Edit
                    <strong ng-show="OfficialBank.@Acnt_OfficialBank.Property_Name!=''">{{(OfficialBank.@Acnt_OfficialBank.Property_Name)}}</strong>
                </span>
                <div class="widget-buttons buttons-bordered no-padding-right" style="display: none">
                    <span class="input-icon">
                        <input type="text" ng-model="OfficialBankId" ng-Enter="@(getOfficialBankById)()" class="form-control input-xs " id="glyphicon-search" placeholder="Search" >
                        <i class="glyphicon glyphicon-search blue"></i>
                    </span>
                  
                </div>
                <div class="widget-buttons no-padding-left">
                    <button ng-click="@(getNewOfficialBank)()" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Add New</button>
                    <a href="@(listOfficialBankPageUrl)" class="btn btn-blue btn-xs"><i class="fa fa-arrow-left" target="_blank"></i> Back To List</a>
                    <button ng-click="@refreshPage" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i> Refresh</button>
                </div>
            </div><!--Widget Header end-->
            <div class="widget-body">
                <div class="row">
                  <div class="col-md-6 table-form">
                     <table class="form" width="100%" border="0" cellspacing="2" cellpadding="3">
                        <tbody>
                             <tr>
                                <td class="fieldlabel">Name <span class="red glyphicon glyphicon-asterisk"></span></td>
                                <td class="fieldarea">
                                    <input type="text" ng-model="OfficialBank.@Acnt_OfficialBank.Property_Name" class="form-control" placeholder="Enter Name" maxlength="255" required="" />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Name." data-toggle="tooltip"></i></span></td>
                            </tr>
                             <tr>
                                <td class="fieldlabel">Short Name <span class="red glyphicon glyphicon-asterisk"></span></td>
                                <td class="fieldarea">
                                    <input type="text" ng-model="OfficialBank.@Acnt_OfficialBank.Property_ShortName" class="form-control" placeholder="Enter Short Name" maxlength="50" required="" />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Short Name." data-toggle="tooltip"></i></span></td>
                            </tr>
                             <tr>
                                <td class="fieldlabel">Code </td>
                                <td class="fieldarea">
                                    <input type="text" ng-model="OfficialBank.@Acnt_OfficialBank.Property_Code" class="form-control" placeholder="Enter Code" maxlength="50"  />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Code." data-toggle="tooltip"></i></span></td>
                            </tr>
                             <tr>
                                <td class="fieldlabel">Ac Name <span class="red glyphicon glyphicon-asterisk"></span></td>
                                <td class="fieldarea">
                                    <input type="text" ng-model="OfficialBank.@Acnt_OfficialBank.Property_AcName" class="form-control" placeholder="Enter Ac Name" maxlength="255" required="" />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Ac Name." data-toggle="tooltip"></i></span></td>
                            </tr>
                             <tr>
                                <td class="fieldlabel">Ac No <span class="red glyphicon glyphicon-asterisk"></span></td>
                                <td class="fieldarea">
                                    <input type="text" ng-model="OfficialBank.@Acnt_OfficialBank.Property_AcNo" class="form-control" placeholder="Enter Ac No" maxlength="255" required="" />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Ac No." data-toggle="tooltip"></i></span></td>
                            </tr>
                             <tr>
                                <td class="fieldlabel">Branch Name <span class="red glyphicon glyphicon-asterisk"></span></td>
                                <td class="fieldarea">
                                    <input type="text" ng-model="OfficialBank.@Acnt_OfficialBank.Property_BranchName" class="form-control" placeholder="Enter Branch Name" maxlength="50" required="" />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Branch Name." data-toggle="tooltip"></i></span></td>
                            </tr>
                             <tr>
                                <td class="fieldlabel">Address <span class="red glyphicon glyphicon-asterisk"></span></td>
                                <td class="fieldarea">
                                    <input type="text" ng-model="OfficialBank.@Acnt_OfficialBank.Property_Address" class="form-control" placeholder="Enter Address"  required="" />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Address." data-toggle="tooltip"></i></span></td>
                            </tr>
                        <!--dropdown option for EnumList-->
                            <tr>
                                 <td class="fieldlabel">Type </td>
                                 <td class="fieldarea">
                                    <select ng-model="OfficialBank.@Acnt_OfficialBank.Property_TypeEnumId" ng-options="option.Id as option.Name for option in TypeEnumList" title="Select Type" ng-init="" class="form-control" >
                                     <option value="" label="" class="">---Select One---</option>   
                                    </select>
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Select Type." data-toggle="tooltip"></i></span></td> 
                            </tr>
                             <tr>
                                <td class="fieldlabel">Order No </td>
                                <td class="fieldarea">
                                    <input type="number" ng-model="OfficialBank.@Acnt_OfficialBank.Property_OrderNo" class="form-control" placeholder="Enter Order No"   />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Order No." data-toggle="tooltip"></i></span></td>
                            </tr>
                             <tr>
                                <td class="fieldlabel">Is Active </td>
                                <td class="fieldarea">
                                    <label class="checkbox-inline">
                                    <input type="checkbox" ng-model="OfficialBank.@Acnt_OfficialBank.Property_IsActive"  />
                                    </label>
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Check Is Active if required." data-toggle="tooltip"></i></span></td>
                             </tr>
                        
                             <tr>
                                <td class="fieldlabel">Is Deleted </td>
                                <td class="fieldarea">
                                    <label class="checkbox-inline">
                                    <input type="checkbox" ng-model="OfficialBank.@Acnt_OfficialBank.Property_IsDeleted"  />
                                    </label>
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Check Is Deleted if required." data-toggle="tooltip"></i></span></td>
                             </tr>
                        
                   

                            </tbody>
                        </table>
                    </div><!--Col end-->
                </div><!--Row end-->
            </div><!--Widget Body end-->
            <div class="widget-footer text-center">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <button ng-click="@(saveOfficialBank)()" class="btn btn-md btn-success"><span class="fa fa-save"></span> Save</button>
                     </div>
                </div>
            </div>
        </div>
      </div><!--view permission end-->
    </div>
</div><!--controller end-->



