
<!--File:General_OnlineClass Add/Edit View-->
@using EMS.DataAccess.Data;
@{
    ViewBag.Title = "Academic: Add/Edit Online Class";
    Layout = "~/Areas/Academic/Views/Shared/_LayoutAcademic.cshtml";
    // Angular Properties
    var id = Request.QueryString["id"];//ViewContext.RouteData.Values["id"];
    var OnlineClassId = (string) id == null?"0":(string)id;

    //General_OnlineClass WebApi Single Row link   
    var getOnlineClassByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "OnlineClassApi", action = "GetOnlineClassById", area = "Academic" });
    var getOnlineClassDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "OnlineClassApi", action = "GetOnlineClassDataExtra", area = "Academic" });
    var saveOnlineClassUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "OnlineClassApi", action = "SaveOnlineClass", area = "Academic" });
    var deleteOnlineClassByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "OnlineClassApi", action = "GetDeleteOnlineClassById", area = "Academic" });

    //General_OnlineClass WebApi List link 
    var getPagedOnlineClassUrl = Url.HttpRouteUrl("DefaultApi", new {controller = "OnlineClassApi", action = "GetPagedOnlineClass", area = "Academic" });
    var getAllOnlineClassUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "OnlineClassApi", action = "GetAllOnlineClass", area = "Academic" });
    var saveOnlineClassListUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "OnlineClassApi", action = "SaveOnlineClassList", area = "Academic" });
    var getOnlineClassListDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "OnlineClassApi", action = "GetOnlineClassListDataExtra", area = "Academic" });

    var editOnlineClassByIdPageUrl = Url.Action("OnlineClassAddEdit", "OnlineClass", new { area = "Academic" });
    var listOnlineClassPageUrl = Url.Action("OnlineClassList", "OnlineClass", new { area = "Academic" });

    //General_OnlineClass Angular Functions
    string getOnlineClassById="getOnlineClassById";
    var saveOnlineClass = "saveOnlineClass";
    var getNewOnlineClass = "getNewOnlineClass";
    var refreshPage = "loadPage()";
    string deleteOnlineClassById="deleteOnlineClassById";
    string loadOnlineClassExtraData="loadOnlineClassExtraData";
}
@section ScriptSection
{
    <script src="~/Areas/Admin/Views/OnlineClass/OnlineClassAddEdit.js"></script>
}

<div id="OnlineClassAddEdit" class="row" ng-controller="OnlineClassAddEditCtrl" ng-init="Init(
      '@OnlineClassId'
      ,'@getOnlineClassByIdUrl'
      ,'@getOnlineClassDataExtraUrl'
      ,'@saveOnlineClassUrl'
      ,'@deleteOnlineClassByIdUrl')">
      
    <div class="col-lg-12 col-sm-12 col-xs-12">
     <div ng-Hide="!HasError ||ErrorMsg==''" class="alert alert-danger fade in radius-bordered alert-shadowed">
            <button ng-click="HasError=false" class="close" data-dismiss1="alert">×</button>
            <i class="fa-fw fa fa-warning"></i>
            <strong>Attention Please!</strong> {{ErrorMsg}}
      </div>
      <div ng-show="HasViewPermission">
        <div class="widget" >
            <div class="widget-header bordered-bottom bordered-sky ">
                <i class="widget-icon fa fa-edit bold  "></i>
                <span class="widget-caption ">
                    Add/Edit
                    @*<strong ng-show="OnlineClass.@General_OnlineClass.Property_Name!=''">{{(OnlineClass.@General_OnlineClass.Property_Name)}}</strong>*@
                </span>
                <div class="widget-buttons buttons-bordered no-padding-right" style="display: none">
                    <span class="input-icon">
                        <input type="text" ng-model="OnlineClassId" ng-Enter="@(getOnlineClassById)()" class="form-control input-xs " id="glyphicon-search" placeholder="Search" >
                        <i class="glyphicon glyphicon-search blue"></i>
                    </span>
                  
                </div>
                <div class="widget-buttons no-padding-left">
                    <button ng-click="@(getNewOnlineClass)()" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Add New</button>
                    <a href="@(listOnlineClassPageUrl)" class="btn btn-blue btn-xs"><i class="fa fa-arrow-left" target="_blank"></i> Back To List</a>
                    <button ng-click="@refreshPage" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i> Refresh</button>
                </div>
            </div><!--Widget Header end-->
            <div class="widget-body">
                <div class="row">
                  <div class="col-md-6 table-form">
                     <table class="form" width="100%" border="0" cellspacing="2" cellpadding="3">
                        <tbody>
                             <tr>
                                <td class="fieldlabel">Class Title <span class="red glyphicon glyphicon-asterisk"></span></td>
                                <td class="fieldarea">
                                    <input type="text" ng-model="OnlineClass.@General_OnlineClass.Property_ClassTitle" class="form-control" placeholder="Enter Class Title" maxlength="100" required="" />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Class Title." data-toggle="tooltip"></i></span></td>
                            </tr>
                             <tr>
                                <td class="fieldlabel">Class Duration </td>
                                <td class="fieldarea">
                                    <input type="number" ng-model="OnlineClass.@General_OnlineClass.Property_ClassDuration" class="form-control" placeholder="Enter Class Duration"   />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Class Duration." data-toggle="tooltip"></i></span></td>
                            </tr>
                        <!--dropdown option for EnumList-->
                            <tr>
                                 <td class="fieldlabel">Live Class Medium </td>
                                 <td class="fieldarea">
                                    <select ng-model="OnlineClass.@General_OnlineClass.Property_LiveClassMediumEnumId" ng-options="option.Id as option.Name for option in LiveClassMediumEnumList" title="Select Live Class Medium" ng-init="" class="form-control" >
                                     <option value="" label="" class="">---Select One---</option>   
                                    </select>
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Select Live Class Medium." data-toggle="tooltip"></i></span></td> 
                            </tr>
                             <tr>
                                <td class="fieldlabel">Class Url <span class="red glyphicon glyphicon-asterisk"></span></td>
                                <td class="fieldarea">
                                    <input type="text" ng-model="OnlineClass.@General_OnlineClass.Property_ClassUrl" class="form-control" placeholder="Enter Class Url"  required="" />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Class Url." data-toggle="tooltip"></i></span></td>
                            </tr>
                             <tr>
                                <td class="fieldlabel">Password <span class="red glyphicon glyphicon-asterisk"></span></td>
                                <td class="fieldarea">
                                    <input type="text" ng-model="OnlineClass.@General_OnlineClass.Property_Password" class="form-control" placeholder="Enter Password" maxlength="20" required="" />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Password." data-toggle="tooltip"></i></span></td>
                            </tr>
                             <tr>
                                <td class="fieldlabel">Host Video </td>
                                <td class="fieldarea">
                                    <label class="checkbox-inline">
                                    <input type="checkbox" ng-model="OnlineClass.@General_OnlineClass.Property_HostVideo"  />
                                    </label>
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Check Host Video if required." data-toggle="tooltip"></i></span></td>
                             </tr>
                        
                             <tr>
                                <td class="fieldlabel">Participant Video </td>
                                <td class="fieldarea">
                                    <label class="checkbox-inline">
                                    <input type="checkbox" ng-model="OnlineClass.@General_OnlineClass.Property_ParticipantVideo"  />
                                    </label>
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Check Participant Video if required." data-toggle="tooltip"></i></span></td>
                             </tr>
                        
                             <tr>
                                <td class="fieldlabel">Auto Recording </td>
                                <td class="fieldarea">
                                    <label class="checkbox-inline">
                                    <input type="checkbox" ng-model="OnlineClass.@General_OnlineClass.Property_AutoRecording"  />
                                    </label>
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Check Auto Recording if required." data-toggle="tooltip"></i></span></td>
                             </tr>
                        
                             <tr>
                                <td class="fieldlabel">Sms Sent </td>
                                <td class="fieldarea">
                                    <label class="checkbox-inline">
                                    <input type="checkbox" ng-model="OnlineClass.@General_OnlineClass.Property_SmsSent"  />
                                    </label>
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Check Sms Sent if required." data-toggle="tooltip"></i></span></td>
                             </tr>
                        
                            <tr>
                                <td class="fieldlabel">Remark </td>
                                <td class="fieldarea">
                                    <textarea type="text" ng-model="OnlineClass.@General_OnlineClass.Property_Remark" class="form-control" placeholder="Enter Remark"   />
                                    </textarea> 
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Remark if you need." data-toggle="tooltip"></i></span></td>
                            </tr>
                        
                             <tr>
                                <td class="fieldlabel">History </td>
                                <td class="fieldarea">
                                    <input type="text" ng-model="OnlineClass.@General_OnlineClass.Property_History" class="form-control" placeholder="Enter History"   />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter History." data-toggle="tooltip"></i></span></td>
                            </tr>
                             <tr>
                                <td class="fieldlabel">Is Deleted </td>
                                <td class="fieldarea">
                                    <label class="checkbox-inline">
                                    <input type="checkbox" ng-model="OnlineClass.@General_OnlineClass.Property_IsDeleted"  />
                                    </label>
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Check Is Deleted if required." data-toggle="tooltip"></i></span></td>
                             </tr>
                        
                   
                         <tr>
                            <td class="fieldlabel">Class Shift Section Map </td>
                            <td class="fieldarea">
                                <select ng-model="OnlineClass.@General_OnlineClass.Property_ClassShiftSectionMapId"
                                        ng-options="option.Id as option.Name for option in ClassShiftSectionMapList " ng-init="" class="form-control select-inline">
                                    <option value="" label="" class="">---Select One---</option>
                                </select>
                            </td>
                            <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Select Class Shift Section Map." data-toggle="tooltip"></i></span></td>
                        </tr>
                  

                            </tbody>
                        </table>
                    </div><!--Col end-->
                </div><!--Row end-->
            </div><!--Widget Body end-->
            <div class="widget-footer text-center">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <button ng-click="@(saveOnlineClass)()" class="btn btn-md btn-success"><span class="fa fa-save"></span> Save</button>
                     </div>
                </div>
            </div>
        </div>
      </div><!--view permission end-->
    </div>
</div><!--controller end-->



