
<!--File:Aca_CurriculumElectiveGroup List View-->
@using EMS.DataAccess.Data;
@{
    ViewBag.Title = "Curriculum Elective Group List";
    Layout = "~/Areas/Academic/Views/Shared/_LayoutAcademic.cshtml";
    
    // Angular Properties
    var id = Request.QueryString["id"];//ViewContext.RouteData.Values["id"];
    var CurriculumElectiveGroupId = (string) id == null?"0":(string)id;
    
    //WebApi link for single row 
    var getCurriculumElectiveGroupByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CurriculumElectiveGroupApi", action = "GetCurriculumElectiveGroupById", area = "Academic" });
    var getCurriculumElectiveGroupDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CurriculumElectiveGroupApi", action = "GetCurriculumElectiveGroupDataExtra", area = "Academic" });
    var saveCurriculumElectiveGroupUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CurriculumElectiveGroupApi", action = "SaveCurriculumElectiveGroup", area = "Academic" });
    var deleteCurriculumElectiveGroupByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CurriculumElectiveGroupApi", action = "GetDeleteCurriculumElectiveGroupById", area = "Academic" });

    //WebApi link for List
    var getPagedCurriculumElectiveGroupUrl = Url.HttpRouteUrl("DefaultApi", new {controller = "CurriculumElectiveGroupApi", action = "GetPagedCurriculumElectiveGroup", area = "Academic"});
    var getAllCurriculumElectiveGroupUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CurriculumElectiveGroupApi", action = "GetAllCurriculumElectiveGroup", area = "Academic" });
    var saveCurriculumElectiveGroupListUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CurriculumElectiveGroupApi", action = "SaveCurriculumElectiveGroupList", area = "Academic" });
    var getCurriculumElectiveGroupListDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "CurriculumElectiveGroupApi", action = "GetCurriculumElectiveGroupListDataExtra", area = "Academic" });

    var editCurriculumElectiveGroupByIdPageUrl = Url.Action("CurriculumElectiveGroupAddEdit", "CurriculumElectiveGroup", new { area = "Academic" });

    //Angular Function Name
    var getNewCurriculumElectiveGroup = "getNewCurriculumElectiveGroup";
    var saveCurriculumElectiveGroup = "saveCurriculumElectiveGroup";
    var deleteCurriculumElectiveGroupById = "deleteCurriculumElectiveGroupById";
    var deleteCurriculumElectiveGroupByObj = "deleteCurriculumElectiveGroupByObj";
    //for list
    var searchCurriculumElectiveGroupList = "searchCurriculumElectiveGroupList";
    var getPagedCurriculumElectiveGroupList = "getPagedCurriculumElectiveGroupList";
    var getAllCurriculumElectiveGroupList = "getAllCurriculumElectiveGroupList";
    var saveCurriculumElectiveGroupList = "saveCurriculumElectiveGroupList";
    var getCurriculumElectiveGroupListExtraData = "getCurriculumElectiveGroupListExtraData";

    var refreshPage = "loadPage()";
    
}
@section ScriptSection
{
    <script src="~/Areas/Academic/Views/CurriculumElectiveGroup/CurriculumElectiveGroupList.js"></script>
}


<div ng-controller="CurriculumElectiveGroupListCtrl"
     ng-init="Init(
      '@getPagedCurriculumElectiveGroupUrl'
     ,'@deleteCurriculumElectiveGroupByIdUrl'
     ,'@getCurriculumElectiveGroupListDataExtraUrl'
     ,'@saveCurriculumElectiveGroupListUrl'
     ,'@getCurriculumElectiveGroupByIdUrl'
     ,'@getCurriculumElectiveGroupDataExtraUrl'
     ,'@saveCurriculumElectiveGroupUrl'
     )">
    <div class="widget">

        <div class="widget-header bordered-bottom bordered-sky ">
            <i class="widget-icon fa fa-list bold  "></i>
            <span  class="widget-caption ">Manage Curriculum Elective Group </span>
              <div class="widget-buttons buttons-bordered no-padding-right">
                <span  class="widget-caption form-inline">
                    @*<span >Select Program</span>*@
                     <select ng-model="SelectedProgramId" ng-change="@(searchCurriculumElectiveGroupList)()" 
                        ng-options="option.Id as option.Name for option in ProgramList " ng-init="" class="form-control input-xs ">
                        <option value="" label="" class="">---Select All Program---</option>
                     </select>
                </span>
              </div>       
            <div class="widget-buttons buttons-bordered no-padding-right">
                <span  class="input-icon">
                    <input type="text" ng-model="SearchText" ng-Enter="@(searchCurriculumElectiveGroupList)()" class="form-control input-xs " id="glyphicon-search" placeholder="Search" style="">
                    <i class="glyphicon glyphicon-search blue"></i>
                </span>
            </div>
            <div class="widget-buttons no-padding-left">
                <a target="_blank" href="@editCurriculumElectiveGroupByIdPageUrl?id=0" class="btn btn-xs btn-success"><i class="fa fa-plus"></i> Add New</a>
                <button ng-click="@refreshPage" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i> Refresh</button>
            </div>
        </div>
        <div class="widget-body no-padding"  style="overflow:auto">
            <div class="table-footer no-print">
                @OptionControl()
            </div>
            <table class="table table-striped table-bordered table-hover">
                <thead class="bordered-blue">
                <tr>
                    <th class="text-center" style="display:none">
                        <input type="checkbox" ng-click="selectAll($event)">
                    </th>
                    <th class="text-center">SN</th>
                    <th class="text-center">Department</th>
                    <th class="text-center">Program</th>
                    <th class="text-center">ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Short Name</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
    
                <tr ng-repeat="row in CurriculumElectiveGroupList">
                    <td class="text-center" style="display:none">
                        <input type="checkbox" ng-model="row.@Aca_CurriculumElectiveGroup.Property_IsSelected" /> 
                    </td>
                    <td class="text-center">{{$index+1}}</td>
                    <td class="">{{row.DepartmentShortName}}</td>
                    <td class="">{{row.ProgramShortTitle}}</td>
                    <td class="">{{row.@Aca_CurriculumElectiveGroup.Property_Id}}</td>
                    <td class="">{{row.@Aca_CurriculumElectiveGroup.Property_Name}}</td>
                    <td class="">{{row.@Aca_CurriculumElectiveGroup.Property_ShortName}}</td>
                    <td class="text-center">
                        <a target="_blank" href="@(editCurriculumElectiveGroupByIdPageUrl)/?id={{row.Id}}" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i> Edit</a>
                        <button ng-click="@(deleteCurriculumElectiveGroupByObj)(row)" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>
                     
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="table-footer no-print">
                @OptionControl()
            </div>
        </div>
    </div>
</div>

@helper  OptionControl()
{
    <div class="row no-print">
        <div class="col-sm-4">
            <div class="form-inline pull-left">
                <div class="form-group">
                    <label ng-hide="totalServerItems==0">(Showing {{totalServerItems*(PageNo-1)+1}}-{{totalServerItems*PageNo}} of {{totalItems}})</label>
                    <label ng-show="totalServerItems==0" class="text-danger">No Data Found!</label>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-inline pull-right">
                <div class="form-group">
                    <label>Page Size</label>
                    <input ng-model="PageSize" ng-enter="changePageSize()" class="form-control input-opt" autocomplete="on" placeholder="Page Size" type="number" min="1">
                </div>
                <div class="form-group">
                    <label>Page No.</label>
                    <input ng-model="PageNo" ng-enter="changePageNo()" class="form-control input-opt" autocomplete="on" placeholder="Page No" type="number" min="1">
                    <label>of {{totalItems/PageSize| number:0}}</label>
                </div>
            </div>
        </div>
    </div>
}



