
<!--File:Acnt_ParticularName List View-->
@using EMS.DataAccess.Data;
@using EMS.Framework.Utils
@{
    ViewBag.Title = "Accounts: Particular Name List";
    Layout = "~/Areas/Accounts/Views/Shared/_LayoutAccounts.cshtml";
    
    // Angular Properties
    var id = Request.QueryString["id"];//ViewContext.RouteData.Values["id"];
    var ParticularNameId = (string) id == null?"0":(string)id;
    
    //WebApi link for single row 
    var getParticularNameByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ParticularNameApi", action = "GetParticularNameById", area = "Accounts" });
    var getParticularNameDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ParticularNameApi", action = "GetParticularNameDataExtra", area = "Accounts" });
    var saveParticularNameUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ParticularNameApi", action = "SaveParticularName", area = "Accounts" });
    var deleteParticularNameByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ParticularNameApi", action = "GetDeleteParticularNameById", area = "Accounts" });

    //WebApi link for List
    var getPagedParticularNameUrl = Url.HttpRouteUrl("DefaultApi", new {controller = "ParticularNameApi", action = "GetPagedParticularName", area = "Accounts"});
    var getAllParticularNameUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ParticularNameApi", action = "GetAllParticularName", area = "Accounts" });
    var saveParticularNameListUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ParticularNameApi", action = "SaveParticularNameList", area = "Accounts" });
    var getParticularNameListDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ParticularNameApi", action = "GetParticularNameListDataExtra", area = "Accounts" });

    var editParticularNameByIdPageUrl = Url.Action("ParticularNameAddEdit", "ParticularName", new { area = "Accounts" });

    //Angular Function Name
    var getNewParticularName = "getNewParticularName";
    var saveParticularName = "saveParticularName";
    var deleteParticularNameById = "deleteParticularNameById";
    var deleteParticularNameByObj = "deleteParticularNameByObj";
    //for list
    var searchParticularNameList = "searchParticularNameList";
    var getPagedParticularNameList = "getPagedParticularNameList";
    var getAllParticularNameList = "getAllParticularNameList";
    var saveParticularNameList = "saveParticularNameList";
    var getParticularNameListExtraData = "getParticularNameListExtraData";

    var refreshPage = "loadPage()";
    
}
@section ScriptSection
{
    <script src="~/Areas/Accounts/Views/ParticularName/ParticularNameList.js?v=2"></script>
}


<div ng-controller="ParticularNameListCtrl"
     ng-init="Init(
      '@getPagedParticularNameUrl'
     ,'@deleteParticularNameByIdUrl'
     ,'@getParticularNameListDataExtraUrl'
     ,'@saveParticularNameListUrl'
     ,'@getParticularNameByIdUrl'
     ,'@getParticularNameDataExtraUrl'
     ,'@saveParticularNameUrl'
     )">
    <div class="widget">

        <div class="widget-header bordered-bottom bordered-sky ">
            <i class="widget-icon fa fa-list bold  "></i>
            <span class="widget-caption ">Manage Particular Name </span>
            <div class="widget-buttons buttons-bordered no-padding-right">
                <span class="widget-caption form-inline">
                    @*<span>Particular Type</span>*@
                    <select ng-model="SelectedParticularEnumId" ng-change="@(searchParticularNameList)()" 
                            ng-options="option.Id as option.Name for option in ParticularTypeEnumList " ng-init="" class="form-control input-xs ">
                        <option value="" label="" class="">---Select Any Particular Type---</option>
                    </select>
                </span>
            </div>  
            <div class="widget-buttons buttons-bordered no-padding-right">
                <span class="widget-caption form-inline">
                    @*<span>Status</span>*@
                    <select ng-model="SelectedStatusEnumId" ng-change="@(searchParticularNameList)()" 
                            ng-options="option.Id as option.Name for option in StatusEnumList " ng-init="" class="form-control input-xs ">
                        <option value="" label="" class="">---Select Any Status---</option>
                    </select>
                </span>
            </div>  
            <div class="widget-buttons buttons-bordered no-padding-right">
                <span class="input-icon">
                    <input type="text" ng-model="SearchText" ng-Enter="@(searchParticularNameList)()" class="form-control input-xs " id="glyphicon-search" placeholder="Search" style="">
                    <i class="glyphicon glyphicon-search blue"></i>
                </span>
            </div>
            <div class="widget-buttons no-padding-left">
                <a target="_blank" href="@editParticularNameByIdPageUrl?id=0" class="btn btn-xs btn-success"><i class="fa fa-plus"></i> Add New</a>
                <button ng-click="@(searchParticularNameList)()" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i> Refresh</button>
            </div>
        </div>
        <div class="widget-body no-padding"  style="overflow:auto">
            <div class="table-footer no-print">
                @OptionControl()
            </div>
            <table class="table table-striped table-bordered table-hover">
                <thead class="bordered-blue">
                <tr>
                    <th class="text-center" style="display:none">
                        <input type="checkbox" ng-click="selectAll($event)">
                    </th>
                    <th class="text-center">SN</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Short Name</th>
                   
                    <!--th class="text-center">Status Enum Id</th-->
                    <th class="text-center">Allow Type</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Is Locked</th>
                    <!--th class="text-center">Particular Type Enum Id</th-->
                    <th class="text-center">Particular Type</th>
                    <th class="text-center">Default Value</th>
                    <th class="text-center">Order No</th>
                    <th class="text-center no-print">Action</th>
                </tr>
                </thead>
                <tbody>
    
                <tr ng-repeat="row in ParticularNameList">
                    <td class="text-center" style="display:none">
                        <input type="checkbox" ng-model="row.@Acnt_ParticularName.Property_IsSelected" /> 
                    </td>
                    <td class="text-center">{{$index+1}}</td>
                    <td class="">{{row.@Acnt_ParticularName.Property_Name}}</td>
                    <td class="">{{row.@Acnt_ParticularName.Property_ShortName}}</td>
                   
                    <td class="">{{row.@Acnt_ParticularName.Property_ManualEntryAllowType}}</td>
                    <!--td class="">{{row.@Acnt_ParticularName.Property_StatusEnumId}}</td-->
                    <td class="">{{row.@Acnt_ParticularName.Property_Status}}</td>
                    <td class="">{{row.@Acnt_ParticularName.Property_IsLocked}}</td>
                    <!--td class="">{{row.@Acnt_ParticularName.Property_ParticularTypeEnumId}}</td-->
                    <td class="">{{row.@Acnt_ParticularName.Property_ParticularType}}</td>
                    <td class="">{{row.@Acnt_ParticularName.Property_DefaultValue}}</td>
                    <td class="">{{row.@Acnt_ParticularName.Property_OrderNo}}</td>
                    <td class="text-center no-print">
                        
                        @if (HttpUtil.IsSupperAdmin())
                        {
                            <a target="_blank" href="@(editParticularNameByIdPageUrl)/?id={{row.Id}}" 
                               class="btn btn-xs btn-primary">
                                <i class="fa fa-edit"></i> Edit
                            </a>
                            <button ng-click="@(deleteParticularNameById)(row)" 
                                    class="btn btn-xs btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        }
                        else
                        {
                            <a target="_blank" href="@(editParticularNameByIdPageUrl)/?id={{row.Id}}" 
                               ng-hide="row.@Acnt_ParticularName.Property_IsLocked"
                               class="btn btn-xs btn-primary">
                                <i class="fa fa-edit"></i> Edit
                            </a>
                            <button ng-click="@(deleteParticularNameById)(row)" 
                                    ng-hide="row.@Acnt_ParticularName.Property_IsLocked"
                                    class="btn btn-xs btn-danger">
                                <i class="fa fa-trash"></i>
                            </button>
                        }
                        
                        

                    </td>
                </tr>
                </tbody>
            </table>
            <div class="table-footer no-print">
                @OptionControl()
            </div>
        </div>
    </div>
</div>

@helper  OptionControl()
{
    <div class="row no-print">
        <div class="col-sm-12">
            <div class="form-inline pull-left">
                <div class="form-group">
                    <label ng-hide="totalServerItems==0">Showing {{totalServerItems*(PageNo-1)+1}} to {{totalServerItems*PageNo}} of {{totalItems}} </label>
                    <label ng-show="totalServerItems==0" class="text-danger">No Data Found!</label>
                </div>
            </div>
            <div class="form-inline pull-right">
                <div class="form-group">
                    <label>Page Size</label>
                    <input ng-model="PageSize" ng-enter="changePageSize()" class="form-control input-opt" autocomplete="on" placeholder="Page Size" type="number" min="1">
                </div>
                <div class="form-group">
                    <label>Page No.</label>
                    <input ng-model="PageNo" ng-enter="changePageNo()" class="form-control input-opt" autocomplete="on" placeholder="Page No" type="number" min="1">
                    <label>of {{totalItems/PageSize| number:0}}</label>
                </div>
                <div class="form-group">
                    <button ng-click="prev()" ng-hide="totalItems == 0 || PageNo <= 1" class="btn btn-info btn-opt" type="button"><i class="fa fa-angle-double-left"></i>Previous&nbsp;</button>
                    <button ng-click="next()" ng-hide="totalItems == 0 || PageNo >= totalPage" class="btn btn-info btn-opt" type="button">&nbsp;Next&nbsp;<i class="fa fa-angle-double-right"></i></button>
                </div>
            </div>
        </div>
    </div>
}



