@using EMS.DataAccess.Data
@using EMS.Web.UI.Areas.Academic.Controllers.WebApi


@{
    ViewBag.Title = "Academic: Repeater Course Registration Panel";

    //WebApi link for List
    var getRepeaterRegDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "RepeaterCourseRegistrationApi", action = "GetRepeaterRegClassDataExtra", area = "Academic" });
    var getRepeaterRegLevelTermWiseStudentListByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "RepeaterCourseRegistrationApi", action = "GetRepeaterRegLevelTermWiseStudentListById", area = "Academic" });
    var saveRegisterRepeaterStudentListUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "RepeaterCourseRegistrationApi", action = "SaveRegisterRepeaterStudentList", area = "Academic" });

    var editStudentByIdAcademicPageUrl = Url.Action("StudentAddEdit", "Student", new { area = "Academic" });
    //Angular Function Name

    var getRepeaterRegLevelTermWiseStudentListById = "getRepeaterRegLevelTermWiseStudentListById";
    var registerRepeaterStudentList = "registerRepeaterStudentList";
    var refreshPage = "loadPage()";

}
@section ScriptSection
{

    <script src="~/Areas/Academic/Views/CourseRegistration/RepeaterCourseRegistration.js"></script>
}

<style>
    .bgred{
        background-color: orangered
    }
    .bggreen{
        background-color: lawngreen
    }
</style>


<div ng-controller="RepeaterCourseRegistrationCtrl"
     ng-init="Init(
      '@getRepeaterRegDataExtraUrl'
      ,'@getRepeaterRegLevelTermWiseStudentListByIdUrl'
      ,'@saveRegisterRepeaterStudentListUrl'
     )">

   
    <div class="widget" show="ResultComponentSettingSectionAB.length>0">
        <div class="widget-header bordered-bottom bordered-sky ">
            <i class="widget-icon fa fa-list bold  "></i>
            <span class="widget-caption "><b> </b></span>
        </div>
        <div class="widget-body">
            <div class="row">
                <!--text type-->
                <div class="col-md-6 col-md-offset-3">
                    <div class="widget" ng-show1="LevelTermWiseStudentList.length>0">
                        <div class="widget-header bordered-bottom bordered-sky ">
                            <i class="widget-icon fa fa-list bold  "></i>
                            <span class="widget-caption "><b>Select Below Items To Start </b></span>
                        </div>
                        <div class="widget-body no-padding">
                            <table class="table table-bordered ">
                                <tr>
                                    <td>Select Semester</td>
                                    <td>
                                        <select ng-model="SelectedSemesterId"
                                                ng-change="clearRegistration();semesterFilter()"
                                                ng-options="option.Id as option.Name for option in SemesterList " ng-init="" class="form-control">
                                            <option value="" label="" class="">---Select Semester---</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Select Program </td>
                                    <td>
                                        <select ng-model="SelectedProgramId"
                                                ng-change="clearRegistration()"
                                                ng-options="option.Id as option.ShortTitle for option in ProgramList | filter:{SemesterDurationEnumId:SelectedSemester.SemesterDurationEnumId}" ng-init="" class="form-control">
                                            <option value="" label="" class="">---Select Program ---</option>
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td class="text-center" colspan="2">
                                        <button ng-disabled="SelectedProgramId==null" ng-click="@(getRepeaterRegLevelTermWiseStudentListById)()" class="btn btn-xs btn-success"><i class="fa fa-search"></i> Load Level Drop Students</button>
                                    </td>
                                </tr>

                            </table>

                        </div>
                    </div>
                </div>

            </div>
            
            <div ng-Hide="!HasError " class="alert alert-danger fade in radius-bordered alert-shadowed">
                <button ng-click="HasError=false" class="close" data-dismiss1="alert">×</button>
                <i class="fa-fw fa fa-warning"></i>
                <strong>Attention Please!</strong> {{ErrorMsg}}
            </div>
            <div class="alert alert-success fade in radius-bordered alert-shadowed text-center" ng-show="IsRepeaterRegistrationSuccessfull">
                <span style="font-weight: bold">Selected Student's Repeater Registration is Successful.</span>
            </div>
            <div class="row">
                <!--text type-->
                <div class="col-md-12">
                    <div class="widget" ng-show="LevelTermWiseStudentList.length>0">
                        <div class="widget-header bordered-bottom bordered-sky ">
                            <i class="widget-icon fa fa-list bold  "></i>
                            <span class="widget-caption "><b>Repeater Student List </b></span>
                            <div class="widget-buttons no-padding-left">
                                <button ng-hide="IsAllUnselected" ng-click="changeAllSelection()"
                                        class="btn btn-xs btn-danger">
                                    <i class="fa fa-times"></i> Un-Select All Courses
                                </button>
                                <button ng-show="IsAllUnselected" ng-click="changeAllSelection()"
                                        class="btn btn-xs btn-success">
                                    <i class="fa fa-check"></i> Select All Courses
                                </button>
                            </div>

                        </div>
                        
                        <div style="margin-bottom:10px" ng-repeat="levelTerm in LevelTermWiseStudentList">
                            
                            <div ng-show="levelTerm.RegistrationStudentListJson.length>0">
                                
                                <div class="widget-header bg-darkgray bordered-bottom">
                                    <table class="course-info-table" style="width: 100%;">
                                        <tr>
                                            <td class="text-center">
                                                <span class="widget-caption" style="font-weight: bold !important;margin: auto">
                                                    {{levelTerm.LevelTermName}}
                                                </span>
                                                <button style="margin: 5px" class="pull-right" ng-click="removeLevelTerm(levelTerm)"><i style="color: red" class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                                <table class="table table-striped table-bordered">
                                    <thead class="bordered-blue">
                                    <tr>
                                        <th class="text-center" style="width: 35px;">SN</th>

                                        <th class="text-center" style="width: 120px;">Student ID</th>
                                        <th class="text-left" style="width: 250px;" >Name</th>
                                        <th class="text-center">Courses To be Taken</th>
                                        <th class="text-center no-print" style="width: 65px;">Action</th>
                                    </tr>
                                    </thead>
                                    <tr ng-repeat="student in levelTerm.RegistrationStudentListJson">
                                        <td>{{$index+1}}</td>
                                        <td class="text-right" style="width: 120px;">
                                            <a target="_blank" href="@(editStudentByIdAcademicPageUrl)/?id={{student.AccountId}}&stdId={{student.StudentId}}&un={{student.UserName}}" class="text-bold"> {{student.UserName}}</a>
                                        </td>
                                        <td class="text-right">
                                            <a target="_blank" href="@(editStudentByIdAcademicPageUrl)/?id={{student.AccountId}}&stdId={{student.StudentId}}&un={{student.UserName}}" class="text-bold"> {{student.FullName}}</a>
                                        </td>
                                        <td>
                                            <table class="table table-striped table-bordered table-hover" ng-show="student.RegistrationCourseListJson.length>0">
                                                <tr ng-repeat="course in student.RegistrationCourseListJson">
                                                    <td ng-class="{bgred: course.HasError,bggreen: course.IsRegistrationSuccessful}">{{course.CourseCode}} : {{course.CourseName}} ({{course.SectionName}}) [Cr. {{course.CourseCredit}}]</td>
                                                    <td ng-class="{bgred: course.HasError,bggreen: course.IsRegistrationSuccessful}" style="width: 155px" ng-hide="course.IsRegistrationSuccessful">
                                                        <span ng-show="course.StatusEnumId == @((byte)RepeaterCourseRegistrationApiController.StatusEnum.Registrable)" style="color: green">{{course.Status}}</span>
                                                        <span ng-show="course.StatusEnumId == @((byte)RepeaterCourseRegistrationApiController.StatusEnum.TakenInThisSemester)" class="warning">{{course.Status}}</span>
                                                        <span ng-show="course.StatusEnumId == @((byte)RepeaterCourseRegistrationApiController.StatusEnum.CourseNotOffered)" style="color: red">{{course.Status}}</span>
                                                    </td>
                                                    <td ng-class="{bggreen: course.IsRegistrationSuccessful}" style="width: 155px" ng-show="course.IsRegistrationSuccessful">
                                                        Registration Successful
                                                    </td>
                                                    <td ng-class="{bgred: course.HasError,bggreen: course.IsRegistrationSuccessful}" style="width: 30px" align="center">
                                                        <input ng-change="onChangeSelection()" ng-show="course.StatusEnumId == @((byte)RepeaterCourseRegistrationApiController.StatusEnum.Registrable)" style="color: green" type="checkbox" ng-model="course.IsSelected" />
                                                        <span ng-class="{bggreen: course.IsRegistrationSuccessful}" ng-show="course.IsRegistrationSuccessful"><i class="fa fa-check"></i></span>
                                                    </td>
                                                </tr>
                                            </table>
                                            <span ng-hide="student.RegistrationCourseListJson.length>0" style="color: red; font-weight: bold;margin: auto"> No Failed Course Found.</span>
                                        </td>
                                        <td class="text-center no-print" style="margin: auto">
                                            <button ng-click="removeStudent(student,levelTerm)" class="btn btn-xs btn-danger icon-only btn-block"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                </table>

                            </div>
                            
                        </div>

                        <div class="table-footer no-print" style="text-align: center">
                            <button ng-disabled="!IsRegistraAble" ng-click="@(registerRepeaterStudentList)()" class="btn btn-lg btn-success"><span class="fa fa-save"></span> Confirm Repeater Registration</button>
                        </div>
                    </div>

                </div>
               
            </div>
        </div>
    </div>
</div>
