
<!--File:HR_Payroll Add/Edit View-->
@using EMS.DataAccess.Data;
@{
    ViewBag.Title = "HR: Add/Edit Payroll";
    Layout = "~/Areas/HR/Views/Shared/_LayoutHR.cshtml";
    // Angular Properties
    var id = Request.QueryString["id"];//ViewContext.RouteData.Values["id"];
    var PayrollId = (string) id == null?"0":(string)id;
    
    //HR_Payroll WebApi Single Row link   
    var getPayrollByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "PayrollApi", action = "GetPayrollById", area = "HR" });
    var getPayrollDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "PayrollApi", action = "GetPayrollDataExtra", area = "HR" });
    var savePayrollUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "PayrollApi", action = "SavePayroll", area = "HR" });
    var deletePayrollByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "PayrollApi", action = "GetDeletePayrollById", area = "HR" });

    //HR_Payroll WebApi List link 
    var getPagedPayrollUrl = Url.HttpRouteUrl("DefaultApi", new {controller = "PayrollApi", action = "GetPagedPayroll", area = "HR"});
    var getAllPayrollUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "PayrollApi", action = "GetAllPayroll", area = "HR" });
    var savePayrollListUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "PayrollApi", action = "SavePayrollList", area = "HR" });
    var getPayrollListDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "PayrollApi", action = "GetPayrollListDataExtra", area = "HR" });

    var editPayrollByIdPageUrl = Url.Action("PayrollAddEdit", "Payroll", new { area = "HR" });
    var listPayrollPageUrl = Url.Action("PayrollList", "Payroll", new { area = "HR" });
    
    //HR_Payroll Angular Functions
    string getPayrollById="getPayrollById";
    var savePayroll = "savePayroll";
    var getNewPayroll = "getNewPayroll";
    var refreshPage = "loadPage()";
    string deletePayrollById="deletePayrollById";
    string loadPayrollExtraData="loadPayrollExtraData";
}
@section ScriptSection
{
    <script src="~/Areas/HR/Views/Payroll/PayrollAddEdit.js"></script>
}

<div id="PayrollAddEdit" class="row" ng-controller="PayrollAddEditCtrl" ng-init="Init(
      '@PayrollId'
      ,'@getPayrollByIdUrl'
      ,'@getPayrollDataExtraUrl'
      ,'@savePayrollUrl'
      ,'@deletePayrollByIdUrl')">
      
    <div class="col-lg-12 col-sm-12 col-xs-12">
     <div ng-Hide="!HasError ||ErrorMsg==''" class="alert alert-danger fade in radius-bordered alert-shadowed">
            <button ng-click="HasError=false" class="close" data-dismiss1="alert">×</button>
            <i class="fa-fw fa fa-warning"></i>
            <strong>Attention Please!</strong> {{ErrorMsg}}
      </div>
      <div ng-show="HasViewPermission">
        <div class="widget" >
            <div class="widget-header bordered-bottom bordered-sky ">
                <i class="widget-icon fa fa-edit bold  "></i>
                <span class="widget-caption ">
                    Add/Edit
                </span>
                <div class="widget-buttons buttons-bordered no-padding-right" style="display: none">
                    <span class="input-icon">
                        <input type="text" ng-model="PayrollId" ng-Enter="@(getPayrollById)()" class="form-control input-xs " id="glyphicon-search" placeholder="Search" >
                        <i class="glyphicon glyphicon-search blue"></i>
                    </span>
                  
                </div>
                <div class="widget-buttons no-padding-left">
                    <button ng-click="@(getNewPayroll)()" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Add New</button>
                    <a href="@(listPayrollPageUrl)" class="btn btn-blue btn-xs"><i class="fa fa-arrow-left" target="_blank"></i> Back To List</a>
                    <button ng-click="@refreshPage" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i> Refresh</button>
                </div>
            </div><!--Widget Header end-->
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-6 table-form">
                        <table class="form" width="100%" border="0" cellspacing="2" cellpadding="3">
                            <tbody>
                                <!--dropdown option for EnumList-->
                                <tr>
                                    <td class="fieldlabel">Month </td>
                                    <td class="fieldarea">
                                        <select ng-model="Payroll.@HR_Payroll.Property_MonthEnumId" ng-options="option.Id as option.Name for option in MonthEnumList" title="Select Month" ng-init="" class="form-control">
                                            <option value="" label="" class="">---Select One---</option>
                                        </select>
                                    </td>
                                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Select Month." data-toggle="tooltip"></i></span></td>
                                </tr>
                                <tr>
                                    <td class="fieldlabel">Year </td>
                                    <td class="fieldarea">
                                        <input type="number" ng-model="Payroll.@HR_Payroll.Property_Year" class="form-control" placeholder="Enter Year" />
                                    </td>
                                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Year." data-toggle="tooltip"></i></span></td>
                                </tr>
                                <tr>
                                    <td class="fieldlabel">Is Current </td>
                                    <td class="fieldarea">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" ng-model="Payroll.@HR_Payroll.Property_IsCurrent" />
                                        </label>
                                    </td>
                                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Check Is Current if required." data-toggle="tooltip"></i></span></td>
                                </tr>

                                <tr>
                                    <td class="fieldlabel">Is Publish </td>
                                    <td class="fieldarea">
                                        <label class="checkbox-inline">
                                            <input type="checkbox" ng-model="Payroll.@HR_Payroll.Property_IsPublish" />
                                        </label>
                                    </td>
                                    <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Check Is Publish if required." data-toggle="tooltip"></i></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div><!--Col end-->
                    
                </div><!--Row end-->
            </div><!--Widget Body end-->
            <div class="widget-footer text-center">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <button ng-click="@(savePayroll)()" class="btn btn-md btn-success"><span class="fa fa-save"></span> Save</button>
                    </div>
                </div>
                <div class="row" ng-show="Payroll.@HR_Payroll.Property_Id !=0">
                    <div class="col-md-12 table-form">
                        <table class="form" width="100%" border="0" cellspacing="2" cellpadding="3">
                            <tbody>
                            <tr>
                                <td style="text-align: left" class="fieldlabel" colspan="3">History </td>
                            </tr>
                            <tr>
                                <td class="fieldarea" style="text-align: center">
                                    <span ng-bind-html="renderHtml(Payroll.@HR_Payroll.Property_History)"></span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
      </div><!--view permission end-->
    </div>
</div><!--controller end-->



