
<!--File:HR_Position List View-->
@using EMS.DataAccess.Data;
@using EMS.Framework.Permissions
@using EMS.Framework.Utils
@{
    ViewBag.Title = "Position List";
    Layout = "~/Areas/HR/Views/Shared/_LayoutHR.cshtml";
    
    // Angular Properties
    var id = Request.QueryString["id"];//ViewContext.RouteData.Values["id"];
    var PositionId = (string) id == null?"0":(string)id;
    
    //WebApi link for single row 
    var getPositionByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "PositionApi", action = "GetPositionById", area = "HR" });
    var getPositionDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "PositionApi", action = "GetPositionDataExtra", area = "HR" });
    var savePositionUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "PositionApi", action = "SavePosition", area = "HR" });
    var deletePositionByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "PositionApi", action = "GetDeletePositionById", area = "HR" });

    //WebApi link for List
    var getPagedPositionUrl = Url.HttpRouteUrl("DefaultApi", new {controller = "PositionApi", action = "GetPagedPosition", area = "HR"});
    var getAllPositionUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "PositionApi", action = "GetAllPosition", area = "HR" });
    var savePositionListUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "PositionApi", action = "SavePositionList", area = "HR" });
    var getPositionListDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "PositionApi", action = "GetPositionListDataExtra", area = "HR" });

    var editPositionByIdPageUrl = Url.Action("PositionAddEdit", "Position", new { area = "HR" });

    //Angular Function Name
    var getNewPosition = "getNewPosition";
    var savePosition = "savePosition";
    var deletePositionById = "deletePositionById";
    var deletePositionByObj = "deletePositionByObj";
    //for list
    var searchPositionList = "searchPositionList";
    var getPagedPositionList = "getPagedPositionList";
    var getAllPositionList = "getAllPositionList";
    var savePositionList = "savePositionList";
    var loadPositionListExtraData = "loadPositionListExtraData";

    var refreshPage = "loadPage()";
    
}
@section ScriptSection
{
    <script src="~/Areas/HR/Views/Position/PositionList.js"></script>
}


<div ng-controller="PositionListCtrl"
     ng-init="Init(
      '@getPagedPositionUrl'
     ,'@deletePositionByIdUrl'
     ,'@getPositionListDataExtraUrl'
     )">
    <div class="widget">

        <div class="widget-header bordered-bottom bordered-sky ">
            <i class="widget-icon fa fa-list bold  "></i>
            <span class="widget-caption ">Manage Position </span>
            <div class="widget-buttons buttons-bordered no-padding-right form-inline">
                <select ng-model="SelectedSalaryTemplateGroupId" ng-change="@(searchPositionList)()" class="form-control input-xs">
                    <option value="-1">---Any Salary Group---</option>
                    <option style="color: red" value="0">No Salary Group Assigned</option>
                    <option ng-repeat="option in SalaryTemplateGroupList" ng-value="option.Id">{{option.Name}}</option>
                </select>
            </div>
            <div class="widget-buttons buttons-bordered no-padding-right form-inline">
                <select ng-model="SearchByJobClassEnumId" ng-change="@(searchPositionList)()" ng-options="option.Id as option.Name for option in JobClassEnumList" class="form-control input-xs">
                    <option value="">---Select All Class---</option>
                </select>
            </div>
            <div class="widget-buttons buttons-bordered no-padding-right">
                <span class="input-icon">
                    <input type="text" ng-model="SearchText" ng-Enter="@(searchPositionList)()" class="form-control input-xs " id="glyphicon-search" placeholder="Search" style="">
                    <i class="glyphicon glyphicon-search blue"></i>
                </span>
            </div>
            <div class="widget-buttons no-padding-left">
                <a target="_blank" href="@editPositionByIdPageUrl?id=0" class="btn btn-xs btn-success"><i class="fa fa-plus"></i> Add New</a>
                <button ng-click="@refreshPage" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i> Refresh</button>
            </div>
        </div>
        <div class="widget-body no-padding">
            <div style="" class="table-footer no-print">
                @OptionControl()
            </div>
            <table class="table table-striped table-bordered table-hover">
                <thead class="bordered-blue">
                    <tr>
                        <th class="text-center">SN</th>
                        <th class="text-center">Name</th>
                        <th class="text-center">Short Name</th>
                        <th class="text-center">Priority</th>
                        <th class="text-center">Job Class</th>
                        @if (PermissionUtil.HasPermission(PermissionCollection.HumanResourceArea.PositionManager.CanEdit)
            || PermissionUtil.HasPermission(PermissionCollection.HumanResourceArea.PositionManager.CanDelete))
                        {
                            <th class="text-center">Action</th>
                        }
                    </tr>

                </thead>
                <tbody>
                <tr ng-repeat="row in PositionList">
                    <td>{{$index+1}}</td>
                    <td class="">{{row.@HR_Position.Property_Name}}</td>
                    <td class="">{{row.@HR_Position.Property_ShortName}}</td>
                    <td class="">{{row.@HR_Position.Property_Priority}}</td>
                    <td class="">{{row.@HR_Position.Property_JobClass}}</td>
                    <td class="text-center">
                        @if (PermissionUtil.HasPermission(PermissionCollection.HumanResourceArea.PositionManager.CanDelete))
                        {
                            <button ng-click="@(deletePositionByObj)(row)" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i> Delete</button>
                        }
                        @if (PermissionUtil.HasPermission(PermissionCollection.HumanResourceArea.PositionManager.CanEdit))
                        {
                            <a target="_blank" href="@(editPositionByIdPageUrl)/?id={{row.Id}}" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i> Edit</a>
                        }
                    </td>
                </tr>
                </tbody>
            </table>
            <div style="" class="table-footer no-print">
                @OptionControl()
            </div>
        </div>
    </div>
</div>

@helper  OptionControl()
{
    <div class="row no-print">
        <div class="col-sm-4">
            <div class="form-inline pull-left">
                <div class="form-group">
                    <label ng-hide="totalServerItems==0">(Showing {{totalServerItems*(PageNo-1)+1}}-{{totalServerItems*PageNo}} of {{totalItems}})</label>
                    <label ng-show="totalServerItems==0" class="text-danger">No Data Found!</label>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-inline pull-right">
                <div class="form-group">
                    <label>Page Size</label>
                    <input ng-model="PageSize" ng-enter="changePageSize()" class="form-control input-opt" autocomplete="on" placeholder="Page Size" type="number" min="1">
                </div>
                <div class="form-group">
                    <label>Page No.</label>
                    <input ng-model="PageNo" ng-enter="changePageNo()" class="form-control input-opt" autocomplete="on" placeholder="Page No" type="number" min="1">
                    <label>of {{totalItems/PageSize| number:0}}</label>
                </div>
            </div>
        </div>
    </div>
}



