
<!--File:Acnt_SemWiseScholarship List View-->
@using EMS.DataAccess.Data;
@using EMS.Web.UI.Areas.Admission.Controllers.WebApi
@{
    ViewBag.Title = "1st Semester Scholarships";
    Layout = "~/Areas/Admission/Views/Shared/_LayoutAdmission.cshtml";

    // Angular Properties
    var id = Request.QueryString["id"];//ViewContext.RouteData.Values["id"];
    var SemWiseScholarshipId = (string)id == null ? "0" : (string)id;

    var userName = Request.QueryString["un"];//ViewContext.RouteData.Values["id"];
    var userNameStr = (string)userName == null ? "" : (string)userName;



    //WebApi link for single row

    var getStudentInfoByUserNameUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "IndividualStudentApi", action = "GetStudentInfoByUserName", area = "Admission" });
    var getSemWiseScholarshipByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "IndividualStudentApi", action = "GetSemWiseScholarshipById", area = "Admission" });
    var getSemWiseScholarshipDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "IndividualStudentApi", action = "GetSemWiseScholarshipDataExtra", area = "Admission" });
    var saveSemWiseScholarshipUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "IndividualStudentApi", action = "SaveIndividualStudentScholarship", area = "Admission" });
    var deleteSemWiseScholarshipByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "IndividualStudentApi", action = "GetDeleteIndividualStudentScholarshipById", area = "Admission" });

    var getTrashIndividualStudentScholarshipByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "IndividualStudentApi", action = "GetTrashIndividualStudentScholarshipById", area = "Admission" });
    var getLockOrUnlockIndividualStudentScholarshipByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "IndividualStudentApi", action = "GetLockOrUnlockIndividualStudentScholarshipById", area = "Admission" });

    var getApplyOrCancelScholarshipForIndividualStudentByScholarshipIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "IndividualStudentApi", action = "GetApplyOrCancelScholarshipForIndividualStudentByScholarshipId", area = "Admission" });
    var saveMarkAsApplyScholarshipForIndividualStudentForGlobalUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "IndividualStudentApi", action = "SaveMarkAsApplyScholarshipForIndividualStudentForGlobal", area = "Admission" });



    var saveLockIndividualStudentScholarshipByIdForGlobalUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "IndividualStudentApi", action = "SaveLockIndividualStudentScholarshipByIdForGlobal", area = "Admission" });
    var saveUnlockIndividualStudentScholarshipByIdForGlobalUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "IndividualStudentApi", action = "SaveUnlockIndividualStudentScholarshipByIdForGlobal", area = "Admission" });
    var saveTrashIndividualStudentScholarshipListForGlobalUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "IndividualStudentApi", action = "SaveTrashIndividualStudentScholarshipListForGlobal", area = "Admission" });
    var saveUnTrashIndividualStudentScholarshipListForGlobalUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "IndividualStudentApi", action = "SaveUnTrashIndividualStudentScholarshipListForGlobal", area = "Admission" });

    var getScholarshipCreateFromSscAndHscResultByStudentIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "IndividualStudentApi", action = "GetScholarshipCreateFromSscAndHscResultByStudentId", area = "Admission" });

    

//WebApi link for List
var getPagedSemWiseScholarshipUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "IndividualStudentApi", action = "GetPagedIndividualStudentScholarship", area = "Admission" });
    var getAllSemWiseScholarshipUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "IndividualStudentApi", action = "GetAllSemWiseScholarship", area = "Admission" });
    var saveSemWiseScholarshipListUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "IndividualStudentApi", action = "SaveSemWiseScholarshipList", area = "Admission" });
    var getSemWiseScholarshipListDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "IndividualStudentApi", action = "GetSemWiseScholarshipListDataExtra", area = "Admission" });

    var IndividualStudentSettingsList2 = Url.Action("IndividualStudentSettingsList2", "SemWiseScholarship", new { area = "Admission" });
    var editStudentByIdAdmissionPageUrl = Url.Action("StudentProfile", "Student", new { area = "Admission" });


    //Angular Function Name
    var getNewSemWiseScholarship = "getNewSemWiseScholarship";
    var saveSemWiseScholarship = "saveSemWiseScholarship";
    var deleteSemWiseScholarshipById = "deleteSemWiseScholarshipById";
    var deleteSemWiseScholarshipByObj = "deleteSemWiseScholarshipByObj";
    //for list
    var searchSemWiseScholarshipList = "searchSemWiseScholarshipList";
    var getPagedSemWiseScholarshipList = "getPagedSemWiseScholarshipList";
    var getAllSemWiseScholarshipList = "getAllSemWiseScholarshipList";
    var saveSemWiseScholarshipList = "saveSemWiseScholarshipList";
    var getSemWiseScholarshipListExtraData = "getSemWiseScholarshipListExtraData";

    var refreshPage = "loadPage()";

}
@section ScriptSection
{
    <script src="~/Areas/Admission/Views/SemWiseScholarship/IndividualStudentSettingsList.js?v=2"></script>
    <script>
        $(document).ready(function () {
            //console.log("ready!");
            collapseSidebar();
        });
    </script>
}


<div ng-controller="SemWiseScholarshipListForFirstSemCtrl"
     ng-init="Init(
     '@userNameStr'
      ,'@getPagedSemWiseScholarshipUrl'
     ,'@deleteSemWiseScholarshipByIdUrl'
     ,'@getSemWiseScholarshipListDataExtraUrl'
     ,'@saveSemWiseScholarshipListUrl'
     ,'@getSemWiseScholarshipByIdUrl'
     ,'@getSemWiseScholarshipDataExtraUrl'
     ,'@saveSemWiseScholarshipUrl'
    ,'@getStudentInfoByUserNameUrl'
    ,'@getTrashIndividualStudentScholarshipByIdUrl'
    ,'@getLockOrUnlockIndividualStudentScholarshipByIdUrl'
     ,'@saveLockIndividualStudentScholarshipByIdForGlobalUrl'
     ,'@saveUnlockIndividualStudentScholarshipByIdForGlobalUrl' 
     ,'@saveTrashIndividualStudentScholarshipListForGlobalUrl'
     ,'@saveUnTrashIndividualStudentScholarshipListForGlobalUrl'
    ,'@getApplyOrCancelScholarshipForIndividualStudentByScholarshipIdUrl'
    ,'@saveMarkAsApplyScholarshipForIndividualStudentForGlobalUrl'
    ,'@getScholarshipCreateFromSscAndHscResultByStudentIdUrl'
     )">
    <div ng-Hide="!HasError ||ErrorMsg==''" class="alert alert-danger fade in radius-bordered alert-shadowed">
        <button ng-click="HasError=false" class="close" data-dismiss1="alert">×</button>
        <i class="fa-fw fa fa-warning"></i>
        <strong>Attention Please!</strong> {{ErrorMsg}}
    </div>

    
<div class="widget">
<div class="widget-header bordered-bottom bordered-sky ">
    <i class="widget-icon fa fa-list bold  "></i>
    <span class="widget-caption ">Individual Student Scholarship </span>



</div>
<div class="widget-body no-padding" style="overflow: auto">
    
<div style="text-align: center;" class="show-on-print">
    <h2>1<sup>st</sup> Semester Scholarships</h2>
    <div><span class="text-bold">Program:</span> {{SelectedProgramName}}</div>
    <div><span class="text-bold">Verified Status:</span> {{VerifiedStatusName}} </div>
    <div><span class="text-bold">Start Date:</span> {{StartDate}}</div>
    <div><span class="text-bold">End Date:</span> {{EndDate}} </div>
</div>

<table class="table table-bordered educationHistory" style="font-size: 11px;">
    <tbody class="hide-on-print">
    <tr>
        <td ng-show="UserName==''" style="width: 160px;" class="">Admission Batch (Session):<span class="red glyphicon glyphicon-asterisk" style="font-size: 9px;"></span> </td>
        <td ng-show="UserName==''" style="width: 180px;">
            <select ng-model="SelectedStartSemesterId"
                    ng-change="OnChangeStartSemester()"
                    ng-options="option.Id as option.Name for option in SemesterList" ng-init="" class="form-control input-xs ">
                <option value="" label="" class="">--Select Semester--</option>
            </select>
        </td>


        <td ng-show="UserName==''" style="width: 75px;" class="">Program:</td>
        <td ng-show="UserName==''" class="" style="width: 160px;">
            <select ng-model="SelectedProgram"
                    ng-change="ClearScholarshipList(); onChangeProgram()"
                    ng-options="option as option.Name for option in ProgramList " ng-init="" class="form-control input-xs ">
                <option value="" label="" class="">All Program</option>
            </select>
        </td>

        <td ng-show="UserName==''" style="width: 61px;" class="">Category:</td>
        <td ng-show="UserName==''">
            <select ng-model="SelectedDiscountCategoryEnumId"
                    ng-change="ClearScholarshipList()"
                    ng-options="option.Id as option.Name for option in DiscountCategoryEnumList " ng-init="" class="form-control input-xs ">
                <option value="" label="" class="">All Category</option>
            </select>
        </td>




        <td ng-show="UserName==''" style="width: 70px;" class="">Start Date: </td>
        <td ng-show="UserName==''" style="width: 115px;">
            <input ng-model="StartDate" style="padding-left: 5px; width: 95px;" type="text" class="date-picker" datetime="dd/MM/yyyy">
        </td>

        <td ng-show="UserName==''" style="width: 70px;" class="">End Date: </td>
        <td ng-show="UserName==''" style="width: 115px;">
            <input ng-model="EndDate" style="padding-left: 5px; width: 95px;" type="text" class="date-picker" datetime="dd/MM/yyyy">
        </td>


    </tr>


    <tr class="hide-on-print">

        <td>
            Verified Status:
        </td>
        <td style="text-align: center;">
            <select ng-model="VerifiedStatus"
                    ng-change="ClearScholarshipList();onChangeVerifiedStatus()"
                    ng-options="option as option.Name for option in VerifiedStatusEnumList " ng-init="" class="form-control input-xs ">
                <option value="" label="" class="">All Eligible(Verified & Unverified)</option>
            </select>
        </td>

        <td style="width: 70px; text-align: right;" class="">
            Student ID:
        </td>
        <td style="width: 145px;">
            <input type="text" ng-model="UserName"
                   style="padding-left: 5px; width: 130px; height: 21px;"
                   ng-Enter="@(getPagedSemWiseScholarshipList)()"
                   ng-change="UserNameOnChange()" placeholder="Search Student">
        </td>


        <td style="text-align: center;" colspan="6">
            <div>
                <label style="margin-left: 30px;">
                    <input ng-model="isShowTrashedScholarship" ng-change="getPagedSemWiseScholarshipList()" type="checkbox" style="margin-top: 0px !important; vertical-align: middle; width: 18px;">
                    <span style="color: #e74b37;">Show Deleted Scholarship Only</span>
                </label>
            </div>
        </td>
    </tr>
    <tr class="hide-on-print">
        <td style="text-align: center;" colspan="12">
            <button ng-click="@(getPagedSemWiseScholarshipList)()" class="btn btn-info"><i class="fa fa-refresh"></i> Load Data</button>
        </td>
    </tr>
    </tbody>
</table>


<div ng-if="SemWiseScholarshipList.length>0">

    @*<div class="table-footer no-print">
        @OptionControl()
    </div>*@
    <div>
        <div class="widget-buttons no-padding-right">
            <button ng-click="saveTrashIndividualStudentScholarshipListForGlobal()" ng-hide="isShowTrashedScholarship" class="btn btn-xs btn-danger">
                <i class="fa fa-trash"></i> Mark as delete
            </button>
            <button ng-click="saveUnTrashIndividualStudentScholarshipListForGlobal()" ng-show="isShowTrashedScholarship" class="btn btn-xs btn-danger ng-hide">
                <i class="fa fa-undo"></i> Mark as Un-Delete
            </button>
            <button ng-click="saveLockIndividualStudentScholarshipByIdForGlobal()"
                    ng-hide="isShowTrashedScholarship 
                    || VerifiedStatusEnumId==@((byte) IndividualStudentApiController.VerifiedStatusEnum.EligibleAndVerified)
                    || VerifiedStatusEnumId==@((byte) IndividualStudentApiController.VerifiedStatusEnum.NotEligible)" class="btn btn-xs btn-success">
                <i class="fa fa-lock"></i> Mark as Verified
            </button>
            <button ng-click="saveUnlockIndividualStudentScholarshipByIdForGlobal()" ng-hide="isShowTrashedScholarship 
                    || VerifiedStatusEnumId==@((byte) IndividualStudentApiController.VerifiedStatusEnum.EligibleAndUnverified)
                    || VerifiedStatusEnumId==@((byte) IndividualStudentApiController.VerifiedStatusEnum.NotEligible)" class="btn btn-xs btn-warning">
                <i class="fa fa-unlock"></i> Mark as Unverified
            </button>
            @*<button ng-click="saveMarkAsApplyScholarshipForIndividualStudentForGlobal()" ng-hide="isShowTrashedScholarship" class="btn btn-xs btn-success">
                 Mark as Apply
            </button>*@
            <button ng-click="getScholarshipCreateFromSscAndHscResultByStudentId()" ng-hide="isShowTrashedScholarship || SelectedStudentId<=0" class="btn btn-xs btn-info">
                Regenerate by Ssc & Hsc Result
            </button>
        </div>
    </div>
    <table class="table table-striped table-bordered table-hover" style="margin-bottom: 15px;">
        <thead class="bordered-blue">
        <tr class="hide-on-print">
            <th colspan="12" style="text-align: center; font-size: 25px;">1<sup>st</sup> Semester Scholarships</th>
        </tr>
        <tr>
            <th class="text-center hide-on-print">
                <input type="checkbox" ng-model="IsSelectAll" ng-click="selectAll(IsSelectAll)">
            </th>
            <th class="text-center">SN</th>
            <th class="text-center">Student ID</th>
            <th class="text-center">Student Name</th>

            <th ng-hide="VerifiedStatusEnumId==@((byte) IndividualStudentApiController.VerifiedStatusEnum.NotEligible)" class="text-center">Scholarship Name</th>

            <th ng-hide="VerifiedStatusEnumId==@((byte) IndividualStudentApiController.VerifiedStatusEnum.NotEligible)" class="text-center">Amount</th>
            <th class="text-center"> SSC+HSC Avg GPA</th>
            <th class="text-center">Program</th>
            @*<th class="text-center">Admission Semester</th>*@
            <th ng-hide="VerifiedStatusEnumId==@((byte) IndividualStudentApiController.VerifiedStatusEnum.NotEligible)" class="text-center no-print" style="width: 135px;">Action</th>
        </tr>
        </thead>
        <tbody >
        <tr ng-repeat="row in SemWiseScholarshipList"
            ng-class="row.@Acnt_SemWiseScholarship.Property_IsLocked?'bg-success':'bg-warning'">
            <td class="text-center hide-on-print">
                <input type="checkbox" ng-model="row.@Acnt_SemWiseScholarship.Property_IsSelected"/>
            </td>
            <td class="text-center">{{$index+1}}</td>

            <td class="">

                <a target="_blank" href="@(IndividualStudentSettingsList2 + "?un="){{row.StudentUserName}}">
                    {{row.StudentUserName}}
                </a>

            </td>
            <td class="">
                <a target="_blank" href="@(editStudentByIdAdmissionPageUrl)/?id={{row.UserAccountId}}&stdId={{row.StudentId}}&un={{row.StudentUserName}}#Scholarship-Settings">
                    {{row.StudentFullName}}
                </a>
            </td>

            <td ng-hide="VerifiedStatusEnumId==@((byte) IndividualStudentApiController.VerifiedStatusEnum.NotEligible)">
                {{row.NameParticularName}}
            </td>

            <td ng-hide="VerifiedStatusEnumId==@((byte) IndividualStudentApiController.VerifiedStatusEnum.NotEligible)" class="text-center">
                {{row.@Acnt_SemWiseScholarship.Property_Amount}}
                <span ng-if="row.@Acnt_SemWiseScholarship.Property_IsPercentAmount"> %</span>
                <span ng-if="!row.@Acnt_SemWiseScholarship.Property_IsPercentAmount"> BDT</span>
            </td>
            <td class="text-center" title="SSC/Equivalent GPA:{{row.SscGpa}} | HSC/Equivalent GPA:{{row.HscGpa}}">
                {{row.AverageGpa| number : 2}} <span ng-if="row.AverageIsGolden">(Golden)</span>
            </td>
            <td class="">
                <select ng-model="row.@Acnt_SemWiseScholarship.Property_ProgramId"
                        ng-disabled="true"
                        ng-options="option.Id as option.Name for option in ProgramList" title="" ng-init="" class="form-control">
                    <option value="" label="" class="">All Program</option>
                </select>
            </td>
            @*<td class="">
                <select ng-model="row.@Acnt_SemWiseScholarship.Property_StartSemesterId"
                        ng-disabled="true"
                        ng-options="option.Id as option.Name for option in SemesterList" title="" ng-init="" class="form-control">
                    <option value="" label="" class=""></option>
                </select>
            </td>*@
            <td ng-hide="VerifiedStatusEnumId==@((byte) IndividualStudentApiController.VerifiedStatusEnum.NotEligible)"
                class="text-center no-print">
                <button ng-click="getLockOrUnlockIndividualStudentScholarshipById(row,false)"
                        ng-show="row.IsLocked && !row.@Acnt_SemWiseScholarship.Property_IsDeleted"
                        class="btn btn-xs btn-success">
                    <i class="fa fa-lock"></i>
                </button>
                <button ng-click="getLockOrUnlockIndividualStudentScholarshipById(row,true)"
                        ng-show="!row.IsLocked && !row.@Acnt_SemWiseScholarship.Property_IsDeleted"
                        class="btn btn-xs btn-warning">
                    <i class="fa fa-unlock"></i>
                </button>

                <button ng-click="individualStudentScholarshipViewModalOpen(row)"
                        class="btn btn-xs btn-default">
                    <i class="fa fa-eye"></i>
                </button>
                <button ng-click="getTrashIndividualStudentScholarshipById(row,true)"
                        ng-hide="row.@Acnt_SemWiseScholarship.Property_IsDeleted || row.@Acnt_SemWiseScholarship.Property_IsLocked"
                        class="btn btn-xs btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
                <button ng-click="getTrashIndividualStudentScholarshipById(row,false)"
                        ng-show="row.@Acnt_SemWiseScholarship.Property_IsDeleted"
                        class="btn btn-xs btn-danger">
                    <i class="fa fa-undo"></i>
                </button>


                @*<button 
                    ng-click="getApplyOrCancelScholarshipForIndividualStudentByScholarshipId(row,true)"
                        ng-show="row.IsLocked && !row.@Acnt_SemWiseScholarship.Property_IsDeleted"
                        class="btn btn-xs btn-success">
                    Apply
                </button>*@

                @*<div class="widget-buttons">
                    <div class="btn-group">
                        <a ng-if="!(row.@Acnt_SemWiseScholarship.Property_IsDeleted || row.@Acnt_SemWiseScholarship.Property_IsLocked)"
                           class="btn btn-primary btn-xs shiny" ng-click="individualStudentScholarshipEditModalOpen(row)" href="javascript:void(0);">
                            <i class="fa fa-edit"></i> Edit
                        </a>
                        <a ng-if="row.@Acnt_SemWiseScholarship.Property_IsLocked || row.@Acnt_SemWiseScholarship.Property_IsDeleted"
                           class="btn btn-primary btn-xs shiny" ng-click="individualStudentScholarshipViewModalOpen(row)" href="javascript:void(0);">
                            <i class="fa fa-eye"></i> View
                        </a>

                        <a class="btn btn-primary dropdown-toggle shiny btn-xs" data-toggle="dropdown" href="javascript:void(0);" aria-expanded="false">
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-blue pull-left">
                            <li ng-hide="row.@Acnt_SemWiseScholarship.Property_IsDeleted || row.@Acnt_SemWiseScholarship.Property_IsLocked">
                                <a ng-click="individualStudentScholarshipEditModalOpen(row)"><i class="fa fa-edit"></i> Edit</a>
                            </li>
                            <li>
                                <a ng-click="individualStudentScholarshipViewModalOpen(row)"><i class="fa fa-eye"></i> View</a>
                            </li>
                            <li ng-hide="row.@Acnt_SemWiseScholarship.Property_IsDeleted || row.@Acnt_SemWiseScholarship.Property_IsLocked">
                                <a ng-click="getTrashIndividualStudentScholarshipById(row,true)" style="color: red;"><i class="fa fa-trash"></i> Delete</a>
                            </li>
                            <li ng-show="row.@Acnt_SemWiseScholarship.Property_IsDeleted">
                                <a ng-click="getTrashIndividualStudentScholarshipById(row,false)" style="color: red;"><i class="fa fa-undo"></i> Un-Delete</a>
                            </li>
                            <li ng-show="row.@Acnt_SemWiseScholarship.Property_IsDeleted">
                                <a ng-click="@(deleteSemWiseScholarshipById)(row)" style="color: red;"><i class="fa fa-remove"></i> Permanent Delete</a>
                            </li>

                        </ul>
                    </div>
                </div>*@




            </td>
        </tr>
        </tbody>
    </table>


    @*<div class="table-footer no-print">
        @OptionControl()
    </div>*@

</div>


</div>
</div>
    
@* Start Individual Student Scholarship AddEdit Modal*@
<div class="modal fade" id="individualStudentScholarshipAddEditModal" tabindex="-1" role="dialog" aria-labelledby="individualStudentScholarshipAddEditModal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Individual Student Scholarship  {{SelectedSemesterName}} </h4>
                </div>
                <div class="modal-body">
                    <div ng-Hide="!HasError ||ErrorMsg==''" class="alert alert-danger fade in radius-bordered alert-shadowed">
                        <button ng-click="HasError=false" class="close" data-dismiss1="alert">×</button>
                        <i class="fa-fw fa fa-warning"></i>
                        <strong>Attention Please!</strong> {{ErrorMsg}}
                    </div>

                    @Html.Partial("~/Areas/Accounts/Views/SemWiseScholarship/Shared/_IndividualStudentScholarshipAddEdit.cshtml")
                </div>
                <div class="modal-footer" style="text-align: center">
                    <button ng-click="saveSemWiseScholarship ()" type="button" class="btn btn-success">
                        <span class="fa fa-save"></span> Save
                    </button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-close"></i>Close</button>
                </div>
            </div>
        </div>
    </div>
@* End Individual Student Scholarship AddEdit Modal*@


@* Start Individual Student Scholarship view Modal*@
<div class="modal fade" id="individualStudentScholarshipViewModal" tabindex="-1" role="dialog" aria-labelledby="individualStudentScholarshipViewModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">{{StudentScholarship.NameParticularName}} </h4>
            </div>
            <div class="modal-body">
                @Html.Partial("~/Areas/Accounts/Views/SemWiseScholarship/Shared/_IndividualStudentScholarshipViewDetails.cshtml")
            </div>
        </div>
    </div>
</div>
@* End Individual Student Scholarship View Modal*@
</div>

@helper  OptionControl()
{
    <div class="row no-print">
        <div class="col-sm-12">
            <div class="form-inline pull-left">
                <div class="form-group">
                    <label ng-hide="totalServerItems==0">Showing {{totalServerItems*(PageNo-1)+1}} to {{totalServerItems*PageNo}} of {{totalItems}} </label>
                    <label ng-show="totalServerItems==0" class="text-danger">No Data Found!</label>
                </div>
            </div>
            <div class="form-inline pull-right">
                <div class="form-group">
                    <label>Page Size {{PageSize}}</label>
                    <input ng-model="PageSize" ng-enter="changePageSize()" class="form-control input-opt" autocomplete="on" placeholder="Page Size" type="number" min="1">
                </div>
                <div class="form-group">
                    <label>Page No.</label>
                    <input ng-model="PageNo" ng-enter="changePageNo()" class="form-control input-opt" autocomplete="on" placeholder="Page No" type="number" min="1">
                    <label>of {{totalItems/PageSize| number:0}}</label>
                </div>
                <div class="form-group">
                    <button ng-click="prev()" ng-hide="totalItems == 0 || PageNo <= 1" class="btn btn-info btn-opt" type="button"><i class="fa fa-angle-double-left"></i>Previous&nbsp;</button>
                    <button ng-click="next()" ng-hide="totalItems == 0 || PageNo >= totalPage" class="btn btn-info btn-opt" type="button">&nbsp;Next&nbsp;<i class="fa fa-angle-double-right"></i></button>
                </div>
            </div>
        </div>
    </div>
}


