@using EMS.DataAccess.Data
<!--File:Aca_MarkDistributionPolicy List View-->

@{
    ViewBag.Title = "Exam Section: Mark Distribution Policy List";

    //WebApi link for single row 
    var getMarkDistributionPolicyByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "MarkDistributionPolicyApi", action = "GetMarkDistributionPolicyById", area = "ExamSection" });
    var getMarkDistributionPolicyDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "MarkDistributionPolicyApi", action = "GetMarkDistributionPolicyDataExtra", area = "ExamSection" });
    var saveMarkDistributionPolicyUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "MarkDistributionPolicyApi", action = "SaveMarkDistributionPolicy", area = "ExamSection" });
    var deleteMarkDistributionPolicyByIdUrl =  Url.HttpRouteUrl("DefaultApi", new { controller = "MarkDistributionPolicyApi", action = "GetDeleteMarkDistributionPolicyById", area = "ExamSection" });

    //WebApi link for List
    var getPagedMarkDistributionPolicyUrl = Url.HttpRouteUrl("DefaultApi", new {controller = "MarkDistributionPolicyApi", action = "GetPagedMarkDistributionPolicy", area = "ExamSection"});
    var getAllMarkDistributionPolicyUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "MarkDistributionPolicyApi", action = "GetAllMarkDistributionPolicy", area = "ExamSection" });
    var saveMarkDistributionPolicyListUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "MarkDistributionPolicyApi", action = "SaveMarkDistributionPolicyList", area = "ExamSection" });
    var getMarkDistributionPolicyListDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "MarkDistributionPolicyApi", action = "GetMarkDistributionPolicyListDataExtra", area = "ExamSection" });

    var editMarkDistributionPolicyByIdPageUrl = Url.Action("MarkDistributionPolicyAddEdit", "MarkDistributionPolicy", new { area = "ExamSection" });

    //Angular Function Name
    var getNewMarkDistributionPolicy = "getNewMarkDistributionPolicy";
    var saveMarkDistributionPolicy = "saveMarkDistributionPolicy";
    var deleteMarkDistributionPolicyById = "deleteMarkDistributionPolicyById";
    var deleteMarkDistributionPolicyByObj = "deleteMarkDistributionPolicyByObj";
    //for list
    var searchMarkDistributionPolicyList = "searchMarkDistributionPolicyList";
    var getPagedMarkDistributionPolicyList = "getPagedMarkDistributionPolicyList";
    var getAllMarkDistributionPolicyList = "getAllMarkDistributionPolicyList";
    var saveMarkDistributionPolicyList = "saveMarkDistributionPolicyList";
    var loadMarkDistributionPolicyListExtraData = "loadMarkDistributionPolicyListExtraData";

    var refreshPage = "loadPage()";

}
@section ScriptSection
{
    <script src="~/Areas/ExamSection/Views/MarkDistributionPolicy/MarkDistributionPolicyList.js"></script>
}
<div ng-controller="MarkDistributionPolicyListCtrl"
     ng-init="Init(
     '@getPagedMarkDistributionPolicyUrl'
     ,'@deleteMarkDistributionPolicyByIdUrl'
     )">
    <div class="widget">

        <div class="widget-header bordered-bottom bordered-sky ">
            <i class="widget-icon fa fa-list bold  "></i>
            <span  class="widget-caption ">Manage Mark Distribution Policy </span>
            <div class="widget-buttons buttons-bordered no-padding-right">
                <span  class="input-icon">
                    <input type="text" ng-model="SearchText" ng-Enter="@(searchMarkDistributionPolicyList)()" class="form-control input-xs " id="glyphicon-search" placeholder="Search" style="">
                    <i class="glyphicon glyphicon-search blue"></i>
                </span>
            </div>
            <div class="widget-buttons no-padding-left">
                <a target="_blank" href="@editMarkDistributionPolicyByIdPageUrl?id=0" class="btn btn-xs btn-success"><i class="fa fa-plus"></i> Add New</a>
                <button ng-click="@refreshPage" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i> Refresh</button>
            </div>
        </div>
        <div class="widget-body">
            <table class="table table-striped table-bordered table-hover">
                <thead class="bordered-blue">
                <tr>
                    <th class="text-center">SN</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Course Category</th>

                    <th class="text-center">Exam Type</th>
                    <th class="text-center">Total Mark</th>
                    <th class="text-center">Convert Percentage</th>
                    <th class="text-center" style="width: 150px;">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in MarkDistributionPolicyList">
                    <td>{{$index+1}}</td>
                    <td>{{row.Name}}</td>
                    <td class="">{{row.@Aca_MarkDistributionPolicy.Property_CourseCategory}}</td>
                    <td class="">{{row.@Aca_MarkDistributionPolicy.Property_ExamType}}</td>
                    <td class="">{{row.@Aca_MarkDistributionPolicy.Property_TotalMark}}</td>
                    <td class="">{{row.@Aca_MarkDistributionPolicy.Property_ConvertPercentage}}</td>
                    <td class="text-center">
                        <a target="_blank" href="@(editMarkDistributionPolicyByIdPageUrl)/?id={{row.Id}}" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i> Edit</a>
                        <button ng-click="@(deleteMarkDistributionPolicyByObj)(row)" class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i> </button>


                    </td>
                </tr>
                </tbody>
            </table>
            <div style="" class="table-footer no-print">
                @OptionControl()
            </div>
        </div>
    </div>
</div>



@helper  OptionControl()
{
    <div class="row no-print">
        <div class="col-sm-4">
            <div class="form-inline pull-left">
                <div class="form-group">
                    <label ng-hide="totalServerItems==0">(Showing {{totalServerItems*(PageNo-1)+1}}-{{totalServerItems*PageNo}} of {{totalItems}})</label>
                    <label ng-show="totalServerItems==0" class="text-danger">No Data Found!</label>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-inline pull-right">
                <div class="form-group">
                    <label>Page Size</label>
                    <input ng-model="PageSize" ng-enter="changePageSize()" class="form-control input-opt" autocomplete="on" placeholder="Page Size" type="number" min="1">
                </div>
                <div class="form-group">
                    <label>Page No.</label>
                    <input ng-model="PageNo" ng-enter="changePageNo()" class="form-control input-opt" autocomplete="on" placeholder="Page No" type="number" min="1">
                    <label>of {{totalItems/PageSize| number:0}}</label>
                </div>
            </div>
        </div>
    </div>
}

