
<!--File:Acnt_ScholarshipType List View-->
@using EMS.DataAccess.Data;
@{
    ViewBag.Title = "Accounts: Scholarship Type List";
    Layout = "~/Areas/Accounts/Views/Shared/_LayoutAccounts.cshtml";
    
    // Angular Properties
    var id = Request.QueryString["id"];//ViewContext.RouteData.Values["id"];
    var ScholarshipTypeId = (string) id == null?"0":(string)id;
    
    //WebApi link for single row 
    var getScholarshipTypeByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ScholarshipTypeApi", action = "GetScholarshipTypeById", area = "Accounts" });
    var getScholarshipTypeDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ScholarshipTypeApi", action = "GetScholarshipTypeDataExtra", area = "Accounts" });
    var saveScholarshipTypeUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ScholarshipTypeApi", action = "SaveScholarshipType", area = "Accounts" });
    var deleteScholarshipTypeByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ScholarshipTypeApi", action = "GetDeleteScholarshipTypeById", area = "Accounts" });

    //WebApi link for List
    var getPagedScholarshipTypeUrl = Url.HttpRouteUrl("DefaultApi", new {controller = "ScholarshipTypeApi", action = "GetPagedScholarshipType", area = "Accounts"});
    var getAllScholarshipTypeUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ScholarshipTypeApi", action = "GetAllScholarshipType", area = "Accounts" });
    var saveScholarshipTypeListUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ScholarshipTypeApi", action = "SaveScholarshipTypeList", area = "Accounts" });
    var getScholarshipTypeListDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ScholarshipTypeApi", action = "GetScholarshipTypeListDataExtra", area = "Accounts" });

    var editScholarshipTypeByIdPageUrl = Url.Action("ScholarshipTypeAddEdit", "ScholarshipType", new { area = "Accounts" });

    //Angular Function Name
    var getNewScholarshipType = "getNewScholarshipType";
    var saveScholarshipType = "saveScholarshipType";
    var deleteScholarshipTypeById = "deleteScholarshipTypeById";
    var deleteScholarshipTypeByObj = "deleteScholarshipTypeByObj";
    //for list
    var searchScholarshipTypeList = "searchScholarshipTypeList";
    var getPagedScholarshipTypeList = "getPagedScholarshipTypeList";
    var getAllScholarshipTypeList = "getAllScholarshipTypeList";
    var saveScholarshipTypeList = "saveScholarshipTypeList";
    var getScholarshipTypeListExtraData = "getScholarshipTypeListExtraData";

    var refreshPage = "loadPage()";
    
}
@section ScriptSection
{
    <script src="~/Areas/Accounts/Views/ScholarshipType/ScholarshipTypeList.js"></script>
}


<div ng-controller="ScholarshipTypeListCtrl"
     ng-init="Init(
      '@getPagedScholarshipTypeUrl'
     ,'@deleteScholarshipTypeByIdUrl'
     ,'@getScholarshipTypeListDataExtraUrl'
     ,'@saveScholarshipTypeListUrl'
     ,'@getScholarshipTypeByIdUrl'
     ,'@getScholarshipTypeDataExtraUrl'
     ,'@saveScholarshipTypeUrl'
     )">
    <div class="widget">

        <div class="widget-header bordered-bottom bordered-sky ">
            <i class="widget-icon fa fa-list bold  "></i>
            <span class="widget-caption ">Manage Scholarship Type </span>
            <div class="widget-buttons buttons-bordered no-padding-right">
                <span class="input-icon">
                    <input type="text" ng-model="SearchText" ng-Enter="@(searchScholarshipTypeList)()" class="form-control input-xs " id="glyphicon-search" placeholder="Search" style="">
                    <i class="glyphicon glyphicon-search blue"></i>
                </span>
            </div>
            <div class="widget-buttons no-padding-left">
                <a target="_blank" href="@editScholarshipTypeByIdPageUrl?id=0" class="btn btn-xs btn-success"><i class="fa fa-plus"></i> Add New</a>
                <button ng-click="@(searchScholarshipTypeList)()" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i> Refresh</button>
            </div>
        </div>
        <div class="widget-body no-padding"  style="overflow:auto">
            <div class="table-footer no-print">
                @OptionControl()
            </div>
            <table class="table table-striped table-bordered table-hover">
                <thead class="bordered-blue">
                <tr>
                    <th class="text-center" style="display:none">
                        <input type="checkbox" ng-click="selectAll($event)">
                    </th>
                    <th class="text-center">SN</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Short Name</th>
                    <th class="text-center">Percent Amount</th>
                    <th class="text-center">Real Amount</th>
                    <!--th class="text-center">Status Enum Id</th-->
                    <th class="text-center">Status</th>
                    <th class="text-center">Order No</th>
                    <th class="text-center no-print">Action</th>
                </tr>
                </thead>
                <tbody>
    
                <tr ng-repeat="row in ScholarshipTypeList">
                    <td class="text-center" style="display:none">
                        <input type="checkbox" ng-model="row.@Acnt_ScholarshipType.Property_IsSelected" /> 
                    </td>
                    <td class="text-center">{{$index+1}}</td>
                    <td class="">{{row.@Acnt_ScholarshipType.Property_Name}}</td>
                    <td class="">{{row.@Acnt_ScholarshipType.Property_ShortName}}</td>
                    <td class="">{{row.@Acnt_ScholarshipType.Property_PercentAmount}}</td>
                    <td class="">{{row.@Acnt_ScholarshipType.Property_RealAmount}}</td>
                    <!--td class="">{{row.@Acnt_ScholarshipType.Property_StatusEnumId}}</td-->
                    <td class="">{{row.@Acnt_ScholarshipType.Property_Status}}</td>
                    <td class="">{{row.@Acnt_ScholarshipType.Property_OrderNo}}</td>
                    <td class="text-center no-print">
                        <a target="_blank" href="@(editScholarshipTypeByIdPageUrl)/?id={{row.Id}}" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i> Edit</a>
                        <button ng-click="@(deleteScholarshipTypeById)(row)" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>
                     
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="table-footer no-print">
                @OptionControl()
            </div>
        </div>
    </div>
</div>

@helper  OptionControl()
{
    <div class="row no-print">
        <div class="col-sm-12">
            <div class="form-inline pull-left">
                <div class="form-group">
                    <label ng-hide="totalServerItems==0">Showing {{totalServerItems*(PageNo-1)+1}} to {{totalServerItems*PageNo}} of {{totalItems}} </label>
                    <label ng-show="totalServerItems==0" class="text-danger">No Data Found!</label>
                </div>
            </div>
            <div class="form-inline pull-right">
                <div class="form-group">
                    <label>Page Size</label>
                    <input ng-model="PageSize" ng-enter="changePageSize()" class="form-control input-opt" autocomplete="on" placeholder="Page Size" type="number" min="1">
                </div>
                <div class="form-group">
                    <label>Page No.</label>
                    <input ng-model="PageNo" ng-enter="changePageNo()" class="form-control input-opt" autocomplete="on" placeholder="Page No" type="number" min="1">
                    <label>of {{totalItems/PageSize| number:0}}</label>
                </div>
                <div class="form-group">
                    <button ng-click="prev()" ng-hide="totalItems == 0 || PageNo <= 1" class="btn btn-info btn-opt" type="button"><i class="fa fa-angle-double-left"></i>Previous&nbsp;</button>
                    <button ng-click="next()" ng-hide="totalItems == 0 || PageNo >= totalPage" class="btn btn-info btn-opt" type="button">&nbsp;Next&nbsp;<i class="fa fa-angle-double-right"></i></button>
                </div>
            </div>
        </div>
    </div>
}



