@using EMS.Framework.Utils
@using EMS.Framework.Settings
@using EMS.DataAccess.Data
@using EMS.Framework.Objects

<div class="databox databox-xxlg databox-vertical databox-shadowed bg-white radius-bordered no-padding" style="height: auto;">
    <div class="databox-top bordered-bottom-2 bordered-blueberry" style="height: auto;">
        <div class="databox-row row-12">
            <div class="databox-cell cell-2 text-center">
                <div class="databox-number number-xlg sky no-margin">@HttpUtil.DbContext.User_Student.Count(x => x.EnrollmentStatusEnumId == (byte)User_Student.EnrollmentStatusEnum.Continuing)</div>
                <div class="databox-text storm-cloud no-margin">Current Student</div>
            </div>

            <div class="databox-cell cell-2 text-center">
                <div class="databox-number number-xlg sky no-margin">@HttpUtil.DbContext.User_Student.Count(x => x.EnrollmentStatusEnumId == (byte)User_Student.EnrollmentStatusEnum.Continuing && x.ClassTimingGroupEnumId == (byte)Aca_Program.ClassTimingGroupEnum.Day)</div>
                <div class="databox-text storm-cloud no-margin">Regular</div>
            </div>
            <div class="databox-cell cell-2 text-center">
                <div class="databox-number number-xlg sky no-margin">@HttpUtil.DbContext.User_Student.Count(x => x.EnrollmentStatusEnumId == (byte)User_Student.EnrollmentStatusEnum.Continuing && x.ClassTimingGroupEnumId == (byte)Aca_Program.ClassTimingGroupEnum.Evening)</div>
                <div class="databox-text storm-cloud no-margin">Evening</div>
            </div>
            <div class="databox-cell cell-2 text-center">
                <div class="databox-number number-xlg sky no-margin">@HttpUtil.DbContext.User_Student.Count(x => x.EnrollmentStatusEnumId == (byte)User_Student.EnrollmentStatusEnum.Graduating)</div>
                <div class="databox-text storm-cloud no-margin">Graduating</div>
            </div>
            <div class="databox-cell cell-2 text-center">
                <div class="databox-number number-xlg sky no-margin">@HttpUtil.DbContext.User_Student.Count(x => x.EnrollmentStatusEnumId == (byte)User_Student.EnrollmentStatusEnum.Graduated)</div>
                <div class="databox-text storm-cloud no-margin">Graduated</div>
            </div>
            <div class="databox-cell cell-2 text-center">
                <div class="databox-header title-xxlg sky">
                    <a class="btn btn-sm btn-primary" href="@Url.Action("StudentList", "Student", new {area = "Academic"})">
                        <i class="fa fa-users"></i> Student List
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="databox-bottom" style="height: auto;">
        <div class="databox-row">
            <div class="databox-cell cell-1 no-padding text-align-center bordered-right bordered-platinum">
                <span class="databox-number green">@HttpUtil.DbContext.User_Student.Count(x => x.User_Account.IsApproved && x.EnrollmentStatusEnumId == (byte)User_Student.EnrollmentStatusEnum.Continuing)</span>
                <span class="databox-text green no-margin">Approved</span>
            </div>
            <div class="databox-cell cell-1 no-padding text-align-center bordered-right bordered-platinum">
                <span class="databox-number red">@HttpUtil.DbContext.User_Student.Count(x => x.User_Account.IsApproved == false && x.EnrollmentStatusEnumId == (byte)User_Student.EnrollmentStatusEnum.Continuing)</span>
                <span class="databox-text red no-margin">Disapproved</span>
            </div>
            <div class="databox-cell cell-1 no-padding text-align-center bordered-right bordered-platinum">
                <span class="databox-number green">@HttpUtil.DbContext.User_Student.Count(x => x.User_Account.UserStatusEnumId == 0 && x.EnrollmentStatusEnumId == (byte)User_Student.EnrollmentStatusEnum.Continuing)</span>
                <span class="databox-text green no-margin">Unlocked</span>
            </div>
            <div class="databox-cell cell-1 no-padding text-align-center bordered-right bordered-platinum">
                <span class="databox-number red">@HttpUtil.DbContext.User_Student.Count(x => x.User_Account.UserStatusEnumId != 0)</span>
                <span class="databox-text red no-margin">Locked</span>
            </div>
            <div class="databox-cell cell-2 no-padding text-align-center bordered-right bordered-platinum">
                <span class="databox-number green">@HttpUtil.DbContext.User_Student.Count(x => x.User_Account.CampusId == 1 && x.EnrollmentStatusEnumId == (byte)User_Student.EnrollmentStatusEnum.Continuing)</span>
                <span class="databox-text sonic-silver no-margin">In @SiteSettings.Instance.InstituteShortName Campus</span>
            </div>
            @*<div class="databox-cell cell-1 no-padding text-align-center bordered-right bordered-platinum">
                    <span  class="databox-number pink">@HttpUtil.DbContext.User_Student.Count(x => x.User_Account.CampusId == 2 && x.EnrollmentStatusEnumId == (byte)User_Student.EnrollmentStatusEnum.Continuing)</span>
                    <span  class="databox-text sonic-silver no-margin">In BMA Campus</span>
                </div>
                <div class="databox-cell cell-1 no-padding text-align-center bordered-right bordered-platinum">
                    <span  class="databox-number blue">@HttpUtil.DbContext.User_Student.Count(x => x.User_Account.CampusId == 3 && x.EnrollmentStatusEnumId == (byte)User_Student.EnrollmentStatusEnum.Continuing)</span>
                    <span  class="databox-text sonic-silver no-margin">In BAF Campus</span>
                </div>*@
            <div class="databox-cell cell-1 no-padding text-align-center bordered-right bordered-platinum">
                <span class="databox-number carbon">@HttpUtil.DbContext.User_Student.Count(x => x.User_Account.GenderEnumId == (byte)User_Account.GenderEnum.Male && x.EnrollmentStatusEnumId == (byte)User_Student.EnrollmentStatusEnum.Continuing && x.User_Account.CampusId == 1)</span>
                <span class="databox-text sonic-silver no-margin">Male</span>
            </div>
            <div class="databox-cell cell-1 no-padding text-align-center bordered-right bordered-platinum">
                <span class="databox-number carbon">@HttpUtil.DbContext.User_Student.Count(x => x.User_Account.GenderEnumId == (byte)User_Account.GenderEnum.Female && x.EnrollmentStatusEnumId == (byte)User_Student.EnrollmentStatusEnum.Continuing && x.User_Account.CampusId == 1)</span>
                <span class="databox-text sonic-silver no-margin">Female</span>
            </div>
            <div class="databox-cell cell-1 no-padding text-align-center bordered-right bordered-platinum">
                <span class="databox-number green">@HttpUtil.DbContext.User_Student.Count(x => x.User_Account.UserStatusEnumId == (byte)User_Account.UserStatusEnum.Active)</span>
                <span class="databox-text green no-margin">Active</span>
            </div>
            <div class="databox-cell cell-1 no-padding text-align-center bordered-right bordered-platinum">
                <span class="databox-number red">@HttpUtil.DbContext.User_Student.Count(x => x.User_Account.UserStatusEnumId != (byte)User_Account.UserStatusEnum.Active)</span>
                <span class="databox-text red no-margin">Not Active</span>
            </div>
            <div class="databox-cell cell-2 no-padding text-align-center">
                <div class="databox-number number-xlg sky no-margin">@HttpUtil.DbContext.User_Student.Count()</div>
                <div class="databox-text storm-cloud no-margin">Totan in  DataBase</div>
            </div>
        </div>
        @*<hr class="margin-5">
            <div class="databox-row">
                <div class="databox-cell cell-1 text-align-center bordered-right bordered-platinum">
                    <span  class="databox-number orange">8406</span>
                    <span  class="databox-text sonic-silver no-margin">UNIT A</span>
                </div>
                <div class="databox-cell cell-1 text-align-center bordered-right bordered-platinum">
                    <span  class="databox-number orange">33</span>
                    <span  class="databox-text sonic-silver no-margin">UNIT B</span>
                </div>
                <div class="databox-cell cell-1 text-align-center bordered-right bordered-platinum">
                    <span  class="databox-number orange">843</span>
                    <span  class="databox-text sonic-silver no-margin">UNIT A+B</span>
                </div>
                <div class="databox-cell cell-2 text-align-center bordered-right bordered-platinum">
                    <span  class="databox-number lightcarbon">6740</span>
                    <span  class="databox-text carbon no-margin">Exam Accommodation</span>
                </div>
                <div class="databox-cell cell-2 text-align-center bordered-right bordered-platinum">
                    <span  class="databox-number red">550</span>
                    <span  class="databox-text carbon no-margin">Total Vacant</span>
                </div>
                <div class="databox-cell cell-2 text-align-center bordered-right bordered-platinum">
                    <span  class="databox-number lightcarbon">200</span>
                    <span  class="databox-text carbon no-margin">Written Exam Mark</span>
                </div>
                <div class="databox-cell cell-1 text-align-center bordered-right bordered-platinum">
                    <span  class="databox-number lightcarbon">80</span>
                    <span  class="databox-text carbon no-margin">PassMark</span>
                </div>
                <div class="databox-cell cell-1 text-align-center bordered-right bordered-platinum">
                    <span  class="databox-number lightcarbon">15</span>
                    <span  class="databox-text carbon no-margin">HSC GPA %</span>
                </div>
                <div class="databox-cell cell-1 text-align-center">
                    <span  class="databox-number lightcarbon">10</span>
                    <span  class="databox-text carbon no-margin">SSC GPA %</span>
                </div>
            </div>

            <hr class="margin-5">
            <div class="databox-row no-padding">
                <div class="databox-cell cell-4 text-align-center no-padding padding-top-5">
                    <span  class="databox-header no-margin">Application Submission<br><strong>21/09/2015 00:00:00</strong></span>
                </div>
                <div class="databox-cell cell-4 text-align-center no-padding padding-top-5">
                    <span  class="databox-header no-margin">Application Deadline<br><strong>25/10/2015 00:00:00</strong></span>
                </div>
                <div class="databox-cell cell-4 text-align-center no-padding padding-top-5">
                    <span  class="databox-header no-margin">Admit Card Publish<br><strong>07/11/2015 10:00:00</strong></span>
                </div>
                <div class="databox-cell cell-4 text-align-center no-padding padding-top-5 bordered-top-2 bordered-sky">
                    <span  class="databox-header no-margin">Admission Test<br><strong>13/11/2015 09:00:00</strong></span>
                </div>
                <div class="databox-cell cell-4 text-align-center no-padding padding-top-5 bordered-top-2 bordered-yellow">
                    <span  class="databox-header no-margin">Admission Test Result<br><strong>23/11/2015 10:00:00</strong></span>
                </div>
                <div class="databox-cell cell-4 text-align-center no-padding padding-top-5 bordered-top-2 bordered-pink">
                    <span  class="databox-header no-margin">Admission Start<br><strong>06/12/2015 09:00:00</strong></span>
                </div>

            </div>*@
    </div>
</div>

