
<!--File:Adm_ParentsPrimaryJobType Add/Edit View-->
@using EMS.DataAccess.Data;
@{
    ViewBag.Title = "Admin: Add/Edit Parents Primary Job Type";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    // Angular Properties
    var id = Request.QueryString["id"];//ViewContext.RouteData.Values["id"];
    var ParentsPrimaryJobTypeId = (string) id == null?"0":(string)id;
    
    //Adm_ParentsPrimaryJobType WebApi Single Row link   
    var getParentsPrimaryJobTypeByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ParentsPrimaryJobTypeApi", action = "GetParentsPrimaryJobTypeById", area = "Admin" });
    var getParentsPrimaryJobTypeDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ParentsPrimaryJobTypeApi", action = "GetParentsPrimaryJobTypeDataExtra", area = "Admin" });
    var saveParentsPrimaryJobTypeUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ParentsPrimaryJobTypeApi", action = "SaveParentsPrimaryJobType", area = "Admin" });
    var deleteParentsPrimaryJobTypeByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ParentsPrimaryJobTypeApi", action = "GetDeleteParentsPrimaryJobTypeById", area = "Admin" });

    //Adm_ParentsPrimaryJobType WebApi List link 
    var getPagedParentsPrimaryJobTypeUrl = Url.HttpRouteUrl("DefaultApi", new {controller = "ParentsPrimaryJobTypeApi", action = "GetPagedParentsPrimaryJobType", area = "Admin"});
    var getAllParentsPrimaryJobTypeUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ParentsPrimaryJobTypeApi", action = "GetAllParentsPrimaryJobType", area = "Admin" });
    var saveParentsPrimaryJobTypeListUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ParentsPrimaryJobTypeApi", action = "SaveParentsPrimaryJobTypeList", area = "Admin" });
    var getParentsPrimaryJobTypeListDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "ParentsPrimaryJobTypeApi", action = "GetParentsPrimaryJobTypeListDataExtra", area = "Admin" });

    var editParentsPrimaryJobTypeByIdPageUrl = Url.Action("ParentsPrimaryJobTypeAddEdit", "ParentsPrimaryJobType", new { area = "Admin" });
    var listParentsPrimaryJobTypePageUrl = Url.Action("ParentsPrimaryJobTypeList", "ParentsPrimaryJobType", new { area = "Admin" });
    
    //Adm_ParentsPrimaryJobType Angular Functions
    string getParentsPrimaryJobTypeById="getParentsPrimaryJobTypeById";
    var saveParentsPrimaryJobType = "saveParentsPrimaryJobType";
    var getNewParentsPrimaryJobType = "getNewParentsPrimaryJobType";
    var refreshPage = "loadPage()";
    string deleteParentsPrimaryJobTypeById="deleteParentsPrimaryJobTypeById";
    string loadParentsPrimaryJobTypeExtraData="loadParentsPrimaryJobTypeExtraData";
}
@section ScriptSection
{
    <script src="~/Areas/Admin/Views/ParentsPrimaryJobType/ParentsPrimaryJobTypeAddEdit.js"></script>
}

<div id="ParentsPrimaryJobTypeAddEdit" class="row" ng-controller="ParentsPrimaryJobTypeAddEditCtrl" ng-init="Init(
      '@ParentsPrimaryJobTypeId'
      ,'@getParentsPrimaryJobTypeByIdUrl'
      ,'@getParentsPrimaryJobTypeDataExtraUrl'
      ,'@saveParentsPrimaryJobTypeUrl'
      ,'@deleteParentsPrimaryJobTypeByIdUrl')">
      
    <div class="col-lg-12 col-sm-12 col-xs-12">
     <div ng-Hide="!HasError ||ErrorMsg==''" class="alert alert-danger fade in radius-bordered alert-shadowed">
            <button ng-click="HasError=false" class="close" data-dismiss1="alert">×</button>
            <i class="fa-fw fa fa-warning"></i>
            <strong>Attention Please!</strong> {{ErrorMsg}}
      </div>
      <div ng-show="HasViewPermission">
        <div class="widget" >
            <div class="widget-header bordered-bottom bordered-sky ">
                <i class="widget-icon fa fa-edit bold  "></i>
                <span class="widget-caption ">
                    Add/Edit
                    <strong ng-show="ParentsPrimaryJobType.@Adm_ParentsPrimaryJobType.Property_Name!=''">{{(ParentsPrimaryJobType.@Adm_ParentsPrimaryJobType.Property_Name)}}</strong>
                </span>
                <div class="widget-buttons buttons-bordered no-padding-right" style="display: none">
                    <span class="input-icon">
                        <input type="text" ng-model="ParentsPrimaryJobTypeId" ng-Enter="@(getParentsPrimaryJobTypeById)()" class="form-control input-xs " id="glyphicon-search" placeholder="Search" >
                        <i class="glyphicon glyphicon-search blue"></i>
                    </span>
                  
                </div>
                <div class="widget-buttons no-padding-left">
                    <button ng-click="@(getNewParentsPrimaryJobType)()" class="btn btn-success btn-xs"><i class="fa fa-plus"></i> Add New</button>
                    <a href="@(listParentsPrimaryJobTypePageUrl)" class="btn btn-blue btn-xs"><i class="fa fa-arrow-left" target="_blank"></i> Back To List</a>
                    <button ng-click="@refreshPage" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i> Refresh</button>
                </div>
            </div><!--Widget Header end-->
            <div class="widget-body">
                <div class="row">
                  <div class="col-md-6 table-form">
                     <table class="form" width="100%" border="0" cellspacing="2" cellpadding="3">
                        <tbody>
                             <tr>
                                <td class="fieldlabel">Name <span class="red glyphicon glyphicon-asterisk"></span></td>
                                <td class="fieldarea">
                                    <input type="text" ng-model="ParentsPrimaryJobType.@Adm_ParentsPrimaryJobType.Property_Name" class="form-control" placeholder="Enter Name" maxlength="255" required="" />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Name." data-toggle="tooltip"></i></span></td>
                            </tr>
                             <tr>
                                <td class="fieldlabel">Description </td>
                                <td class="fieldarea">
                                    <input type="text" ng-model="ParentsPrimaryJobType.@Adm_ParentsPrimaryJobType.Property_Description" class="form-control" placeholder="Enter Description"   />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Description." data-toggle="tooltip"></i></span></td>
                            </tr>
                             <tr>
                                <td class="fieldlabel">Order No </td>
                                <td class="fieldarea">
                                    <input type="number" ng-model="ParentsPrimaryJobType.@Adm_ParentsPrimaryJobType.Property_OrderNo" class="form-control" placeholder="Enter Order No"   />
                                </td>
                                <td class="fieldarea-tooltip"><span><i class="fa fa-question-circle" data-title="Enter Order No." data-toggle="tooltip"></i></span></td>
                            </tr>
                   

                            </tbody>
                        </table>
                    </div><!--Col end-->
                </div><!--Row end-->
            </div><!--Widget Body end-->
            <div class="widget-footer text-center">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <button ng-click="@(saveParentsPrimaryJobType)()" class="btn btn-md btn-success"><span class="fa fa-save"></span> Save</button>
                     </div>
                </div>
            </div>
        </div>
      </div><!--view permission end-->
    </div>
</div><!--controller end-->



