@using EMS.DataAccess.Data
@{
    // Angular Properties
    var id = Request.QueryString["id"]; //ViewContext.RouteData.Values["id"];
    var ClassId = (string)id == null ? "0" : (string)id;
}

<div class="widget-header bordered-bottom bordered-sky">
    <i class="widget-icon fa fa-user-secret"></i>
    <span  class="widget-caption">Manage Teachers</span>
    <div class="widget-buttons buttons-bordered">
        <button ng-click="refreshClassTeachers()" class="btn btn-xs btn-info"><i class="fa fa-refresh"></i> Refresh</button>
    </div>
</div>
<div class="widget">
    <div class="widget-header bordered-bottom bordered-green">
        <i class="widget-icon fa fa-users"></i>
        <span  class="widget-caption">Faculty</span>
        <label style="margin-left: 30px;">
            <input ng-model="isShowTrashedFaculty"
                   ng-change="refreshClassTeachers()"
                   type="checkbox" style="margin-top: 0px !important; vertical-align: middle; width: 18px;"/>
            <span style="color: #e74b37;">Show Deleted Faculty Only</span>
        </label>
        <div class="widget-buttons buttons-bordered">
            <button ng-click="searchTeachers(@((byte) Aca_ClassTakenByEmployee.RoleEnum.Faculty))"
                    type="button" class="btn btn-xs btn-success"
                    data-toggle="modal" data-target="#addCourseTeachersModal">
                <i class="fa fa-plus"></i> Add New Faculty
            </button>
        </div>
        <div class="widget-buttons compact">
            <a href="#" data-toggle="maximize">
                <i class="fa fa-expand"></i>
            </a>
            <a href="#" data-toggle="collapse">
                <i class="fa fa-minus"></i>
            </a>
        </div>
    </div>
    <div class="widget-body">
        <table class="table table-striped table-bordered table-hover">
            <thead class="bordered-blue">
                <tr>
                    <th class="text-center">SN</th>
                    <th class="text-center">User ID</th>
                    <th class="text-center">Name</th>
                    @*<th class="text-center">Enroll Type</th>*@
                    <th class="text-center">Position</th>
                    <th class="text-center">Department</th>
                    <th class="text-center">Status</th>
                    <th class="text-center" style="width: 70px;">Action</th>
                </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in ClassTeacherList|filter:{@Aca_ClassTakenByEmployee.Property_RoleEnumId:@((byte) Aca_ClassTakenByEmployee.RoleEnum.Faculty)}">
                <td class="text-center">{{$index+1}}</td>
                <td class="text-center">{{row.Employee.UserName}}</td>
                <td>
                    <a href="@Url.Action("UpdateEmployee", "ManageEmployee", new {area = "HR"})?id={{row.Employee.@User_Employee.Property_UserId}}&empId={{row.Employee.@User_Employee.Property_Id}}#Classes" target="_blank" title="click to view profile"> {{row.Employee.FullName}}</a> 
                </td>
                @*<td class="text-center padding-2">
                    <select ng-model="row.@Aca_ClassTakenByEmployee.Property_RoleEnumId"
                            ng-options="option.Id as option.Name for option in EmployeeRoleEnumList "
                            ng-init="" class="form-control padding-2"></select>
                </td>*@
                <td class="text-center padding-2">
                    @*<select ng-model="row.@Aca_ClassTakenByEmployee.Property_SectionEnumId"
                            ng-options="option.Id as option.Name for option in EmployeeSectionEnumList "
                            ng-init="" class="form-control padding-2"></select>*@
                </td>
                <td class="text-center padding-2">
                    @*<select ng-model="row.@Aca_ClassTakenByEmployee.Property_StatusEnumId"
                            ng-options="option.Id as option.Name for option in EmployeeStatusEnumList "
                            ng-init="" class="form-control padding-2"></select>*@
                </td>
                <td class="text-center padding-2">
                    <select ng-model="row.@Aca_ClassTakenByEmployee.Property_StatusEnumId"
                            ng-options="option.Id as option.Name for option in EmployeeStatusEnumList "
                            ng-init="" class="form-control padding-2"></select>
                </td>
                <td class="text-center">
                    <button ng-hide="row.IsDeleted" ng-click="deleteClassTeacher(row)" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i> Delete Permanently</button>
                    <button ng-hide="row.IsDeleted" ng-click="TrashClassTeacher(row)" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> </button>
                    <button ng-show="row.IsDeleted" ng-click="UnTrashClassTeacher(row)" class="btn btn-xs btn-warning"><i class="fa fa-undo"></i> </button>
                    <button style="margin: 3px" ng-click="openClassTakenByEmployeeHistory(row.@Aca_ClassTakenByEmployee.Property_History)" class="btn btn-xs btn-info"><i class="fa fa-eye"></i> </button>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- Modal -->
        <div class="modal fade" id="addCourseTeachersModal" tabindex="-1" role="dialog" aria-labelledby="addCourseTeachersModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span  aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="addCourseTeachersModalLabel">Add Faculty in this Course</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group form-inline">
                            <span  class="text-info">Select : </span>
                            <span >Department </span>
                            <div class="widget-buttons no-padding-left form-inline">
                                <select ng-model="SearchTeachersByDepartmentId" ng-options="option.Id as option.Name group by option.Type  for option in AllDepartmentList" class="form-control input-xs">
                                    <option value="">---Select All Department---</option>
                                </select>
                            </div>
                            <select ng-model="SearchTeachersByDepartmentId" ng-options="option.Id as option.Name for option in AllDepartmentList" class="form-control input-xs" required></select>
                            @*<select ng-model="SearchTeacherCampusId"
                                    ng-options="option.Id as option.Name for option in CampusList " ng-init="" class="form-control input-xs" style="width: 105px;"></select>*@

                             <button ng-click="searchTeachers(@((byte) Aca_ClassTakenByEmployee.RoleEnum.Faculty))" class="btn btn-xs btn-primary"><i class="fa fa-search"></i> Search</button>
                            <button type="button"
                                    ng-click="addClassTeachers(
                                                    @((byte) Aca_ClassTakenByEmployee.RoleEnum.Faculty),
                                                    @((byte) Aca_ClassTakenByEmployee.SectionEnum.BothSection),
                                                    @((byte) Aca_ClassTakenByEmployee.StatusEnum.Active)
                                                    )"
                                    class="btn btn-xs btn-success pull-right">
                                <i class="fa fa-plus"></i> Add
                            </button>
                        </div>
                        <div class="form-group no-margin">
                            <div class="input-icon icon-right input-group-xs">
                                <input ng-model="searchAddFaculty" class="form-control input-xs" id="searchAddFaculty" type="text" placeholder="type to search from below list" autocomplete="on">
                                <i class="white fa fa-times bg-purple" ng-click="searchAddFaculty='';"></i>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover">
                            <thead class="bordered-blue">
                                <tr>
                                    <th class="text-center">
                                        @*<input type="checkbox" ng-model="SelectAllTeachers" ng-change="selectAllTeachers()" class="form-control">*@
                                    </th>
                                    <th class="text-center">SN</th>
                                    <th class="text-center">User ID</th>
                                    <th class="text-center">Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in TeacherList|filter:searchAddFaculty" ng-class="{ 'success': row.IsAlreadyAdded }">
                                    <td class="text-center">
                                        <input type="checkbox"
                                               ng-hide="row.IsAlreadyAdded"
                                               ng-disabled="row.IsAlreadyAdded"
                                               ng-model="row.IsSelected"
                                               ng-change="selectTeacher(row)"
                                               class="form-control">
                                    </td>
                                    <td class="text-center">{{$index+1}}</td>
                                    <td>{{row.UserName}}</td>
                                    <td>
                                        <a href="@Url.Action("UpdateEmployee", "ManageEmployee", new {area = "HR"})?id={{row.@User_Employee.Property_UserId}}&empId={{row.@User_Employee.Property_Id}}#Classes" target="_blank" title="click to view profile"> {{row.FullName}}</a> 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                        <button type="button"
                                ng-click="addClassTeachers(
                                                @((byte) Aca_ClassTakenByEmployee.RoleEnum.Faculty),
                                                @((byte) Aca_ClassTakenByEmployee.SectionEnum.BothSection),
                                                @((byte) Aca_ClassTakenByEmployee.StatusEnum.Active)
                                                )"
                                class="btn btn-success">
                            <i class="fa fa-plus"></i> Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal End -->
        
        <!--History Modal Start-->
        <div class="modal fade" id="classTakenByTeacherHistoryModal" tabindex="-1" role="dialog" aria-labelledby="classTakenByTeacherHistoryModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="classTakenByTeacherHistoryModalLabel"> History</h4>
                    </div>
                    <div class="modal-body">
                        <div class="show-assesment well with-header" style="padding-top: 0px !important;">
                            <div class="row">
                                <div class="col-md-12 table-form">
                                    <table class="form" width="100%" border="0" cellspacing="2" cellpadding="3">
                                        <tbody>
                                        <tr>
                                            <td style="text-align: left;padding: 5px !important;" ng-bind-html="renderHtml(ClassTakenByEmployeeHistoryMsg)"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning text-center" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--History Modal End-->
    </div>
</div>
@*<div class="widget">
    <div class="widget-header bordered-bottom bordered-green">
        <i class="widget-icon fa fa-users"></i>
        <span  class="widget-caption">
            Examiner Exam
        </span>
        <div class="widget-buttons buttons-bordered">
            <button ng-click="searchTeachers(@((byte) Aca_ClassTakenByEmployee.RoleEnum.ExaminerRegularExam))"
                    type="button" class="btn btn-xs btn-success"
                    data-toggle="modal" data-target="#addCourseExaminerRegularExamTeachersModal">
                <i class="fa fa-plus"></i> Add New
            </button>
        </div>
        <div class="widget-buttons compact">
            <a href="#" data-toggle="maximize">
                <i class="fa fa-expand"></i>
            </a>
            <a href="#" data-toggle="collapse">
                <i class="fa fa-minus"></i>
            </a>
        </div>
    </div>
    <div class="widget-body">
        <h5>Regular Exam Examiner</h5>
        <table class="table table-striped table-bordered table-hover">
            <thead class="bordered-blue">
                <tr>
                    <th class="text-center">SN</th>
                    <th class="text-center">User ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Enroll Type</th>
                    <th class="text-center">Section</th>
                    <th class="text-center">Status</th>
                    <th class="text-center" style="width: 70px;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in ClassTeacherList|filter:{@Aca_ClassTakenByEmployee.Property_RoleEnumId:@((byte) Aca_ClassTakenByEmployee.RoleEnum.ExaminerRegularExam)}">
                    <td class="text-center">{{$index+1}}</td>
                    <td class="text-center">{{row.Employee.UserName}}</td>
                    <td><a href="@Url.Action("EmployeeAddEdit", "Employee", new {area = "HR"})?id={{row.Employee.Id}}#Classes" target="_blank" title="click to view profile"> {{row.Employee.FullName}}</a> </td>
                    <td class="text-center padding-2">
                        <select ng-model="row.@Aca_ClassTakenByEmployee.Property_RoleEnumId"
                                ng-options="option.Id as option.Name for option in EmployeeExaminerRoleEnumList "
                                ng-init="" class="form-control padding-2"></select>
                    </td>
                    <td class="text-center padding-2">
                        <select ng-model="row.@Aca_ClassTakenByEmployee.Property_SectionEnumId"
                                ng-options="option.Id as option.Name for option in EmployeeSectionEnumList "
                                ng-init="" class="form-control padding-2"></select>
                    </td>
                    <td class="text-center padding-2">
                        <select ng-model="row.@Aca_ClassTakenByEmployee.Property_StatusEnumId"
                                ng-options="option.Id as option.Name for option in EmployeeStatusEnumList "
                                ng-init="" class="form-control padding-2"></select>
                    </td>
                    <td class="text-center">
                        <button ng-click="deleteClassTeacher(row)" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i> Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <h5>Referred Exam Examiner</h5>
        <table class="table table-striped table-bordered table-hover">
            <thead class="bordered-blue">
                <tr>
                    <th class="text-center">SN</th>
                    <th class="text-center">User ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Enroll Type</th>
                    <th class="text-center">Section</th>
                    <th class="text-center">Status</th>
                    <th class="text-center" style="width: 70px;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in ClassTeacherList|filter:{@Aca_ClassTakenByEmployee.Property_RoleEnumId:@((byte) Aca_ClassTakenByEmployee.RoleEnum.ExaminerReferredExam)}">
                    <td class="text-center">{{$index+1}}</td>
                    <td class="text-center">{{row.Employee.UserName}}</td>
                    <td><a href="@Url.Action("EmployeeAddEdit", "Employee", new {area = "HR"})?id={{row.Employee.Id}}#Classes" target="_blank" title="click to view profile"> {{row.Employee.FullName}}</a> </td>
                    <td class="text-center padding-2">
                        <select ng-model="row.@Aca_ClassTakenByEmployee.Property_RoleEnumId"
                                ng-options="option.Id as option.Name for option in EmployeeExaminerRoleEnumList "
                                ng-init="" class="form-control padding-2"></select>
                    </td>
                    <td class="text-center padding-2">
                        <select ng-model="row.@Aca_ClassTakenByEmployee.Property_SectionEnumId"
                                ng-options="option.Id as option.Name for option in EmployeeSectionEnumList "
                                ng-init="" class="form-control padding-2"></select>
                    </td>
                    <td class="text-center padding-2">
                        <select ng-model="row.@Aca_ClassTakenByEmployee.Property_StatusEnumId"
                                ng-options="option.Id as option.Name for option in EmployeeStatusEnumList "
                                ng-init="" class="form-control padding-2"></select>
                    </td>
                    <td class="text-center">
                        <button ng-click="deleteClassTeacher(row)" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i> Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <h5>Backlog Exam Examiner</h5>
        <table class="table table-striped table-bordered table-hover">
            <thead class="bordered-blue">
                <tr>
                    <th class="text-center">SN</th>
                    <th class="text-center">User ID</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Enroll Type</th>
                    <th class="text-center">Section</th>
                    <th class="text-center">Status</th>
                    <th class="text-center" style="width: 70px;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in ClassTeacherList|filter:{@Aca_ClassTakenByEmployee.Property_RoleEnumId:@((byte) Aca_ClassTakenByEmployee.RoleEnum.ExaminerBacklogExam)}">
                    <td class="text-center">{{$index+1}}</td>
                    <td class="text-center">{{row.Employee.UserName}}</td>
                    <td><a href="@Url.Action("EmployeeAddEdit", "Employee", new {area = "HR"})?id={{row.Employee.Id}}#Classes" target="_blank" title="click to view profile"> {{row.Employee.FullName}}</a> </td>
                    <td class="text-center padding-2">
                        <select ng-model="row.@Aca_ClassTakenByEmployee.Property_RoleEnumId"
                                ng-options="option.Id as option.Name for option in EmployeeExaminerRoleEnumList "
                                ng-init="" class="form-control padding-2"></select>
                    </td>
                    <td class="text-center padding-2">
                        <select ng-model="row.@Aca_ClassTakenByEmployee.Property_SectionEnumId"
                                ng-options="option.Id as option.Name for option in EmployeeSectionEnumList "
                                ng-init="" class="form-control padding-2"></select>
                    </td>
                    <td class="text-center padding-2">
                        <select ng-model="row.@Aca_ClassTakenByEmployee.Property_StatusEnumId"
                                ng-options="option.Id as option.Name for option in EmployeeStatusEnumList "
                                ng-init="" class="form-control padding-2"></select>
                    </td>
                    <td class="text-center">
                        <button ng-click="deleteClassTeacher(row)" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i> Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Modal -->
        <div class="modal fade" id="addCourseExaminerRegularExamTeachersModal" tabindex="-1" role="dialog" aria-labelledby="addCourseExaminerRegularExamTeachersModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span  aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="addCourseExaminerRegularExamTeachersModalLabel">Add Examiner Regular Exam in this Course</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group form-inline">
                            <span  class="text-info">Select : </span>
                            <span >Department </span>
                            <select ng-model="SearchTeachersByDepartmentId" ng-options="option.Id as option.Name for option in AllDepartmentList" class="form-control input-xs" required></select>
                            <select ng-model="SearchTeacherCampusId"
                                    ng-options="option.Id as option.Name for option in CampusList " ng-init="" class="form-control input-xs" style="width: 105px;"></select>
                            <button ng-click="searchTeachers(@((byte) Aca_ClassTakenByEmployee.RoleEnum.ExaminerRegularExam))" class="btn btn-xs btn-primary"><i class="fa fa-search"></i> Search</button>
                            <button type="button"
                                    ng-click="addClassTeachers(
                                                    @((byte) Aca_ClassTakenByEmployee.RoleEnum.ExaminerRegularExam),
                                                    @((byte) Aca_ClassTakenByEmployee.SectionEnum.BothSection),
                                                    @((byte) Aca_ClassTakenByEmployee.StatusEnum.Active)
                                                    )"
                                    class="btn btn-xs btn-success pull-right">
                                <i class="fa fa-plus"></i> Add
                            </button>
                        </div>
                        <div class="form-group no-margin">
                            <div class="input-icon icon-right input-group-xs">
                                <input ng-model="searchAddExaminer" class="form-control input-xs" id="searchAddExaminer" type="text" placeholder="type to search from below list" autocomplete="on">
                                <i class="white fa fa-times bg-purple" ng-click="searchAddExaminer='';"></i>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover">
                            <thead class="bordered-blue">
                                <tr>
                                    <th class="text-center">
                                        <input type="checkbox" ng-model="SelectAllTeachers" ng-change="selectAllTeachers()" class="form-control">
                                    </th>
                                    <th class="text-center">SN</th>
                                    <th class="text-center">User ID</th>
                                    <th class="text-center">Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in TeacherList|filter:searchAddExaminer" ng-class="{ 'success': row.IsAlreadyAdded }">
                                    <td class="text-center">
                                        <input type="checkbox"
                                               ng-hide="row.IsAlreadyAdded"
                                               ng-disabled="row.IsAlreadyAdded"
                                               ng-model="row.IsSelected"
                                               ng-change="selectTeacher($index)"
                                               class="form-control">
                                    </td>
                                    <td class="text-center">{{$index+1}}</td>
                                    <td>{{row.UserName}}</td>
                                    <td>{{row.FullName}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                        <button type="button"
                                ng-click="addClassTeachers(
                                                @((byte) Aca_ClassTakenByEmployee.RoleEnum.ExaminerRegularExam),
                                                @((byte) Aca_ClassTakenByEmployee.SectionEnum.BothSection),
                                                @((byte) Aca_ClassTakenByEmployee.StatusEnum.Active)
                                                )"
                                class="btn btn-success">
                            <i class="fa fa-plus"></i> Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal End -->
    </div>
</div>
<div class="widget">
    <div class="widget-header bordered-bottom bordered-green">
        <i class="widget-icon fa fa-users"></i>
        <span  class="widget-caption">
            Scrutinizer Exam
        </span>
        <div class="widget-buttons buttons-bordered">
            <button ng-click="searchTeachers(@((byte) Aca_ClassTakenByEmployee.RoleEnum.ScrutinizerRegularExam))"
                    type="button" class="btn btn-xs btn-success"
                    data-toggle="modal" data-target="#addCourseScrutinizerRegularExamTeachersModal">
                <i class="fa fa-plus"></i> Add New
            </button>
        </div>
        <div class="widget-buttons compact">
            <a href="#" data-toggle="maximize">
                <i class="fa fa-expand"></i>
            </a>
            <a href="#" data-toggle="collapse">
                <i class="fa fa-minus"></i>
            </a>
        </div>
    </div>
    <div class="widget-body">
        <h5>Regular Exam Scrutinizer</h5>
        <table class="table table-striped table-bordered table-hover">
            <thead class="bordered-blue">
            <tr>
                <th class="text-center">SN</th>
                <th class="text-center">User ID</th>
                <th class="text-center">Name</th>
                <th class="text-center">Enroll Type</th>
                <th class="text-center">Section</th>
                <th class="text-center">Status</th>
                <th class="text-center" style="width: 70px;">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in ClassTeacherList|filter:{@Aca_ClassTakenByEmployee.Property_RoleEnumId:@((byte) Aca_ClassTakenByEmployee.RoleEnum.ScrutinizerRegularExam)}">
                <td class="text-center">{{$index+1}}</td>
                <td class="text-center">{{row.Employee.UserName}}</td>
                <td><a href="@Url.Action("EmployeeAddEdit", "Employee", new {area = "HR"})?id={{row.Employee.Id}}#Classes" target="_blank" title="click to view profile"> {{row.Employee.FullName}}</a> </td>
                <td class="text-center padding-2">
                    <select ng-model="row.@Aca_ClassTakenByEmployee.Property_RoleEnumId"
                            ng-options="option.Id as option.Name for option in EmployeeScrutinizerRoleEnumList "
                            ng-init="" class="form-control padding-2"></select>
                </td>
                <td class="text-center padding-2">
                    <select ng-model="row.@Aca_ClassTakenByEmployee.Property_SectionEnumId"
                            ng-options="option.Id as option.Name for option in EmployeeSectionEnumList "
                            ng-init="" class="form-control padding-2"></select>
                </td>
                <td class="text-center padding-2">
                    <select ng-model="row.@Aca_ClassTakenByEmployee.Property_StatusEnumId"
                            ng-options="option.Id as option.Name for option in EmployeeStatusEnumList "
                            ng-init="" class="form-control padding-2"></select>
                </td>
                <td class="text-center">
                    <button ng-click="deleteClassTeacher(row)" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i> Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
        <h5>Referred Exam Scrutinizer</h5>
        <table class="table table-striped table-bordered table-hover">
            <thead class="bordered-blue">
            <tr>
                <th class="text-center">SN</th>
                <th class="text-center">User ID</th>
                <th class="text-center">Name</th>
                <th class="text-center">Enroll Type</th>
                <th class="text-center">Section</th>
                <th class="text-center">Status</th>
                <th class="text-center" style="width: 70px;">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in ClassTeacherList|filter:{@Aca_ClassTakenByEmployee.Property_RoleEnumId:@((byte) Aca_ClassTakenByEmployee.RoleEnum.ScrutinizerReferredExam)}">
                <td class="text-center">{{$index+1}}</td>
                <td class="text-center">{{row.Employee.UserName}}</td>
                <td><a href="@Url.Action("EmployeeAddEdit", "Employee", new {area = "HR"})?id={{row.Employee.Id}}#Classes" target="_blank" title="click to view profile"> {{row.Employee.FullName}}</a> </td>
                <td class="text-center padding-2">
                    <select ng-model="row.@Aca_ClassTakenByEmployee.Property_RoleEnumId"
                            ng-options="option.Id as option.Name for option in EmployeeScrutinizerRoleEnumList "
                            ng-init="" class="form-control padding-2"></select>
                </td>
                <td class="text-center padding-2">
                    <select ng-model="row.@Aca_ClassTakenByEmployee.Property_SectionEnumId"
                            ng-options="option.Id as option.Name for option in EmployeeSectionEnumList "
                            ng-init="" class="form-control padding-2"></select>
                </td>
                <td class="text-center padding-2">
                    <select ng-model="row.@Aca_ClassTakenByEmployee.Property_StatusEnumId"
                            ng-options="option.Id as option.Name for option in EmployeeStatusEnumList "
                            ng-init="" class="form-control padding-2"></select>
                </td>
                <td class="text-center">
                    <button ng-click="deleteClassTeacher(row)" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i> Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
        <h5>Backlog Exam Scrutinizer</h5>
        <table class="table table-striped table-bordered table-hover">
            <thead class="bordered-blue">
            <tr>
                <th class="text-center">SN</th>
                <th class="text-center">User ID</th>
                <th class="text-center">Name</th>
                <th class="text-center">Enroll Type</th>
                <th class="text-center">Section</th>
                <th class="text-center">Status</th>
                <th class="text-center" style="width: 70px;">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in ClassTeacherList|filter:{@Aca_ClassTakenByEmployee.Property_RoleEnumId:@((byte) Aca_ClassTakenByEmployee.RoleEnum.ScrutinizerBacklogExam)}">
                <td class="text-center">{{$index+1}}</td>
                <td class="text-center">{{row.Employee.UserName}}</td>
                <td><a href="@Url.Action("EmployeeAddEdit", "Employee", new {area = "HR"})?id={{row.Employee.Id}}#Classes" target="_blank" title="click to view profile"> {{row.Employee.FullName}}</a> </td>
                <td class="text-center padding-2">
                    <select ng-model="row.@Aca_ClassTakenByEmployee.Property_RoleEnumId"
                            ng-options="option.Id as option.Name for option in EmployeeScrutinizerRoleEnumList "
                            ng-init="" class="form-control padding-2"></select>
                </td>
                <td class="text-center padding-2">
                    <select ng-model="row.@Aca_ClassTakenByEmployee.Property_SectionEnumId"
                            ng-options="option.Id as option.Name for option in EmployeeSectionEnumList "
                            ng-init="" class="form-control padding-2"></select>
                </td>
                <td class="text-center padding-2">
                    <select ng-model="row.@Aca_ClassTakenByEmployee.Property_StatusEnumId"
                            ng-options="option.Id as option.Name for option in EmployeeStatusEnumList "
                            ng-init="" class="form-control padding-2"></select>
                </td>
                <td class="text-center">
                    <button ng-click="deleteClassTeacher(row)" class="btn btn-xs btn-danger"><i class="fa fa-remove"></i> Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- Modal -->
        <div class="modal fade" id="addCourseScrutinizerRegularExamTeachersModal" tabindex="-1" role="dialog" aria-labelledby="addCourseScrutinizerRegularExamTeachersModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span  aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="addCourseScrutinizerRegularExamTeachersModalLabel">Add Scrutinizer Regular Exam in this Course</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group form-inline">
                            <span  class="text-info">Select : </span>
                            <span >Department </span>
                            <select ng-model="SearchTeachersByDepartmentId" ng-options="option.Id as option.Name for option in AllDepartmentList" class="form-control input-xs" required></select>
                            <select ng-model="SearchTeacherCampusId"
                                    ng-options="option.Id as option.Name for option in CampusList " ng-init="" class="form-control input-xs" style="width: 105px;"></select>
                            <button ng-click="searchTeachers(@((byte) Aca_ClassTakenByEmployee.RoleEnum.ScrutinizerRegularExam))" class="btn btn-xs btn-primary"><i class="fa fa-search"></i> Search</button>
                            <button type="button"
                                    ng-click="addClassTeachers(
                                                    @((byte) Aca_ClassTakenByEmployee.RoleEnum.ScrutinizerRegularExam),
                                                    @((byte) Aca_ClassTakenByEmployee.SectionEnum.BothSection),
                                                    @((byte) Aca_ClassTakenByEmployee.StatusEnum.Active)
                                                    )"
                                    class="btn btn-xs btn-success pull-right">
                                <i class="fa fa-plus"></i> Add
                            </button>
                        </div>
                        <div class="form-group no-margin">
                            <div class="input-icon icon-right input-group-xs">
                                <input ng-model="searchAddScrutinizer" class="form-control input-xs" id="searchAddScrutinizer" type="text" placeholder="type to search from below list" autocomplete="on">
                                <i class="white fa fa-times bg-purple" ng-click="searchAddScrutinizer='';"></i>
                            </div>
                        </div>
                        <table class="table table-striped table-bordered table-hover">
                            <thead class="bordered-blue">
                            <tr>
                                <th class="text-center">
                                    <input type="checkbox" ng-model="SelectAllTeachers" ng-change="selectAllTeachers()" class="form-control">
                                </th>
                                <th class="text-center">SN</th>
                                <th class="text-center">User ID</th>
                                <th class="text-center">Name</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in TeacherList|filter:searchAddScrutinizer" ng-class="{ 'success': row.IsAlreadyAdded }">
                                <td class="text-center">
                                    <input type="checkbox"
                                           ng-hide="row.IsAlreadyAdded"
                                           ng-disabled="row.IsAlreadyAdded"
                                           ng-model="row.IsSelected"
                                           ng-change="selectTeacher($index)"
                                           class="form-control">
                                </td>
                                <td class="text-center">{{$index+1}}</td>
                                <td>{{row.UserName}}</td>
                                <td>{{row.FullName}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                        <button type="button"
                                ng-click="addClassTeachers(
                                                @((byte) Aca_ClassTakenByEmployee.RoleEnum.ScrutinizerRegularExam),
                                                @((byte) Aca_ClassTakenByEmployee.SectionEnum.BothSection),
                                                @((byte) Aca_ClassTakenByEmployee.StatusEnum.Active)
                                                )"
                                class="btn btn-success">
                            <i class="fa fa-plus"></i> Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal End -->
    </div>
</div>*@


<div class="widget-footer">
    <button ng-click="saveAllClassTeachers()" class="btn btn-success"><i class="fa fa-save"></i> Save All Teacher</button>
</div>
