<!--File:Inv_Inventory List View-->
@using EMS.DataAccess.Data;
@{
    ViewBag.Title = "Inventory: Inventory List";
    Layout = "~/Areas/Inventory/Views/Shared/_LayoutInventory.cshtml";

    // Angular Properties
    var id = Request.QueryString["id"];//ViewContext.RouteData.Values["id"];
    var InventoryId = (string)id == null ? "0" : (string)id;

    //WebApi link for single row
    var getInventoryByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "InventoryApi", action = "GetInventoryById", area = "Inventory" });
    var getInventoryDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "InventoryApi", action = "GetInventoryDataExtra", area = "Inventory" });
    var saveInventoryUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "InventoryApi", action = "SaveInventory", area = "Inventory" });
    var deleteInventoryByIdUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "InventoryManagerApi", action = "GetDeleteInventoryById", area = "Inventory" });

    //WebApi link for List
    var getPagedInventoryUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "InventoryApi", action = "GetPagedInventory", area = "Inventory" });
    var getAllInventoryUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "InventoryApi", action = "GetAllInventory", area = "Inventory" });
    var saveInventoryListUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "InventoryApi", action = "SaveInventoryList", area = "Inventory" });
    var getInventoryListDataExtraUrl = Url.HttpRouteUrl("DefaultApi", new { controller = "InventoryApi", action = "GetInventoryListDataExtra", area = "Inventory" });

    var editInventoryByIdPageUrl = Url.Action("InventoryAddEdit", "InventoryManager", new { area = "Inventory" });

    var printInventoryById = Url.Action("InventoryPrint", "Report", new { area = "BasicAccounting" });



    //Angular Function Name
    var getNewInventory = "getNewInventory";
    var saveInventory = "saveInventory";
    var deleteInventoryById = "deleteInventoryById";
    var deleteInventoryByObj = "deleteInventoryByObj";
    //for list
    var searchInventoryList = "searchInventoryList";
    var getPagedInventoryList = "getPagedInventoryList";
    var getAllInventoryList = "getAllInventoryList";
    var saveInventoryList = "saveInventoryList";
    var getInventoryListExtraData = "getInventoryListExtraData";

    var refreshPage = "loadPage()";

}
@section ScriptSection
{
    <script src="~/Areas/Inventory/Views/Inventory/InventoryList.js"></script>
}


<div ng-controller="InventoryListCtrl"
     ng-init="Init(
      '@getPagedInventoryUrl'
     ,'@deleteInventoryByIdUrl'
     ,'@getInventoryListDataExtraUrl'
     ,'@saveInventoryListUrl'
     ,'@getInventoryByIdUrl'
     ,'@getInventoryDataExtraUrl'
     ,'@saveInventoryUrl'
     )">
    <div ng-Hide="!HasError ||ErrorMsg==''" class="alert alert-danger fade in radius-bordered alert-shadowed">
        <button ng-click="HasError=false" class="close" data-dismiss1="alert">×</button>
        <i class="fa-fw fa fa-warning"></i>
        <strong>Attention Please!</strong> {{ErrorMsg}}
    </div>
    <div class="widget" ng-show="HasViewPermission">

        <div class="widget-header bordered-bottom bordered-sky ">
            <i class="widget-icon fa fa-list bold  "></i>
            <span class="widget-caption ">Manage Inventory </span>
            <div class="widget-buttons buttons-bordered no-padding-right" style="display:none">
                <span class="widget-caption form-inline">
                    @*<span>Select Supplier</span>*@
                    <select ng-model="SelectedSupplierId" ng-change="@(searchInventoryList)()"
                            ng-options="option.Id as option.Name for option in SupplierList " ng-init="" class="form-control input-xs ">
                        <option value="" label="" class="">---Select All Supplier---</option>
                    </select>
                </span>
            </div>
            <div class="widget-buttons buttons-bordered no-padding-right">
                <span class="input-icon">
                    <input type="text" ng-model="SearchText" ng-Enter="@(searchInventoryList)()" class="form-control input-xs " id="glyphicon-search" placeholder="Search" style="">
                    <i class="glyphicon glyphicon-search blue"></i>
                </span>
            </div>
            <div class="widget-buttons no-padding-left">
                <a target="_blank" href="@editInventoryByIdPageUrl?id=0" class="btn btn-xs btn-success"><i class="fa fa-plus"></i> Add New</a>
                <button ng-click="@(searchInventoryList)()" class="btn btn-info btn-xs"><i class="fa fa-refresh"></i> Refresh</button>
            </div>
        </div>
        <div class="widget-body no-padding" style="overflow:auto">
            <div class="table-footer no-print">
                @OptionControl()
            </div>
            <table class="table table-striped table-bordered table-hover">
                <thead class="bordered-blue">
                    <tr>
                        <th class="text-center" style="display:none">
                            <input type="checkbox" ng-click="selectAll($event)">
                        </th>
                        <th class="text-center">SN</th>
                        <th class="text-center">Store Id</th>
                        <th class="text-center">Voucher No</th>
                        <th class="text-center">Voucher Date</th>
                        <th class="text-center">Invoice No </th>
                        <th class="text-center">Invoice Date </th>
                        <th class="text-center">Purchase Order No </th>
                        <th class="text-center">PurchaseOrder  Date</th>
                        <th class="text-center">Chalan No </th>
                        <th class="text-center">Chalan Date </th>
                        <th class="text-center">Received Date  </th>
                        <th class="text-center">Received By </th>
                        <th class="text-center">Supplier Id </th>
                        <th class="text-center">Remark </th>
                        <th class="text-center">History  </th>

                        @*<th class="text-center">Last Update</th>*@
                        @*<th class="text-center">Is Deleted</th>*@
                        <th class="text-center no-print" style="width: 160px">Action</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="row in InventoryList">
                        <td class="text-center" style="display:none">
                            <input type="checkbox" ng-model="row.@Inv_Inventory.Property_IsSelected" />
                        </td>
                        <td class="text-center">{{$index+1}}</td>
                        <td class="">{{row.@Inv_Inventory.Property_StoreId}}</td>
                        <td class="">{{row.@Inv_Inventory.Property_VoucherNo}}</td>
                        <td class="">{{row.@Inv_Inventory.Property_VoucherDate}}</td>
                        <td class="">{{row.@Inv_Inventory.Property_InvoiceNo}}</td>
                        <td class="">{{row.@Inv_Inventory.Property_InvoiceDate}}</td>
                        <td class="">{{row.@Inv_Inventory.Property_PurchaseOrderNo}}</td>
                        <td class="">{{row.@Inv_Inventory.Property_PurchaseOrderDate}}</td>
                        <td class="">{{row.@Inv_Inventory.Property_ChalanNo}}</td>
                        <td class="">{{row.@Inv_Inventory.Property_ChalanDate}}</td>
                        <td class="">{{row.@Inv_Inventory.Property_ReceivedDate}}</td>
                        <td class="">{{row.@Inv_Inventory.Property_ReceivedBy}}</td>
                        <td class="">{{row.@Inv_Inventory.Property_SupplierId}}</td>
                        <td class="">{{row.@Inv_Inventory.Property_Remark}}</td>
                        <td class="">{{row.@Inv_Inventory.Property_History}}</td>

                        @*<td class="">{{row.@Inv_Inventory.Property_LastUpdate}}</td>*@
                        @*<td class="">{{row.@Inv_Inventory.Property_IsDeleted}}</td>*@
                        <td class="text-center no-print">
                            <a target="_blank" href="@(editInventoryByIdPageUrl)/?id={{row.Id}}" class="btn btn-xs btn-primary"><i class="fa fa-edit"></i> Edit</a>
                            <button ng-click="@(deleteInventoryById)(row)" class="btn btn-xs btn-danger"><i class="fa fa-trash"></i></button>
                            <a target="_blank" href="@(printInventoryById)/?id={{row.Id}}" class="btn btn-xs btn-primary"><i class="fa fa-print"></i> Print</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="table-footer no-print">
                @OptionControl()
            </div>
        </div>
    </div>
</div>

@helper  OptionControl()
{
    <div class="row no-print">
        <div class="col-sm-12">
            <div class="form-inline pull-left">
                <div class="form-group">
                    <label ng-hide="totalServerItems==0">Showing {{totalServerItems*(PageNo-1)+1}} to {{totalServerItems*PageNo}} of {{totalItems}} </label>
                    <label ng-show="totalServerItems==0" class="text-danger">No Data Found!</label>
                </div>
            </div>
            <div class="form-inline pull-right">
                <div class="form-group">
                    <label>Page Size</label>
                    <input ng-model="PageSize" ng-enter="changePageSize()" class="form-control input-opt" autocomplete="on" placeholder="Page Size" type="number" min="1">
                </div>
                <div class="form-group">
                    <label>Page No.</label>
                    <input ng-model="PageNo" ng-enter="changePageNo()" class="form-control input-opt" autocomplete="on" placeholder="Page No" type="number" min="1">
                    <label>of {{totalItems/PageSize| number:0}}</label>
                </div>
                <div class="form-group">
                    <button ng-click="prev()" ng-hide="totalItems == 0 || PageNo <= 1" class="btn btn-info btn-opt" type="button"><i class="fa fa-angle-double-left"></i>Previous&nbsp;</button>
                    <button ng-click="next()" ng-hide="totalItems == 0 || PageNo >= totalPage" class="btn btn-info btn-opt" type="button">&nbsp;Next&nbsp;<i class="fa fa-angle-double-right"></i></button>
                </div>
            </div>
        </div>
    </div>
}



