@using BeyondThemes.Bootstrap
@using EMS.Framework.Settings
@model EMS.Web.UI.Models.ResetPasswordViewModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";

    ViewBag.FormTitle = "Reset Confirmation";
}

@section StyleSection
{

    <link href="~/assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Views/CommonManager/PasswordValidation.css" rel="stylesheet" />

    <style>
        .login-block .container {
            max-width: 395px;
            margin: 0 auto;
        }
        .alert {
            margin-bottom: 10px;
        }
        label {
            margin-bottom: 2px;
        }
        .form-control {
            height: 30px;
        }
        ul {
            margin-bottom: 0px;
        }
        p {
            margin: 0 0 3px;
        }
        
    </style>
}
@section ScriptSection
{
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/Views/CommonManager/PasswordValidation.js?v=1"></script>
}

<div class="form-group">
    @if (!ViewBag.IsSuccessReset)
    {
        <div class="thumbnail" style="">
            <b>New Password Guide:</b><br />
            <ul style="margin: 0; padding: 0; margin-left: 0px;" class="list-unstyled">
                <li><span class="upper-case"><i class="fa fa-times" aria-hidden="true"></i></span>One upper case letter (A-Z)</li>
                <li><span class="low-case"><i class="fa fa-times" aria-hidden="true"></i></span>One lower case letter (a-z)</li>
                <li><span class="one-number"><i class="fa fa-times" aria-hidden="true"></i></span>One numeric digit (0-9)</li>
                <li><span class="one-special-char"><i class="fa fa-times" aria-hidden="true"></i></span>One special symbol (!@@#$%^&*?_~)</li>
                <li><span class="eight-character"><i class="fa fa-times" aria-hidden="true"></i></span>Must be 8 characters minimum long.</li>
            </ul>
        </div>
        <div>
            <label>Verification Code :</label>
            @Html.TextBoxFor(m => m.Code, new { @class = "form-control", placeholder = "Verification Code", @autocomplete = "off" })
            @Html.ValidationMessageFor(m => m.Code, "", new { @class = "text-danger" })
        </div>
        <div>
            <label>New Password:</label>
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "New Password", id = "password", autocomplete = "off", AutoCompleteType = "Disabled" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })

            <div id="popover-password">
                <ul id="contains-sequences" style="padding-left: 13px; color: red; display: none;">
                    <li>Your password contains sequences</li>
                </ul>
                <p>Password Strength: <span id="result"> </span></p>
                <div class="progress">
                    <div id="password-strength" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                    </div>
                </div>

            </div>
        </div>
        <div>
            <label>Confirm New Password:</label>
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm New Password", id = "confirm-password" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            <ul id="popover-cpassword" class="hide" style="padding-left: 13px; color: red;">
                <li>Password don't match</li>
            </ul>
        </div>
    }
   

</div>


<div class="row form-check">

    <div class="col-md-12 text-center">
        <a href="@Url.Action("Index", "Login")" class="btn btn-default btn-warning" >Back To Login</a>
        @if (!ViewBag.IsSuccessReset)
        {
            @Html.Bootstrap().SubmitButton().Text("Reset Password").HtmlAttributes("class=''").Id("submit-btn-id").Disabled().Color(BootstrapColors.Success).Shiny()
        }
    </div>
</div>

